.limits{
	&__col{
		background: rgba(255,255,255,.13);
		border-radius: 12px;
		margin-bottom: 20px;
	}
	&__row{
		padding: 22px 41px 19px 30px;
		border-bottom: 1px solid rgba(255,255,255,.15);
		display: flex;
		justify-content: space-between;
		position: relative;
		align-items: center;
		&:last-child{
			border-bottom: none;
		}
		&::before{
			@include icon_fonts;
			font-size: 32px;
			position: absolute;
			top: 50%;
			left: 29px;
			transform: translateY(-50%);
		}
		&_1{
			padding-left: 97px;
			&:before{
				content: '\e922';
			}
		}
		&_2{
			padding-left: 97px;
			// border-bottom: 1px solid rgba(255,255,255,.5);
			&:before{
				content: '\e923';
			}
		}
		&_3{
			padding-left: 97px;
			&:before{
				content: '\e924';
				font-size: 35px;
			}
		}
	}
	&__title{
		font-size: 17px;
		font-weight: 700;
		text-transform: uppercase;
		&_timeout{
			border-bottom: 1px solid rgba(255,255,255,.5);
			margin: 0 -30px;
			padding: 0 30px 20px;
		}
	}
	&__timeout{
		background: rgba(255,255,255,.13);
		border-radius: 12px;
		margin-bottom: 20px;
		padding: 25px 30px;
	}
	&__description{
		padding: 22px 0;
		color: #909293;
	}
	&__form{
		display: flex;
		justify-content: space-between;
	}
}

.progress{
	background: none;
	display: block;
	border-right-style: none;
	height: auto;
	font-size: 14px;
	text-align: center;
	color: #a8aaa6;
	&__text{
		margin-bottom: 8px;
	}
	&__bar{
		width: 158px;
		height: 8px;
		border-radius: 4px;
		background: rgba(255,255,255,.07);
		position: relative;
	}
	&__current{
		width: 50%;
		height: 8px;
		border-radius: 4px;
		background: $color_main;
		position: absolute;
		top: 0;
		left: 0;
	}
}

.form__item_other{
	.custom-select{
		width: 307px;
		border: none;
		background-color: rgba(232,232,232,.07);
		background-image: url(../images/select_arr2.png);
		border-radius: 12px;
		height: 39px;
		box-shadow: none;
	}
	.custom-select__option--value:hover{
		background: none;
	}
	.custom-select__option--value{
		padding-top: 2px;
		color: #fff;
	}
	.custom-select__dropdown{
		border: none;
	}
}