.history{
	padding-top: 21px;
	&__text{
		color: #a8aaa6;
		line-height: 1.5;
		max-width: 630px;
		h3{
			font-size: 17px;
			font-weight: 600;
			color: #fff;
			line-height: 1;
			margin: 0 0 10px;
		}
		p{
			margin-bottom: 13px;
		}
	}
	&__body{
		margin-bottom: 48px;
	}
	&__links{
		margin-top: -6px;
	}
	&__link{
		color: #89d100;
		display: inline-block;
		margin-right: 24px;
		&:hover{
			color: #89d100;
		}
	}
	&__content{
		border-radius: 12px;
		background: rgba(255,255,255,.05);
		margin-left: -5px;
	}
	&__header{
		padding: 15px 30px;
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid rgba(255,255,255,.15);
		align-items: center;
		.custom-select{
			box-shadow: none;
			padding-top: 4px;
			&__option{
				&--value{
					&:hover{
						background: none;
					}
				}
			}
		}
	}
	&__maintitle{
		font-size: 17px;
		text-transform: uppercase;
		font-weight: 700;
	}
	&__filter{
		background: rgba(255,255,255,.07);
		border-bottom: 1px solid rgba(255,255,255,.15);
		padding: 23px 30px;
	}
	&__table{
		width: 100%;
		th{
			color: #a6a8a9;
			font-size: 12px;
			height: 46px;
			border-bottom: 1px solid rgba(255,255,255,.15);
			&:first-child{
				padding-left: 30px;
				width: 16%;
			}
			&:nth-child(2){
				width: 18.3%;
			}
			&:nth-child(3){
				width: 16.4%;
			}
			&:nth-child(4){
				width: 16%;
			}
			&:nth-child(5){
				width: 18.5%;
			}
		}
		td{
			height: 51px;
			border-bottom: 1px solid rgba(255,255,255,.15);
			&:first-child{
				padding-left: 30px;
			}
		}
		tr{
			&:last-child{
				td{
					border-bottom: none;
				}
			}
		}
	}
}

.form{
	&_filter{
		display: flex;
		align-items: center;
	}
	&__filter{
		display: flex;
		align-items: center;
		&_year{
			width: 74px;
			margin-left: 4px;
		}
		&_day,
		&_month{
			width: 59px;
			margin-left: 4px;
		}
		.custom-select{
			width: 100%;
			box-shadow: none;
			border: none;
			background: url(../images/select_arr2.png) right 12px center no-repeat;
			background-color: rgba(232,232,232, .07);
			height: 30px;
			padding-top: 4px;
			&__option{
				color: #737373;
				padding-top: 0px;
				padding-bottom: 2px;
				padding-left: 23px;
				&.active{
					padding-left: 32px;
					&::before{
						left: 23px;
					}
				}
				&--value{
					color: #fff;
					&:hover{
						background: none !important;
					}
				}
				&:hover{
					background-color: #f2f2f2;
				}
			}
			&__dropdown{
				box-shadow: 0 3px 9px rgba(0, 0, 0, 0.17);
				border-radius: 10px;
				background-color: #ffffff;
				max-height: 185px;
				min-width: 88px;
				border: none !important;
				overflow-y: auto;
				left: -11px;
				&::-webkit-scrollbar {
				    width: 5px;
				}
				 
				&::-webkit-scrollbar-track {
				    background-color: #e8e8e8;
				}
				 
				&::-webkit-scrollbar-thumb {
				  background-color: $color_main;
				  width: 5px;
				  // outline: 1px solid slategrey;
				  border-radius: 2.5px;
				}
			}
		}
		&_to{
			padding-left: 30px;
		}
	}
	&__actions{
		&_filter{
			padding-left: 34px;
		}
	}
	&__submit{
		&_filter{
			@include btn;
			min-width: 143px;
			text-align: center;
		}
	}
}

.filter__label{
	color: #a6a8a9;
	font-size: 12px;
	margin-bottom: 0;
	margin-right: 8px;
}

.middle__content_history{
	padding-left: 60px;
    padding-right: 47px;
}