.deposit{
	margin-bottom: 30px;
	&__close{
		position: absolute;
		right: 49px;
		top: 69px;
		height: 55px;
		width: 55px;
		cursor: pointer;
		&::after{
			content: '\e937';
			@include icon_fonts;
			color: #d6d6d6;
			font-size: 55px;
			position: absolute;
			top: 0;
			left: 0;
			@include respond-to(lg){
				font-size: 32px;
			}
		}
		@include respond-to(lg){
			width: 32px;
			height: 32px;
		}
	}
	&__logo{
		text-align: center;
		padding-top: 60px;
		max-width: 394px;
		margin: 0 auto 50px;
		&_with{
			margin-bottom: 92px;
		}
		@include respond-to(lg){
			padding-top: 10px;
			margin-bottom: 25px;
			max-width: 285px;
		}
		@include respond-to(lgg){
			padding-top: 45px;
			margin-bottom: 40px;
		}
	}
	&__form{
		max-width: 520px;
		margin: 0 auto;
		background: #fff;
		border-radius: 10px;
		padding: 40px 25px 0;
		color: #6f6f6f;
		@include respond-to(lg){
			padding-top: 25px;
		}
	}
	&__title{
		font-size: 28px;
		font-weight: 700;
		text-align: center;
		line-height: 1;
		margin: 0 0 9px;
		@include respond-to(lg){
			margin-bottom: 5px;
			font-size: 24px;
		}
	}
	&__text{
		font-size: 16px;
		margin-bottom: 22px;
		text-align: center;
		letter-spacing: -0.5px;
	}
	&__row{
		display: flex;
		justify-content: space-between;
		margin-bottom: 14px;
		&_1{
			.deposit__item{
				max-width: 48%;
				flex: 0 0 48%;
				padding-right: 10px;
				&+.deposit__item {
					padding-right: 0;
					padding-left: 10px;
				}
				&:last-child{
					flex: 0 0 237px;
					max-width: 237px;
				}
			}
		}
		&_2{
			.deposit__select_item{
				&:first-child{
					width: 86px;
				}
				&:nth-child(2){
					width: 70px;
				}
			}
			.deposit__item_code{
				width: 289px;
			}
		}
		&_3{
			margin-bottom: 21px;
			.deposit__radios{
				width: 360px;
				display: flex;
				border-radius: 10px;
				border: 1px solid $color_main;
				overflow: hidden;
			}
			.deposit__radio_item{
				max-width: 33.3%;
				flex: 0 0 33.3%;
				display: flex;
				align-items: center;
				justify-content: center;
				border-left: 1px solid $color_main;
				&:first-child{
					border: none;
				}
			}
			.deposit__radio{
				display: none;
				&:checked{
					&+label{
						background: $color_main;
						color: #fff;
					}
				}
			}
			.deposit_label{
				font-size: 17px;
				width: 100%;
				text-align: center;
				font-weight: 600;
				color: $color_main;
				margin-bottom: 0;
				height: 100%;
				line-height: 46px;
				cursor: pointer;
			}
			.deposit__item_amount{
				padding-left: 13px;
			}
		}
		&_4{
			margin-bottom: 24px;
			padding: 0 25px;
			.deposit__row_item{
				font-size: 11px;
				b{
					font-weight: 600;
				}
			}
			&.deposit__row_with{
				padding: 0 45px;
			}
		}
	}
	&__input{
		background: #e8e8e8;
		color: #6f6f6f;
		width: 100%;
		height: 48px;
		border-radius: 12px;
		padding: 0 16px;
		border: 1px solid transparent;
		font-size: 17px;
		transition: .4s;
		&::-webkit-input-placeholder {color:#6f6f6f;}
		&::-moz-placeholder          {color:#6f6f6f;}
		&:-moz-placeholder           {color:#6f6f6f;}
		&:-ms-input-placeholder      {color:#6f6f6f;}
	}
	&__actions{
		border-top: 1px solid #e8e8e8;
		padding: 29px 0 33px;
		text-align: center;
		margin: 0 -25px;
		@include respond-to(lg){
			padding: 20px 0;
		}
	}
	&__submit{
		@include btn;
		color: #fff;
		min-width: 192px;
		text-align: center;
	}
	.custom-select{
		width: 100%;
		box-shadow: none;
		color: #737373;
		background-color: #e8e8e8;
		padding-left: 0;
		padding-right: 21px;
		height: 48px;
		border: 1px solid transparent;
	    background-image: url(../images/select_arr2.png) !important;
	    &--active{
	    	border: 1px solid $color_main;
	    }
		&__option{
			color: #737373;
			padding-top: 2px;
			padding-bottom: 2px;
			padding-left: 20px;
			&.active{
				padding-left: 32px;
				position: relative;
				&::before{
					content: '';
					display: block;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 3px 0 3px 5px;
					border-color: transparent transparent transparent $color_main;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					left: 23px;
				}
			}
			&:hover{
				background-color: #f2f2f2;
			}
			&--value{
				padding-left: 20px !important;
				padding-top: 6px;
				padding-bottom: 4px;
				&:hover{
					background-color: #e8e8e8;
				}
				&::before{
					display: none !important;
				}
			}
		}
		&__dropdown{
			box-shadow: 0 3px 9px rgba(0, 0, 0, 0.17);
			border-radius: 10px;
			background-color: #ffffff;
			max-height: 185px;
			min-width: 88px;
			border: none !important;
			overflow-y: auto;
			&::-webkit-scrollbar {
			    width: 5px;
			}
			 
			&::-webkit-scrollbar-track {
			    background-color: #e8e8e8;
			}
			 
			&::-webkit-scrollbar-thumb {
			  background-color: $color_main;
			  width: 5px;
			  // outline: 1px solid slategrey;
			  border-radius: 2.5px;
			}
		}
	}
}

.choice{
	position: relative;
	margin-bottom: 14px;
	&__label{
		width: 100%;
		height: 48px;
		border: 1px solid $color_main;
		padding: 0 11px;
		display: flex;
		align-items: center;
		border-radius: 10px;
		background: url(../images/select_arr.png) right 12px center no-repeat;
		cursor: pointer;
		position: relative;
		z-index: 100;
	}
	&__dropdown{
		position: absolute;
		top: calc( 100% + 5px);
		background: #fff;
		width: 100%;
		border: 1px solid $color_main;
		border-radius: 10px;
		z-index: 100;
		display: none;
		&.active{
			display: block;
		}
	}
	&__item{
		height: 48px;
		padding: 2px 10px;
		display: flex;
		align-items: center;
		transition: .4s;
		cursor: pointer;
		&:hover{
			background-color: #f2f2f2;
		}
	}
}