.faqBlock{
	&__row{
		padding: 20px 0;
		border-bottom: 1px solid rgba(255,255,255,.1);
		&_active{
			border-bottom: none;
			padding-bottom: 0;
		}
		&:first-child{
			padding-top: 5px;
		}
	}
	&__title{
		padding-left: 37px;
		font-size: 17px;
		font-weight: 600;
		position: relative;
		cursor: pointer;
		&.active{
			&::before{
				transform: translateY(-50%) rotate(90deg);
			}
		}
		&::before{
			content: '\f0da';
			font-family: 'FontAwesome';
			color: #fff;
			font-size: 14px;
			width: 25px;
			height: 25px;
			border-radius: 10px;
			background: $color_main;
			display: block;
			line-height: 25px;
			text-align: center;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
			padding-left: 3px;
		}
		&_active{
			&::before{
				content: '\f0d7';
			}
		}
	}
	&__description{
		border-radius: 12px;
		background: rgba(255,255,255,.1);
		padding: 20px 43px 20px 38px;
		margin-top: 20px;
		display: none;
		p{
			margin-bottom: 11px;
		}
	}
	strong{
		font-size: 17px;
		font-weight: 600;
		margin-bottom: 8px;
		display: block;
	}
}