.game{
	position: relative;
	margin: 0 auto;
	@include respond-to(lg){
	    width: 51vw;
	    margin: 0 auto;
	}
	@media (min-width: 1441px) and (max-width: 1800px){
		width: 51vw;
		margin: 0 auto;
	}
	&__header{
		border-radius: 12px;
		background: $color_main;
		padding: 8px 15px 8px 25px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 8px;
	}
	&__size{
		display: flex;
		align-items: center;
	}
	&__item{
		width: 53px;
		height: 36px;
		border-radius: 12px;
		position: relative;
		cursor: pointer;
		&:hover,
		&_active{
			background-color: #507a00;
		}
		&_1{
			margin-right: 11px;
			&::before{
				content: '';
				display: block;
				width: 19px;
				height: 12px;
				border: 2px solid #ffffff;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
			}
		}
		&_2{
			&::before{
				content: '';
				display: block;
				width: 27px;
				height: 17px;
				border: 2px solid #ffffff;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
			}
		}
		&_3{
			&::before{
				content: '\e938';
				@include icon_fonts;
				font-size: 21px;
				color: #fff;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
			}
		}
	}
	&__label{
		font-size: 17px;
		margin-right: 21px;
	}
	&__btns{
		display: flex;
	}
	&__btn{
		border-radius: 12px;
		background-color: #1b1f1e;
		color: #fff;
		display: block;
		padding: 7px 18px;
		font-size: 17px;
		font-weight: 600;
		text-transform: uppercase;
		transition: .4s;
		&_2{
			margin-left: 10px;
		}
		&:hover{
			background-color: #507a00;
			text-decoration: none;
		}
	}
	&__filter{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 7px 29px 7px 7px;
		border-radius: 12px 12px 0 0;
		background: rgba(0,0,0,.6);
	}
	&__wrapper{
		box-shadow: 0 7px 17px rgba(0, 0, 0, 0.43);
		border-radius: 0 0 12px 12px;
		overflow: hidden;
		padding: 8px;
		background: rgba(0,0,0,.8);
		*{
			width: 100%;
		}
		margin-bottom: 35px;
	}
	.custom-select{
		width: 265px;
	}
	.custom-select__option:hover{
		background: none;
	}
	&__like{
		font-size: 17px;
		font-weight: 700;
		color: #969696;
		position: relative;
		padding-left: 37px;
		&::before{
			content: '\e902';
			@include icon_fonts;
			font-size: 25px;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}

.compamyGames{
	display: flex;
	box-shadow: 0 7px 17px rgba(0, 0, 0, 0.43);
	border-radius: 12px;
	background: rgba(0,0,0,.6);
	margin-bottom: 40px;
	&__sidebar{
		max-width: 26.4%;
		flex: 0 0 26.4%;
		background: rgba(0,0,0,.25);
		padding: 45px 45px 15px 37px;
	}
	&__content{
		width: 100%;
		padding: 45px 45px 45px 35px;
	}
	&__title{
		font-size: 25px;
		font-weight: 700;
		margin: 0 0 27px;
		line-height: 1;
		letter-spacing: 1.3px;
	}
	&__text{
		line-height: 1.5;
	}
	.games__card{
		margin-bottom: 0;
	}
}

.winners{
	&_game{
		width: 325px;
		position: absolute;
		top: 60px;
		right: 0;
		z-index: 50;
		right: -340px;
		display: none;
		&_active{
			display: block;
		}
	}
	&__title{
		position: relative;
	}
	&__close{
		position: absolute;
		top: 31px;
		right: 21px;
		width: 15px;
		height: 3px;
		background: #fff;
		cursor: pointer;
		z-index: 1;
	}
}

.gameDeposit{
	width: 325px;
	position: absolute;
	top: 60px;
	left: -340px;
	box-shadow: 0 7px 17px rgba(0,0,0,.43);
    background: rgba(0,0,0,.6);
    border-radius: 12px;
    z-index: 50;
    display: none;
    &_active{
    	display: block;
    }
    &__close{
    	position: absolute;
    	top: 31px;
    	right: 21px;
    	width: 15px;
    	height: 3px;
    	background: #fff;
    	cursor: pointer;
    	z-index: 1;
    }
    &__title {
        font-size: 20px;
        font-weight: 700;
        padding: 22px 15px 52px;
        text-align: center;
        margin-bottom: 0;
    }
    &__image{
    	display: flex;
    	align-items: center;
    }
    &__form{
    	max-width: 275px;
    	margin: 0 auto;
    	padding: 0 10px;
    }
}

.form{
	&__label{
		&_amount{
			font-size: 17px;
			color: #fff;
			margin-bottom: 12px;
		}
	}
	&__text{
		&_amount{
			background: rgba(235,235,235,.1);
			width: 57.6%;
			height: 48px;
			font-size: 17px;
		}
	}
	&__item{
		&_amount{
			display: flex;
			justify-content: space-between;

		}
	}
	&__actions{
		&_amount{
			text-align: center;
			padding: 64px 0 35px;
		}
	}
	&__submit{
		&_amount{
			@include btn;
			min-width: 192px;
			text-align: center;
		}
	}
}

.winners_game__btn{
	position: absolute;
	top: 0;
	right: -65px;
	width: 50px;
	height: 50px;
	background: rgba(0,0,0,.6);
	border-radius: 50%;
	cursor: pointer;
	display: none;
	&.active{
		display: block;
	}
	&::before{
		content: '\f075';
		font-family: 'FontAwesome';
		font-size: 20px;
		color: #fff;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}
}

.gameDeposit__btn{
	position: absolute;
	top: 0;
	left: -65px;
	width: 50px;
	height: 50px;
	background: rgba(0,0,0,.6);
	border-radius: 50%;
	cursor: pointer;
	display: none;
	&.active{
		display: block;
	}
	&::before{
		content: '\f155';
		font-family: 'FontAwesome';
		font-size: 20px;
		color: #fff;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}
}

@media (min-width: 1200px) and (max-width: 1500px){
	.gameDeposit,
	.winners_game{
		width: 280px;
	}
	.gameDeposit{
		left: -295px;
	}
	.winners_game{
		right: -295px;
	}
}