.jackpots{
	&__main{
		height: 336px;
		background:transparent url('../images/jackpot_bg.jpg') left top no-repeat;
		padding-left: 44px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-size: cover;
		margin-bottom: 36px;
	}
	&__title{
		max-width: 530px;
		font-size: 32px;
		font-weight: 700;
		margin-bottom: 15px;
	}
	&__description{
		color: #c7c7c7;
		font-size: 16px;
		margin-bottom: 35px;
		max-width: 530px;
	}
	&__label{
		font-size: 18px;
		margin-bottom: 0px;
	}
	&__value{
		color: #89d100;
		font-size: 33px;
		font-weight: 700;
		letter-spacing: 1.2px;
	}
}

.jackpotsLive{
	padding: 0 31px 30px;
	&__row{
		margin: 0 -11px;
	}
	&__maintitle{
		font-size: 28px;
		font-weight: 700;
		margin-bottom: 35px;
		letter-spacing: 1.2px;
	}
	&__card{
		background: rgba(255,255,255,.13);
		border-radius: 12px;
		margin-bottom: 22px;
		display: flex;
		align-items: center;
		padding: 17px 20px 20px 20px;
	}
	.col-lg-6{
		padding: 0 11px;
	}
	&__image{
		max-width: 139px;
		flex: 0 0 139px;
		margin-right: 22px;
		box-shadow: 0 6px 13px rgba(0, 0, 0, 0.35), inset 0 -4px 0 rgba(0, 0, 0, 0.45);
		border-radius: 12px;
		overflow: hidden;
	}
	&__title{
		color: #93df00;
		font-size: 20px;
		font-weight: 700;
		&:hover{
			color: $color_hover;
		}
	}
	&__category{
		color: #aeaeae;
		margin-bottom: 12px;
	}
	&__money{
		font-size: 31px;
		font-weight: 700;
		margin-bottom: 5px;
		letter-spacing: 0.9px;
	}
	&__btn{
		@include btn;
		padding-left: 30px;
		padding-right: 30px;
	}
}