.landing{
	&__content{
		max-width: 946px;
		margin: 0 auto;
	}
	&__nav{
		display: flex;
		margin: 0 -4.5px 86px;
		justify-content: space-between;
		@include respond-to(lg){
			margin-bottom: 45px;
		}
	}
	&__item{
		padding: 0 4.5px;
		@include respond-to(lg){
			padding: 0 13px;
		}
		@media (max-width: 1199px){
			padding: 0;
		}
	}
	&__link{
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0 15px;
		font-size: 19px;
		text-decoration: none !important;
		background: rgba(255,255,255,.14);
		border-radius: 20px;
		transition: .4s;
		&:hover{
			background: $color_main;
		}
		@include respond-to(lg){
			height: 36px;
			font-size: 17px;
			padding: 0 10px;
		}
	}
	&__title{
		font: 72px 'LatoBlack';
		text-align: center;
		margin: 0 0 15px;
		line-height: 1;
		letter-spacing: 3px;
		// padding-top: 90px;
		@include respond-to(lg){
			font-size: 58px;
			padding-top: 0;
		}
	}
	&__text{
		font-size: 30px;
		text-align: center;
		margin-bottom: 65px;
		letter-spacing: 1px;
	}
	&__btn{
		@include btn;
		height: 76px;
		width: 360px;
	    box-shadow: rgb(80, 122, 0) 0px -3px 0px inset, 0 7px 16px rgba(115,175,0,.27);
	    font-size: 29px;
	    font-weight: 700;
	 //    display: flex;
	 //    align-items: center;
		// justify-content: center;
		display: block;
		text-align: center;
		margin: 0 auto 20px;
		padding-top: 19px;
		@include respond-to(lg){
			height: 52px;
			font-size: 20px;
			width: 250px;
			padding-top: 10px;
		}
	}
	&__description{
		font-size: 19px;
		font-weight: 600;
		text-align: center;
		a{
			color: $color_main;
		}
	}
	&__offer{
		width: 294px;
		height: 399px;
		position: absolute;
		top: 0;
		right: 85px;
	}
	&__line{
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 4px;
		height: 128px;
		background:transparent url('../images/line.png') left top no-repeat;
		z-index: 5;
	}
	&__circle{
		position: absolute;
		bottom: 0;
		left: -1px;
		width: 294px;
		height: 294px;
		display: block;
		transition: .7s;
		transform-origin: center top;
		animation: badge-swing2 2.0s infinite paused;
		&_inner{
			transform: scale(1);
			background:transparent url('../images/circle.png') left top no-repeat;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			transition: .5s;
			transform-origin: center top;
		}
		&:hover{
			animation-play-state:running;
			.landing__circle_inner{
				transform: scale(1.03);
			}
		}
	}
	&__center{
	    display: flex;
    	width: 100%;
    	flex-direction: column;
    	justify-content: center;
	}
	// &__center{
	// 	position: absolute;
	// 	top: 50%;
	// 	left: 50%;
	// 	transform: translate(-50%, -50%);
	// }
}
@media (max-width: 1740px){
	.landing_deposit,
	.landing_login{
		display: flex;
		width: 100%;
		flex-direction: column;
		justify-content: center;
	}
}

.page_landing_main{
	background-color: #000 !important;
	.middle{
		overflow: hidden;
		position: relative;
	}
	.landing{
		overflow: hidden;
	}
	.landing__offer{
		animation: badge-swing 4.0s infinite;
		transform-origin: top center;
		&:hover{
			animation-play-state:paused;
		}
	}
	.landing__nav{
		margin-bottom: 0 !important;
	}
	.deposit{
		margin-bottom: 0;
	}
}

@keyframes badge-swing2 {
    0% {
	    transform: rotate(-5deg);
	    animation-timing-function: ease-in;
	}
	25% {
	    transform: rotate(0deg);
	    animation-timing-function: ease-out;
	}
	50% {
	    transform: rotate(5deg);
	    animation-timing-function: ease-in;
	}
	75% {
	    transform: rotate(0deg);
	    animation-timing-function: ease-out;
	}
	100% {
	    transform: rotate(-5deg);
	    animation-timing-function: ease-in;
	}
}

@keyframes badge-swing {
    0% {
	    transform: rotate(-5deg);
	    animation-timing-function: ease-in;
	}
	25% {
	    transform: rotate(0deg);
	    animation-timing-function: ease-out;
	}
	50% {
	    transform: rotate(5deg);
	    animation-timing-function: ease-in;
	}
	75% {
	    transform: rotate(0deg);
	    animation-timing-function: ease-out;
	}
	100% {
	    transform: rotate(-5deg);
	    animation-timing-function: ease-in;
	}
}
@-webkit-keyframes badge-swing {
    0% {
	    -webkit-transform: rotate(-5deg);
	    -webkit-animation-timing-function: ease-in;
	}
	25% {
	    -webkit-transform: rotate(0deg);
	    -webkit-animation-timing-function: ease-out;
	}
	50% {
	    -webkit-transform: rotate(5deg);
	    -webkit-animation-timing-function: ease-in;
	}
	75% {
	    -webkit-transform: rotate(0deg);
	    -webkit-animation-timing-function: ease-out;
	}
	100% {
	    -webkit-transform: rotate(-5deg);
	    -webkit-animation-timing-function: ease-in;
	}
}
@-moz-keyframes badge-swing {
    0% {
    -moz-transform: rotate(-5deg);
    -moz-animation-timing-function: ease-in;
}
25% {
    -moz-transform: rotate(0deg);
    -moz-animation-timing-function: ease-out;
}
50% {
    -moz-transform: rotate(5deg);
    -moz-animation-timing-function: ease-in;
}
75% {
    -moz-transform: rotate(0deg);
    -moz-animation-timing-function: ease-out;
}
100% {
    -moz-transform: rotate(-5deg);
    -moz-animation-timing-function: ease-in;
}
}
@-ms-keyframes badge-swing {
    0% {
    -ms-transform: rotate(-5deg);
    -ms-animation-timing-function: ease-in;
}
25% {
    -ms-transform: rotate(0deg);
    -ms-animation-timing-function: ease-out;
}
50% {
    -ms-transform: rotate(5deg);
    -ms-animation-timing-function: ease-in;
}
75% {
    -ms-transform: rotate(0deg);
    -ms-animation-timing-function: ease-out;
}
100% {
    -ms-transform: rotate(-5deg);
    -ms-animation-timing-function: ease-in;
}
}

.page_landing{
	.middle_step{
		@include respond-to(lg){
			padding-top: 10px;
		}
		.deposit__input{
			@include respond-to(lg){
				height: 40px;
			}
		}
		.deposit__logo{
			@include respond-to(lg){
				margin-bottom: 15px;
				max-width: 220px;
			}
		}
		.landingSteps{
			@include respond-to(lg){
				margin-bottom: 15px;
			}
		}
	}
	.deposit__submit{
		text-align: left !important;
	}
	.socials__link{
		// flex: 0 0 0;
		height: 55px;
	}
	.footer{
		margin-bottom: 0;
	}
	.footer__nav{
		margin-bottom: 50px;
		background: none;
		box-shadow: none;
		&_step{
			@include respond-to(lg){
				margin-bottom: 10px !important;
			}
		}
	}
	.socials,
	.footer__menu,
	.languageBlock{
		background: rgba(56,56,56, .5);
		height: 55px;
		display: flex;
		align-items: center;
		padding: 0 20px;
		border-radius: 10px;
	}
	.languageBlock{
		padding-left: 34px;
		padding-right: 53px;
	}
	.languageBlock__icon{
		right: 31px;
	}
	.socials{
		padding: 0 0px;
		overflow: hidden;
		border-radius: 12px;
	}
	.footer_content{
	    max-width: 1850px;
	}
	.deposit__logo{
		max-width: 394px;
		margin: 0 auto 53px;
		@include respond-to(lg){
			max-width: 285px;
			margin-bottom: 35px;
		}
	}
}

@media (max-width: 1400px){
	.landing{
		&__offer{
			width: 160px;
			height: 227px;
			right: 20px;
		}
		&__line{
			width: 4px;
			height: 80px;
			background:transparent url('../images/line.png') left top no-repeat;
			background-size: cover;
		}
		&__circle{
			position: absolute;
			bottom: 0;
			left: -1px;
			width: 160px;
			height: 160px;
			display: block;
			transition: .7s;
			transform-origin: center top;
			animation: badge-swing2 2.0s infinite paused;
			&_inner{
				background-size: cover;
			}
		}
	}
}

@media (min-width: 1401px) and (max-width: 1710px){
	.landing{
		&__offer{
			width: 220px;
			height: 283px;
			right: 20px;
		}
		&__line{
			width: 4px;
			height: 80px;
			background:transparent url('../images/line.png') left top no-repeat;
			background-size: cover;
		}
		&__circle{
			position: absolute;
			bottom: 0;
			left: -1px;
			width: 220px;
			height: 220px;
			display: block;
			transition: .7s;
			transform-origin: center top;
			animation: badge-swing2 2.0s infinite paused;
			&_inner{
				background-size: cover;
			}
		}
	}
}

.landing_login{
	// margin-top: -15px;
	.deposit__input{
		height: 60px;
		margin-bottom: 17px;
		@include respond-to(lg){
			height: 48px;
		}
	}
	.deposit__actions{
		margin: 0;
		border: none;
		padding: 10px 0 19px;
		display: table;
		margin: 0 auto;
		position: relative;
		@include respond-to(lg){
			padding: 8px 15px;
		}
		&::after{
			content: '\e931';
			@include icon_fonts;
			font-size: 20px;
			color: #fff;
			position: absolute;
			top: 29px;
			right: 97px;
			@include respond-to(lg){
				top: 18px;
				right: 85px;
			}
		}
		&_pass{
			&::after{
				right: 79px;
			}
		}
	}
	.deposit__submit{
		width: 290px;
		height: 58px;
		display: flex;
		padding-left: 94px;
		align-items: center;
		margin: 0 auto 20px;
		font-size: 22px;
		font-weight: 700;
		&_pass{
			padding-left: 83px;
			margin-bottom: 10px;
		}
		@include respond-to(lg){
			height: 40px;
			width: 250px;
			padding-left: 80px;
			&.deposit__submit_pass{
				padding-left: 60px;
			}
		}
	}
	.deposit__text{
		p{
			margin-bottom: 0;
			font-size: 16px;
		}
		a{
			color: $color_main;
		}
	}
	.forgot__pass{
		color: $color_main;
		text-align: center;
		font-size: 16px;
		display: block;
	}
	.deposit__form{
		padding-top: 23px;
		@include respond-to(lg){
			padding-top: 15px;
		}
	}
	.deposit__title{
		margin-bottom: 17px;
		@include respond-to(lg){
			margin-bottom: 10px;
		}
	}
}

.landingSteps{
	display: flex;
    margin: -34px auto 27px;
	width: 356px;
	@include respond-to(lg){
		margin-top: 0;
	}
	&__item{
		font-size: 18px;
		font-weight: 600;
		color: #fff;
		flex: 0 0 25%;
		max-width: 25%;
		text-align: center;
		position: relative;
		padding-top: 55px;
		@include respond-to(lg){
			padding-top: 40px;
			font-size: 16px;
		}
		span{
			opacity: .7;
		}
		&_active{
			span{
				opacity: 1;
			}
			&::before{
				background: $color_main;
				color: #fff !important;
			}
		}
		&_done{
			&::before{
				background: $color_main;
				color: #fff !important;
				content: '\e91c' !important;
			}
		}
		&::before{
			content: '\e968';
			@include icon_fonts;
			font-size: 16px;
			width: 45px;
			height: 45px;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			top: 0;
			left: 50%;
			color: #b3b4b8;
			margin-left: -22.5px;
			@include respond-to(lg){
				width: 35px;
				height: 35px;
				font-size: 14px;
				margin-left: -17.5px;
			}
		}
		&_1{
			&::before{
				content: '\e968';
			}
		}
		&_2{
			&::before{
				content: '\e969';
			}
		}
		&_3{
			&::before{
				content: '\e900';
			}
		}
		&_4{
			&::before{
				content: '\e96a';
			}
		}
	}
	&__title{
		text-align: center;
		font-size: 20px;
		color: $color_main;
		margin-bottom: 7px;
		font-weight: 700;
		margin-top: -12px;
	}
	&__text{
		text-align: center;
		margin-bottom: 11px;
		a{
			color: $color_main;
		}
	}
}

.landing_step1{
	margin: 0;
	.register_link{
		margin-top: 28px;
		font-size: 17px;
		font-weight: 600;
		color: #fff;
		opacity: .61;
		text-align: center;
		display: block;
		text-shadow: .4s;
		&:hover{
			color: $color_main;
			text-decoration: none;
		}
	}
}

.landing_step2{
	margin-top: 0;
	.deposit__input{
		@include respond-to(lg){
			height: 32px !important;
			border-radius: 8px;
		}
	}
	.deposit__title{
		text-align: left;
		display: flex;
		align-items: center;
		margin-bottom: 24px;
		@include respond-to(lg){
			margin-bottom: 15px;
			font-size: 20px;
		}
	}
	.back_step{
		font-size: 20px;
		font-weight: 700;
		color: $color_main;
		padding: 0 40px 0 35px;
		position: relative;
		transition: .4s;
		@include respond-to(lg){
			padding-right: 72px;
		}
		&::after{
			content: '\e931';
			@include icon_fonts;
			font-size: 22px;
			color: $color_main;
			position: absolute;
			top: 52%;
			transform: translateY(-50%) rotate(180deg);
			left: 0px;
		}
		&:hover{
			text-decoration: none;
			opacity: .8;
		}
	}
	.deposit__input{
		height: 48px;
		margin-bottom: 0;
	}
	.step2__year{
		margin-right: 11px;
	}
	.step2__day,
	.step2__month{
		width: 70px;
		margin-right: 11px;
	}
	.deposit__row_3{
		margin-bottom: 0;
		.deposit__radios{
			width: 207px;
		}
		.deposit__radio_item{
			max-width: 50%;
			flex: 0 0 50%;
		}
	}
	.deposit__row_4{
		margin-bottom: 14px;
		padding: 0;
	}
	.deposit__postcode{
		width: 149px;
		margin-right: 13px;
	}
	.step2__country{
		width: 116px;
		margin-right: 11px;
	}
	.step2__currency{
		width: 78px;
		margin-right: 11px;
	}
	.custom-select{
		padding-left: 15px !important;
		@include respond-to(lg){
			height: 32px;
			padding-top: 0px !important;
		}
		.custom-select__option--value{
			@include respond-to(lg){
				padding-top: 5px !important;
			}
		}
	}
	.custom-select__option--value{
		padding-left: 0 !important;
	}
	.phone_field{
		width: 249px;
		position: relative;
	}
	.field_prefix{
		position: absolute;
		font-size: 17px;
		left: 15px;
		top: 13px;
		font-weight: 600;
		@include respond-to(lg){
			top: 5px;
		}
	}
	.deposit__phone{
		padding-left: 70px;
	}
	.terms_link{
		text-align: center;
		font-size: 16px;
		margin-bottom: 5px;
		a{
			color: $color_main;
		}
	}
	.deposit__actions{
		&::after{
			display: none;
		}
	}
	.deposit__submit{
		font-size: 16px;
		height: 40px;
		width: 290px;
		margin: 0 auto;
		@include respond-to(lg){
			padding-left: 94px;
		}
	}
	.deposit__row_3 .deposit_label {
		@include respond-to(lg){
			line-height: 30px;
		}
	}
}

.landing_step3{
	.custom-select{
		padding-left: 0px !important;
		@include respond-to(lg){
			height: 32px;
			padding-top: 0px !important;
		}
		.custom-select__option--value{
			@include respond-to(lg){
				padding-top: 5px !important;
			}
		}
	}
	.deposit__input{
		@include respond-to(lg){
			height: 32px !important;
			border-radius: 8px;
		}
	}
	.deposit__row_3 .deposit_label {
		@include respond-to(lg){
			line-height: 30px;
		}
	}
	.deposit__actions{
		border: none;
		padding-top: 0;
		margin: 0;
		padding-bottom: 14px;
	}
	.deposit__submit{
		font-size: 16px;
		height: 40px;
		width: 290px;
		margin: 0 auto;
		text-align: center !important;
	}
	.deposit_later{
		text-align: center;
		font-size: 16px;
		display: block;
		padding-top: 15px;
		color: #6f6f6f;
		transition: .4s;
		&:hover{
			color: $color_main;
			text-decoration: none;
		}
	}
	.deposit__form{
		padding-top: 24px;
		@include respond-to(lg){
			padding-top: 15px;
		}
	}
	.deposit__row_4{
		margin-bottom: 19px;
		@include respond-to(lg){
			margin-bottom: 10px;
		}
	}
	.choice__label{
		@include respond-to(lg){
			height: 32px;
		}
		img{
			@include respond-to(lg){
				max-height: 26px;
			}
		}
	}
	.deposit__text{
		@include respond-to(lg){
			margin-bottom: 10px;
		}
	}
}

.landing_step4{
	.deposit__text{
		max-width: 380px;
		margin: 0 auto 25px;
	}
	.step_balance{
		padding: 14px 16px 14px 56px;
		border-radius: 10px;
		background: #6f6f6f;
		display: table;
		margin: 0 auto 15px;
		color: #fff;
		position: relative;
		font-size: 19px;
		@include respond-to(lg){
			padding-top: 10px;
			padding-bottom: 10px;
			font-size: 17px;
		}
		span{
			font-weight: 700;
		}
		&::before{
			content: '\e908';
			@include icon_fonts;
			font-size: 27px;
			color: #fff;
			position: absolute;
			left: 15px;
			top: 50%;
			transform: translateY(-50%);
			@include respond-to(lg){
				font-size: 20px;
			}
		}
	}
	.deposit__text{
		@include respond-to(lg){
			margin-bottom: 10px;
		}
	}
	.deposit__subtitle{
		font-size: 20px;
		font-weight: 700;
		color: #6f6f6f;
		text-align: center;
		margin-bottom: 10px;
	}
	.step_btn{
		@include btn;
		display: block;
		text-align: center;
		margin-bottom: 11px;
		@include respond-to(lg){
			margin-bottom: 5px;
			padding-top: 4px;
			padding-bottom: 7px;
			height: 32px;
		}
	}
	.account_link{
		font-size: 16px;
		text-align: center;
		font-weight: 700;
		padding: 5px 0 16px;
		color: #6f6f6f;
		transition: .4s;
		display: block;
		&:hover{
			text-decoration: none;
			color: $color_main;
		}
	}
	.deposit__form{
		padding-top: 23px;
		@include respond-to(lg){
			padding-top: 15px;
		}
	}
}

@media (max-width: 1290px){
	.page_landing_main .landing__nav{
		max-width: 840px;
		margin: 0 auto;
	}
}

.landingSteps__title_code{
	cursor: pointer;
	transition: .4s;
	&:hover{
		color: $color_hover;
	}
}

.deposit__item_hide{
	display: none;
}

.landing_main_img{
	position: absolute;	
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	max-width: none;
	width: 2100px;
	height: 1100px;
	// @media (min-width: 1700px) and (min-height: 769px){
	// 	width: 110%;
	// 	height: 110%;
	// }
	// @media (min-width: 1800px) and (max-width: 1899px){
	// 	width: 110%;
	// }
	// @media (min-width: 1900px){
	// 	width: 110%;
	// 	height: auto;
	// }
	// @media (max-width: 1300px) and (min-height: 769px){
	// 	height: 115%;
	// }
	// @media (min-width: 1300px) and (max-width: 1699px) and (min-height: 820px){
	// 	height: 115% !important;
	// }
	@media (min-width: 1950px){
		max-width: 110%;
		width: 110%;
		height: auto;
		object-fit: cover;
		height: 110%;
	}
	@media (min-height: 1100px){
		max-width: 110%;
		width: 110%;
		height: auto;
		object-fit: cover;
		height: 110%;
	}
}

.page_landing{
	.deposit__row_1 .deposit__item{
		max-width: 49% !important;
		flex: 0 0 49% !important;
	}
}

.page_landing .footer{
	position: relative;
}