.payments{
	max-width: 775px;
	margin: 0 auto 48px;
	&__maintitle{
		font-size: 28px;
		font-weight: 700;
		margin: 3px 0 21px;
		text-align: center;
	}
	&__text{
		line-height: 1.5;
		margin-bottom: 45px;
		color: #fff;
		text-align: center;
	}
	&__row{
		margin-bottom: 25px;
		border-radius: 12px;
	}
	&__title{
		background: rgba(0,0,0,.7);
		border-radius: 12px 12px 0 0;
		font-size: 17px;
		font-weight: 700;
		text-transform: uppercase;
		padding: 10px 20px;
	}
	&__table{
		width: 100%;
		background: rgba(0,0,0,.6);
		border-radius: 0 0 12px 12px;
		th{
			color: #a6a8a9;
			font-size: 12px;
			padding: 12px 0;
			font-weight: 600;
			&:first-child{
				padding-left: 20px;
				width: 25.4%;
			}
			&:nth-child(2){
				width: 16.1%;
			}
			&:nth-child(3){
				width: 9%;
			}
			&:nth-child(4){
				width: 16.5%;
			}
			&:nth-child(5){
				
			}
		}
		td{
			padding: 10px 0;
			height: 56px;
			border-top: 1px solid rgba(255,255,255,.15);
			font-weight: 600;
			&:first-child{
				padding-left: 20px;
			}
		}
	}
}