.casino__tabs_virtual{
	justify-content: flex-start; 
}

.casino__item{
	margin-right: 10px;
}

.virtualBar{
	background: rgba(0,0,0,.6);
	border-radius: 0 0 12px 12px;
	overflow: hidden;
	&__link{
		position: relative;
		padding: 20px 45px;
		font-size: 17px;
		font-weight: 600;
		border-top: 1px solid rgba(255,255,255,.15);
		transition: .4s;
		display: block;
		&:last-child{
			border-bottom: none;
		} 
		&:hover{
			background: rgba(255,255,255,.15);
			text-decoration: none;
		}
		&_active{
			background: rgba(255,255,255,.1);
			text-decoration: none;
		}
		&::before{
			content: '\e939';
			@include icon_fonts;
			color: #c9c9c9;
			font-size: 17px;
			position: absolute;
			top: 48%;
			left: 22px;
			transform: translateY(-50%);
		}
		&_1{
			&::before{
				content: '\e939';
			}
		}
		&_2{
			&::before{
				content: '\e93a';
			}
		}
		&_3{
			&::before{
				content: '\e93b';
			}
		}
		&_4{
			&::before{
				content: '\e93c';
			}
		}
		&_5{
			&::before{
				content: '\e93d';
			}
		}
		&_6{
			&::before{
				content: '\e93f';
			}
		}
		&_7{
			&::before{
				content: '\e940';
			}
		}
		&_8{
			&::before{
				content: '\e941';
			}
		}
		&_9{
			&::before{
				content: '\e942';
			}
		}
		&_10{
			&::before{
				content: '\e943';
			}
		}
		&_11{
			&::before{
				content: '\e944';
			}
		}
		&_12{
			&::before{
				content: '\e945';
			}
		}
		&_13{
			&::before{
				content: '\e946';
			}
		}
		&_14{
			&::before{
				content: '\e947';
			}
		}
		&_15{
			&::before{
				content: '\e948';
			}
		}
		&_16{
			&::before{
				content: '\e949';
			}
		}
		&_17{
			&::before{
				content: '\e94a';
			}
		}
		&_18{
			&::before{
				content: '\e94b';
			}
		}
		&_19{
			&::before{
				content: '\e94c';
			}
		}
		&_20{
			&::before{
				content: '\e94d';
			}
		}
		&_21{
			&::before{
				content: '\e94e';
			}
		}
		&_22{
			&::before{
				content: '\e94f';
			}
		}
		&_23{
			&::before{
				content: '\e940';
			}
		}
		&_24{
			&::before{
				content: '\e940';
			}
		}
		&_25{
			&::before{
				content: '\e950';
			}
		}
		&_26{
			&::before{
				content: '\e951';
			}
		}
		&_27{
			&::before{
				content: '\e952';
			}
		}
		&_28{
			&::before{
				content: '\e953';
			}
		}
		&_29{
			&::before{
				content: '\e954';
			}
		}
		&_30{
			&::before{
				content: '\e955';
			}
		}
		&_31{
			&::before{
				content: '\e956';
			}
		}
		&_32{
			&::before{
				content: '\e957';
			}
		}
		&_33{
			&::before{
				content: '\e958';
			}
		}
		&_34{
			&::before{
				content: '\e95f';
			}
		}
		&_35{
			&::before{
				content: '\e960';
				font-size: 10px;
			}
		}
		&_36{
			&::before{
				content: '\e961';
				font-size: 11px;
			}
		}
	}
}

.virtual{
	flex: 0 0 580px;
	max-width: 580px;
	&__header{
		border-radius: 12px 12px 0 0;
		background: rgba(0,0,0,.7);
		padding: 16px 21px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__maintitle{
		font-size: 17px;
		text-transform: uppercase;
		font-weight: 700;
		line-height: 1;
		margin: 0;
	}
	&__nav{
		display: flex;
		align-items: center;
	}
	&__pin{
		position: relative;
		width: 10px;
		height: 10px;
		margin-right: 10px;
		cursor: pointer;
		&:hover{
			&::before{
				color: #fff;
			}
		}
		&::before{
			content: '\e95e';
			transition: .4s;
			@include icon_fonts;
			font-size: 10px;
			position: absolute;
			top: 0;
			left: 0;
			color: #9c9c9c;
		}
	}
	&__full{
		position: relative;
		width: 11px;
		height: 9px;
		margin-right: 10px;
		cursor: pointer;
		&:hover{
			&::before{
				border-color: #fff;
			}
		}
		&::before{
			content: '';
			transition: .4s;
			width: 11px;
			height: 9px;
			position: absolute;
			top: 0;
			left: 0;
			border: 1px solid #9c9c9c;
		}
	}
	&__close{
		position: relative;
		width: 8px;
		height: 8px;
		cursor: pointer;
		&:hover{
			&::before{
				color: #fff;
			}
		}
		&::before{
			content: '\e937';
			transition: .4s;
			@include icon_fonts;
			font-size: 8px;
			position: absolute;
			top: 0;
			left: 0;
			// color: #9c9c9c;
		}
	}
	&__footer{
		border-radius: 0 0 12px 12px;
		background: rgba(0,0,0,.6);
		padding: 10px 13px;
		display: flex;
		justify-content: space-between;
	}
	&__name{
		width: 425px;
		border-radius: 12px;
		background: rgba(255,255,255,.1);
		padding: 9px 15px;
		text-align: center;
	}
	&__btn{
		@include btn;
		width: 118px;
		text-align: center;
		height: 36px;
		padding-top: 6px;
	}
	&__live{
		margin-bottom: 10px;
	}
}

.betSlip_virtual{
	.form__label_check{
		padding-left: 13px !important;
		&::before{
			display: none !important;
		}
		&::after{
			display: none !important;
		}
	}
	.betSlip__info{
		padding-left: 13px !important;
	}
}

.upcoming{
	margin-bottom: 45px;
	&__header{
		border-radius: 12px 12px 0 0;
		background: rgba(0,0,0,.7);
		padding: 8px 17px 9px 21px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid rgba(255,255,255,.15);
	}
	&__maintitle{
		font-size: 17px;
		text-transform: uppercase;
		font-weight: 700;
		line-height: 1;
		margin: 0;
	}
	&__times{
		display: flex;
		align-items: center;
	}
	&__time{
		background: rgba(255,255,255,.1);
		border-radius: 10px;
		padding: 6px 15px;
		margin: 0 4px;
		cursor: pointer;
		transition: .4s;
		&_active{
			background: $color_main;
		}
		&:hover{
			background: $color_hover;
		}
	}
	&__title{
		padding: 12px 21px;
		border-bottom: 1px solid rgba(255,255,255,.15);
		font-weight: 600;
		font-size: 17px;
		background: rgba(0,0,0,.6);
	}
	&__text{
		padding: 14px 55px;
		border-bottom: 1px solid rgba(255,255,255,.15);
		font-size: 17px;
		background: rgba(0,0,0,.6);
		text-align: center;
		line-height: 1.5;
	}
	&__table{
		width: 100%;
		background: rgba(0,0,0,.6);
		border-radius: 0 0 12px 12px;
		overflow: hidden;
		th{
			color: #a6a8a9;
			font-size: 12px;
			height: 37px;
			border-bottom: 1px solid #36393a;
			&:first-child{
				padding-left: 20px;
			}
		}
		td{
			font-weight: 600;
			padding: 11px 5px;
			border-bottom: 1px solid #36393a;
			border-right: 1px solid #36393a;
			text-align: center;
			&:first-child{
				padding-left: 20px;
				text-align: left;
			}
			&:last-child{
				border-right: none;
			}
		}
		tbody{
			tr{
				&:last-child{
					td{
						border-bottom: none;
					}
				}
			}
		}
	}
	&__number{
		background: #0acbff;
		border-radius: 3px;
		width: 17px;
		height: 16px;
		display: inline-block;
		margin-right: 6px;
		color: #fff;
		padding: 0 2px;
		text-align: center;
		line-height: 17px;
		font-weight: 600;
	}
}

.goldenRace{
	background:rgba(0,0,0,.6);
	border-radius: 0 0 12px 12px;
	overflow: hidden;
	&__link{
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 16px 20px;
		border-top: 1px solid rgba(255,255,255,.15);
		transition: .4s;
		&:hover{
		// &_active{
			background: rgba(255,255,255,.1);
			text-decoration: none;
		}
	}
	&__wrap{
		padding-right: 10px;
	}
	&__time{
		font-size: 17px;
		font-weight: 600;
		color: $color_main;
		margin-bottom: 3px;
		display: block;
	}
	&__title{
		font-weight: 600;
		font-size: 17px;
		display: block;
	}
	&__item{
		&_tv{
			width: 20px;
			height: 20px;
			position: relative;
			&::before{
				content: '\e95c';
				@include icon_fonts;
				color: #fff;
				font-size: 20px;
				position: absolute;
				top: 0;
				left: 0;
			}
		}
		&_live{
			padding-right: 29px;
			text-transform: uppercase;
			position: relative;
			&::after{
				content: '\e95d';
				@include icon_fonts;
				font-size: 17px;
				color: #fff;
				position: absolute;
				right: 0;
				top: 48%;
				transform: translateY(-50%);
			}
		}
	}
}