.winners{
	&__main{
		height: 336px;
		background:transparent url('../images/winners_bg.jpg') left top no-repeat;
		padding: 34px 0 0 45px;
		margin-bottom: 30px;
		background-size: cover;
	}
	&__maintitle{
		font-size: 28px;
		font-weight: 700;
		max-width: 540px;
		margin-bottom: 13px;
		letter-spacing: 1.3px;
	}
	&__description{
		color: #c7c7c7;
		font-size: 16px;
		max-width: 535px;
		margin-bottom: 56px;
		line-height: 1.3125;
	}
	&__btn{
		@include btn;
		letter-spacing: 1px;
	}
}

.winnersPage{
	padding: 0 29px;
	&__row{
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		margin-bottom: 20px;
		border-radius: 12px;
		background: rgba(255,255,255,.13);
		padding: 19px 21px;
	}
	&__content{
		display: flex;
	}
	&__image{
		box-shadow: 0 6px 13px rgba(0, 0, 0, 0.35), inset 0 -4px 0 rgba(0, 0, 0, 0.45);
		flex: 0 0 139px;
		max-width: 139px;
		margin-right: 26px;
		border-radius: 12px;
		overflow: hidden;
	}
	&__title{
		font-size: 20px;
		font-weight: 700;
		margin-bottom: 3px;
	}
	&__date{
		color: #aeaeae;
		margin-bottom: 15px;
	}
	&__description{
		color: #868686;
		font-size: 16px;
	}
	&__btn{
		margin: 0 0 9px 70px;
		@include btn;
		min-width: 151px;
		text-align: center;
	}
	&__footer{
		.loader{
			padding: 13px 0 33px;
		}
	}
}