html {
	height: 100%;
}

body {
	font: 400 14px 'GillSans', Arial, sans-serif;
	width: 100%;
	height: 100%;
	line-height: 1.3;
	position: relative;
	color: #fff;
	background:transparent url('../images/main_bg.jpg') no-repeat center top fixed;
	background-size: cover;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.wrapper {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	min-width: 1200px;
	&__content{
		flex: 1 0 auto;
	}
	&.casino_page_all{
		background:transparent url('../images/casino_all_bg.jpg') no-repeat center top fixed;
		background-size: cover;
	}
	&.page_promotion{
		background:transparent url('../images/promotion_bg.jpg') no-repeat center top fixed;
		background-size: cover;
	}
	&.page_deposit{
		background:transparent url('../images/deposit_bg.jpg') no-repeat center top fixed;
		background-size: cover;
	}
	&.page_game{
		background:transparent url('../images/game_bg.jpg') no-repeat center top scroll;
		background-size: cover;
		overflow: hidden;
	}
	&.page_landing{
		background:transparent url('../images/landing_bg.jpg') no-repeat center top scroll;
		overflow: hidden;
		background-size: cover;
		&.page_landing_main{
			background: none !important;
			// background-color: red !important;
			overflow: hidden;
			position: relative;
			// min-height: 620px;
			@media (min-width: 1900px){
				// background-size: 110%;
			}
			// background-size: 130% 110%;
			// @media (max-width: 1919px) and (min-height: 770px){
			// 	background-size: 130% 110%;
			// }
			// @media (max-width: 1400px) and (max-height: 769px){
			// 	background-size: 120%;
			// }
			// @media (min-width: 1921px) and (min-height: 1100px){
			// 	background-size: 130% 110%;
			// }
		}
	}
	&.page_error{
		background:transparent url('../images/404_bg.jpg') no-repeat center top scroll;
		background-size: cover;
		overflow: hidden;
	}
}

* {
	margin: 0;
	padding: 0;
	outline: none;
	
}  

a{
	color: #fff;
	&:hover{
		color: #fff;
	}
}

.middle{
	padding-top: 26px;
	&__container{
		background: rgba(0,0,0,.6);
		border-radius: 12px;
		box-shadow: 0 7px 17px rgba(0, 0, 0, 0.43);
		margin-bottom: 33px;
		&_sidebar{
			// overflow: hidden;
			display: flex;
		}
		&_other{
			background: none;
			box-shadow: none;
		}
	}
	&__content{
		padding: 60px 65px 55px;
		&_sidebar{
			padding-left: 56px;
			width: 100%;
		}
		&_other{
			padding: 0;
		}
		&_account{
			padding-top: 56px;
			padding-left: 59px;
		}
		&_doc{
			padding-left: 60px;
			padding-top: 57px;
		}
	}
}

img{
	max-width: 100%;
	height: auto;
}

.container{
	max-width: 1200px !important;
}

.casino_page{
	// .container{
	// 	max-width: 1170px;
	// }
	.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
		padding: 0 15px;
	}
}

.form{
	&__text{
		width: 100%;
		background: rgba(0,0,0,.25);
		height: 40px;
		border-radius: 12px;
		padding: 0 16px;
		border: 1px solid transparent;
		transition: .4s;
		&.not_empty,
		&:focus,
		&:hover{
			border-color: #507a00;
		}
		&_light{
			&.not_empty,
			&:focus,
			&:hover{
				border-color: $color_main;
			}
		}
		&_changepass{
			background: rgba(255,255,255,.07);
		}
		&::-webkit-input-placeholder {color:#909090;}
		&::-moz-placeholder          {color:#909090;}
		&:-moz-placeholder           {color:#909090;}
		&:-ms-input-placeholder      {color:#909090;}
	}
	&__checkbox{
		margin-bottom: 15px;
	}
	&__check{
		display: none;
		&:checked{
			&+label{
				&::before{
					border-color: $color_main;
				}
				&::after{
					@include icon_fonts;
					content: '\e91c';
					color: $color_main;
					position: absolute;
					top: 3px;
					left: 4px;
					font-size: 12px;
				}
			}
		}
	}
	&__label{
		&_check{
			padding-left: 32px;
			line-height: 18px;
			display: block;
			position: relative;
			cursor: pointer;
			&:hover{
				&::before{
					border-color: #53780f;
				}
			}
			&::before{
				content: '';
				display: block;
				width: 18px;
				height: 18px;
				border-radius: 4px;
				border: 1px solid #434544;
				position: absolute;
				top: 0;
				left: 0;
				transition: .4s;
			}
		}
		&_security{
			color: #a8aaa6;
		}
	}
	&__textarea{
		resize: none;
		border-radius: 12px;
		color: #a8aaa6;
		padding: 15px;
		border: none;
		height: 88px;
		width: 100%;
		color: #fff;
		&::-webkit-input-placeholder {color:#909090;}
		&::-moz-placeholder          {color:#909090;}
		&:-moz-placeholder           {color:#909090;}
		&:-ms-input-placeholder      {color:#909090;}
		&_file{
			background: rgba(255,255,255,.07);
		}
	}
	&__item{
		&_textarea{
			padding-top: 20px;
		}
		&_changepass{
			margin-bottom: 14px;
			margin-left: 0 !important;
		}
	}
	&__actions{
		&_file{
			padding: 30px;
			text-align: center;
		}
	}
	&__submit{
		&_file{
			@include btn();
			padding-right: 42px;
			padding-left: 42px;
		}
	}
}

.popup{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 99;
}

.sidebar{
	flex: 0 0 285px;
	max-width: 285px;
	flex-direction: column;
	background: rgba(0,0,0,.25);
	padding-bottom: 60px;
	border-radius: 12px 0 0 12px;
	&__title{
		color: #5c5e62;
		font-size: 17px;
		font-weight: 700;
		text-transform: uppercase;
		position: relative;
		padding: 21px 15px 21px 64px;
		&::before{
			content: '\e911';
			@include icon_fonts;
			font-size: 22px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 21px;
		}
		&_account{
			&::before{
				content: '\e909';
			}
		}
		&_bonuses{
			&::before{
				content: '\e914';
			}
		}
		&_promotions{
			&::before{
				content: '\e915';
			}
		}
	}
	&__nav{
		border-top: 1px solid 	rgba(255, 255, 255, .15);
	}
	&__link{
		display: block;
		padding: 11px 15px 11px 62px;
		border-bottom: 1px solid 	rgba(255, 255, 255, .15);
		color: #a8aaa6;
		font-size: 17px;
		font-weight: 600;
		position: relative;
		transition: .4s;
		&::after{
			content: '\f0da';
			font-family: 'FontAwesome';
			color: #5c5e62;
			font-size: 14px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 26px;

		}
		&_active{
			color: #fff;
			background: rgba(255,255,255,.15);
			&::after{
				color: $color_main;
			}
		}
		&:hover{
			text-decoration: none;
			background: rgba(255,255,255,.05);
			color: #a8aaa6;
		}
	}
}

.page__title{
	margin: 0 0 30px;
	font-size: 28px;
	font-weight: 700;
	letter-spacing: 2px;
}

p{
	line-height: 1.5;
	margin-bottom: 21px;
}

.all_pages{
	position: fixed;
	top: 20%;
	right: 0;
	&:hover{
		ul{
			right: 0;
		}
	}
	.page_point{
		width: 40px;
		height: 15px;
		background: $color_main;
		cursor: pointer;
	}
	ul{
		background: $color_main;
		padding: 15px 20px;
		position: absolute;
		top: 100%;
		width: 200px; 
		right: -200px;
		transition: .4s;
		max-height: 450px;
		overflow-y: auto;
		li{
			list-style: none;
			margin-bottom: 15px;
			font-size: 16px;
			a{
				color: #fff;
			}
		}
	}
}

.custom-select{
	&__option{
		&.active{
			padding-left: 29px;
			position: relative;
			&::before{
				content: '';
				display: block;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 3px 0 3px 5px;
				border-color: transparent transparent transparent $color_main;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 15px;
			}
		}
		&--value{
			padding-left: 0px !important;
			&::before{
				display: none !important;
			}
		}
	}
}

.breadcrumbs{
	font-weight: 600;
	display: flex;
	padding: 7px 0 15px 21px;
	&__sep{
		padding: 0 8px;
	}
}

.drop{
	width: 100%;
	&_sports{
		flex: 0 0 33.3%;
		max-width: 33.3%;
		padding: 0 2.5px;
		margin-bottom: 8px;
	}
	&__content{
		position: relative;
	}
	&__title{
		width: 100%;
		border-radius: 10px;
		background: rgba(255,255,255,.1);
		padding: 8px 30px 8px 20px;
		cursor: pointer;
		transition: .4s;
		position: relative;
		&:hover{
			background: rgba(255,255,255,.2);
		}
		&_active{
			background: $color_main;
			&:hover{
			background: $color_main;
		}
		}
		&::after{
			content: '\f0d7';
			font-family: 'FontAwesome';
			font-size: 11px;
			color: #fff;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 20px;
		}
	}
	&__dropdown{
		position: absolute;
		top: calc(100% + 5px);
		z-index: 10;
		background: #151717;
		border-radius: 12px;
		width: 100%;
		overflow: hidden;
		display: none;
		&_active{
			display: block;
		}
	}
	&__item{
		color: #a8aaa6;
		padding: 10px 15px;
		transition: .4s;
		cursor: pointer;
		position: relative;
		&:hover{
			background: #1b1f1e;
		}
		&_active{
			padding-left: 31px;
			color: #fff;
			&::before{
				content: '';
				display: block;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 3px 0 3px 5px;
				border-color: transparent transparent transparent $color_main;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 15px;
			}
		}
	}
}

.page_error{
	.wrapper__content{
		flex: 0 0 auto;
	}
	.error{
		margin-bottom: 0;
		border-radius: 12px 12px 0 0;
	    height: 70vh;
	}
	.footer__nav{
		border-radius: 0 0 10px 10px;
	}
}