.header {
	&__content{
		padding-top: 17px;
		padding-bottom: 28px;
	}
	&__info{
		display: flex;
		align-items: flex-end;
		flex-direction: column;
		.not_front &{
			// padding-right: 	30px;
		}
	}
	&__nav{
		display: flex;
		margin-bottom: 25px;
	}
	&__link{
		margin-right: 35px;
		line-height: 22px;
		&:last-child{
			margin-right: 30px;
		}
	}
	&__container{
		box-shadow: 0 7px 22px rgba(0, 0, 0, 0.66);
		background: rgba(79,92,98,.45);
		border-bottom: 1px solid rgba(255, 255, 255, .1);
		border-top: 1px solid rgba(255, 255, 255, .1);
	}
}

.languageBlock{
	position: relative;
	padding-right: 15px;
	cursor: pointer;
	&.no_child{
		.languageBlock__icon{
			display: none;
		}
	}
	&_footer{
		margin-top: -33px;
		padding-top: 46px;
		&:not(.no_child){
			&:hover{
				.languageBlock__drop_footer{
					display: block;
				}
			}
		}
	}
	&__body,
	&__item{
		display: flex;
		align-items: center;
	}
	&__item{
		padding: 8px 15px;
		width: 100%;
		&_footer{
			transition: .4s;
			&:hover{
				background: rgba(255,255,255,.05);
			}
		}
	}
	&__icon{
		position: absolute;
		top: 50%;
		right: 0;
		color: #a5a5a5;
		transform: translateY(-50%);
		&_footer{
			top: 65%;
			transform: translateY(0%);
		}
	}
	&__text{
		margin-left: 13px;
		color: #a5a5a5;
		font-size: 18px;
		font-weight: 600;
		&_header{
			display: none;
		}
	}
	&__drop{
		position: absolute;
		top: 100%;
		right: 0;
		background: rgba(0,0,0,.9);
		border-radius: 3px;
		padding: 5px 0;
		z-index: 10;
		min-width: 50px;
		align-items: center;
		flex-direction: column;
		display: none;
		&.active{
			display: flex;
		}
		&_footer{
			min-width: 150px;
			right: auto;
			left: 0;
			bottom: 100%;
			top: auto;
			padding-top: 10px;
			border-radius: 12px;
			padding-left: 0;
			padding-right: 0;
		}
	}
	&__image{
		width: 22px;
		height: 22px;
		display: flex;
		align-items: center;
		&_footer{
			width: 33px;
			height: 33px;
		}
	}
}

.form{
	&_login{
		display: flex;
	}
	&__text{
		&_pass{
			padding-right: 60px;
		}
	}
	&__item{
		&_header{
			margin-left: 4px;
			font-size: 17px;
		}
		&_login{
			width: 197px;
		}
		&_pass{
			width: 197px;
			position: relative;
		}
	}
	&__forgot{
		position: absolute;
		top: 0;
		right: 14px;
		color: #93df00;
		opacity: .52;
		line-height: 40px;
		font-size: 14px;
		&:hover{
			color: #93df00;
		}
	}
	&__actions{
		&_login{
			position: relative;
			margin-left: 6px;
			&::after{
				content: '';
				width: 16px;
				height: 16px;
				position: absolute;
				top: 50%;
				right: 18px;
				transform: translateY(-50%);
				background:transparent url('../images/right_arrow.svg') left top no-repeat;
				z-index: 10;
				background-size: cover;
			}
		}
	}
	&__submit{
		&_login{
			@include btn;
			padding: 7px 42px 10px 24px;
		}
	}
	&__register{
		@include btn;
		padding-left: 25px;
		padding-right: 25px;
		margin-left: 16px;
	}
}

.mainNav{
	display: table;
	&__item{
		display: table-cell;
		position: relative;
		border-left: 1px solid rgba(255, 255, 255, .1);
		&:last-child{
			border-right: 1px solid rgba(255, 255, 255, .1);
		}
		&::after{
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: -1px;
			width: 100%;
			height: calc(100% + 2px);
			background: $color_main;
			transition: .4s;
			opacity: 0;
		}
		// &:hover,
		&_active{
			&::after{
				opacity: 1;
			}
		}
	}
	&__image{
		max-height: 17px;
		max-width: 17px;
		position: absolute;
		top: 50%;
		left: 27px;
		transform: translateY(-50%);
		z-index: 1;
	}
	&__link{
		padding: 13px 10px 15px 54px;
		display: block;
		font-size: 19px;
		position: relative;
		z-index: 1;
		transition: .4s;
		&:hover{
			text-decoration: none;
			background: rgba(255,255,255,.2);
		}
	}
}

.logo{
	padding-top: 10px !important;
}
// .not_front:not(.casino_page){
// 	.logo{
// 		img{
// 			position: relative;
// 			left: 10px;
// 		}
// 	}
// }

.userLogin{
	display: flex;
	position: relative;
	z-index: 100;
	&__btn{
		@include btn;
		margin-right: 12px;
	}
	&__wrap{
		position: relative;
	}
	&__nav{
		color: #8fd111;
		font-size: 17px;
		font-weight: 700;
		min-width: 171px;
		text-align: center;
		background: rgba(0,0,0,.25);
		border-radius: 12px;
		padding: 9px 40px;
		position: relative;
		cursor: pointer;
		&::before{
			content: '\e909';
			@include icon_fonts;
			font-size: 16px;
			color: #545852;
			left: 20px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}
		i{
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			color: #a5a5a5;
			right: 14px;
		} 	
	}
	&__dropdown{
		display: none;
		position: absolute;
		top: calc(100% + 5px);
		border-radius: 12px;
		box-shadow: 0 7px 17px rgba(0, 0, 0, 0.43);
		z-index: 10;
		background-color: #151717;
		width: 100%;
		&_active{
			display: block;
		}
	}
	&__link{
		padding: 15px 15px 13px 37px;
		display: block;
		position: relative;
		transition: .4s;
		&::before{
			@include icon_fonts;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 14px;
			font-size: 13px;
			color: #fff;
		}
		&:hover{
			text-decoration: none;
			background-color: #1b1f1e;
		}
		&_1{
			&::before{
				content: '\e909';
			}
		}
		&_2{
			&::before{
				content: '\e910';
				font-size: 14px;
			}
		}
		&_3{
			&::before{
				content: '\e912';
				font-size: 12px;
			}
		}
	}
	&__balance{
		padding: 13px 15px;
		background-color: #1b1f1e;
	}
	&__item{
		display: flex;
		justify-content: space-between;
		margin-bottom: 8px;
		&:last-child{
			margin-bottom: 0;
		}
	}
}