html {
	height: 100%;
	&.hidden{
		overflow: hidden;
		// height: 100vh;
		position: relative;
	}
}

body {
	font: 400 12px 'GillSans', Arial, sans-serif;
	width: 100%;
	height: 100%;
	line-height: 1.3;
	position: relative;
	color: #fff;
	background: #161718;
	background-size: cover;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	&.hidden{
		overflow: hidden;
		// height: 100vh;
		position: relative;
	}
}

.wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	&__content{
		flex: 1 0 auto;
	}
}

* {
	margin: 0;
	padding: 0;
	outline: none;
	
}  

a{
	color: #fff;
	text-decoration: none !important;
	&:hover{
		color: #fff;
		text-decoration: none !important;
	}
}

.middle{
	padding-top: 71px;
}

img{
	max-width: 100%;
	height: auto;
}

.container{
	padding: 0 8px;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
	padding: 0 4px;
}

.form{
	&__text{
		width: 100%;
		background: rgba(0,0,0,.25);
		height: 48px;
		border-radius: 12px;
		padding: 0 16px;
		border: 1px solid transparent;
		transition: .4s;
		font-size: 14px;
		&_phone{
			font-size: 17px;
		}
		&:focus,
		&:hover{
			border-color: #507a00;
		}
		&::-webkit-input-placeholder {color:#909090;}
		&::-moz-placeholder          {color:#909090;}
		&:-moz-placeholder           {color:#909090;}
		&:-ms-input-placeholder      {color:#909090;}
	}
	&_user{
		padding: 125px 22px 0;
		max-width: 400px;
		margin: 0 auto;
	}
	&_register{
		padding-top: 70px;
	}
	&__item{
		&_user{
			margin-bottom: 10px;
		}
		&_password{
			position: relative;
		}
	}
	&__actions{
		&_user{
			min-width: 180px;
			margin: 35px auto 0;
			display: table;
			position: relative;
			&::after{
				content: '\e931';
				@include icon_fonts;
				font-size: 16px;
				color: #fff;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 49px;
			}
		}
	}
	&__submit{
		&_user{
			@include btn;
			width: 100%;
			padding-left: 55px;
			text-align: left;
		}
		&_register{
			padding-left: 43px;
		}
	}
}

.show_pass{
	position: absolute;
	right: 15px;
	top: 50%;
	transform: translateY(-50%);
	width: 16px;
	height: 16px;
	&::after{
		content: '\e933';
		@include icon_fonts;
		font-size: 16px;
		color: #fff;
		position: absolute;
		bottom: 0;
		right: 0;
	}
	&.active{
		&::after{
			content: '\e932';
		}
	}
}

.node{
	padding: 0 10px;
}

.base{
	&_text{
		margin-bottom: 55px;
	}
	&__header{
		&_popup{
			padding-top: 130px;
		}
		&_verify{
			padding-top: 60px;
		}
		&_documents{
			padding-top: 70px;
		}
		&_check{
			padding-top: 60px;
		}
	}
	&__maintitle{
		font-size: 22px;
		text-align: center;
		font-weight: 600;
		padding-top: 75px;
		position: relative;
		margin: 0 0 15px;
		&::before{
			content: '\e926';
			@include icon_fonts;
			font-size: 51px;
			color: #fff;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
		}
		&_gaming{
			&::before{
				content: '\e927';
			}
		}
		&_about{
			padding-top: 0;
			&::before{
				display: none;
			}
		}
		&_terms{
			&::before{
				content: '\e925';
			}
		}
		&_payment{
			&::before{
				content: '\e921';
			}
		}
		&_mobile1{
			&::before{
				content: '\e92b';
			}
		}
		&_documents{
			&::before{
				content: '\e92d';
				font-size: 50px;
			}
		}
		&_check{
			&::before{
				content: '\e92e';
				font-size: 50px;
			}
		}
	}
	&__text{
		color: #969696;
		text-align: center;
		max-width: 265px;
		margin: 0 auto 55px;
		line-height: 1.71;
		font-size: 14px;
		&_profile{
			max-width: 206px;
		}
		&_documents{
			max-width: 225px;
			margin-bottom: 35px;
		}
		&_check{
			margin-bottom: 40px;
			max-width: 220px;
		}
	}
	&__row{
		margin-bottom: 22px;
	}
	&__title{
		font-size: 17px;
		font-weight: 600;
		margin-bottom: 10px;
		&_terms{
			margin-bottom: 20px;
		}
	}
	&__description{
		color: #969696;
		line-height: 1.71;
		font-size: 14px;
		a{
			color: #7fc104;
		}
	}
	&__logo{
		max-width: 150px;
		margin: 0 auto 18px;
		left: -10px;
		position: relative;
	}
}

.select__other{
	.custom-select{
		background: #111213;
		border-radius: 12px;
		position: relative;
		&::after{
			content: '\f107';
			font-family: 'fontAwesome';
			font-size: 20px;
			color: #6c7073;
			position: absolute;
			top: 50%;
			right: 16px;
			transform: translateY(-50%);
		}
		button{
			background-color: #111213 !important;
		}
		&__dropdown{
			top: calc(100% + 4px);
			background: #24272a;
			border-radius: 12px;
			overflow: hidden;
			.custom-select__option{
				background: #24272a !important;
				
			}
		}
	}
}

.custom-select{
	background: transparent url('../images/select_arr2.png') right 18px center no-repeat;
	border-radius: 12px;
	height: 34px;
	color: #fff;
	width: 124px;
	font-size: 15px;
	cursor: pointer;
	width: 100%;
	border: none;
	background-color: #24272a;
	border-radius: 0;
	height: 48px;
	box-shadow: none;
	*{
		outline: none !important;
	}
	&__dropdown{
		z-index: 10;
		min-width: 148px;
		border: 1px solid $color_main;
		border-radius: 0;
		background-color: #393d42;
		top: 100%;
		overflow: hidden;
	}
	&__option{
		color: #a8aaa6;
		padding: 8px 14px;
		transition: .4s;
		&.active{
			padding-left: 29px;
			position: relative;
			&::before{
				content: '';
				display: block;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 3px 0 3px 5px;
				border-color: transparent transparent transparent $color_main;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 15px;
			}
		}
		&:hover{
			background-color: #1b1f1e;
		}
		&--value{
			color: #89d100;
			&.active{
				padding-left: 0;
				line-height: 31px;
				&::before{
					display: none;
				}
			}
		}
	}
	button{
		width: 100%;
		text-align: left;
		line-height: 36px;
		background-color: #24272a !important;
		border: none !important;
	}
}
.custom-select__option:not(.custom-select__option--value){
	background-color: #393d42 !important;
}
.custom-select__option--value:hover{
	background: none;
}
.custom-select__option--value{
	padding-top: 2px;
	color: #fff;
	line-height: 32px;
}
.custom-select__dropdown{
	border: none;
	background-color: #393d42;
}

.popup__user{
	position: absolute;
	top: 0;
	right: -100vw;
	width: 100%;
	height: 100%;
	background-color: #17181a;
	z-index: 100;
	transition: .4s;
	&.popup_profile_active{
		right: 0;
	}
}

.register__link{
	color: #89d100;
	font-weight: 600;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 25px;
	font-size: 14px;
}

.forgot__pass{
	color: #93df00;
	font-weight: 600;
	padding-top: 35px;
	text-align: center;
	display: block;
	font-size: 14px;
	opacity: .52;
}

.all_pages{
	position: fixed;
	top: 20%;
	right: 0;
	z-index: 50;
	&:hover{
		ul{
			right: 0;
		}
	}
	.page_point{
		width: 40px;
		height: 15px;
		background: $color_main;
		cursor: pointer;
	}
	ul{
		background: $color_main;
		padding: 15px 20px;
		position: absolute;
		top: 100%;
		width: 200px;
		right: -200px;
		transition: .4s;
		max-height: 450px;
		overflow-y: auto;
		li{
			list-style: none;
			margin-bottom: 15px;
			font-size: 16px;
			a{
				color: #fff;
			}
		}
	}
}
.page_list{
	ul{
		right: 0 !important;
	}
}

.checkbox{
	&__input{
		display: none;
		&:checked{
			&+label{
				&::after{
					content: '\e91c';
					@include icon_fonts;
					font-size: 14px;
					width: 14px;
					height: 12px;
					left: 50%;
					top: 50%;
					margin: -7px 0 0 -7px;
					color: #fff;
					position: absolute;
				}
			}
		}
	}
	&__label{
		position: relative;
		width: 25px;
		height: 23px;
		margin-bottom: 0;
		&::before{
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			border-radius: 4px;
			background: #505358;
		}
	}
}

.breadcrubms{
	margin-bottom: 15px;
	*{
		color: #969696;
	}
	&__sep{
		padding: 0 4px;
	}
}

.games__row_tablet{
	display: none;
}