.footer {
	flex: 0 0 auto;
	padding-bottom: 60px;
	padding-top: 10px;
	border-top: 1px solid #24272a;
	&__text{
		color: #fff;
		opacity: .4;
		font-size: 13px;
		line-height: 1.46;
		margin-bottom: 32px;
	}
	.mygame_page &{
		border-top: 1px solid #24272a;
		padding-top: 12px;
	}
	.help_page &{
		display: none;
	}
	.casino_live_page &{
		padding-bottom: 125px;
	}
}
.casino_live_page{
	.open_account{
		display: block;
	}
}

.help_page{
	.fixedNav{
		display: none;
	}
}

.open_account{
	position: fixed;
	bottom: 52px;
	width: 100%;
	left: 0;
	padding: 8px 13px;
	background-color: #2c3033;
	display: none;
	&_btn{
		@include btn;
		height: 50px;
		width: 100%;
		max-width: 295px;
		margin: 0 auto;
		text-align: center;
		padding-top: 12px;
		display: table;
		&::after{
			content: '\e931';
			@include icon_fonts;
			padding-left: 15px;
			position: relative;
			top: 2px;
		}
	}
}

.fixedNav{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	box-shadow: 0 -6px 13px rgba(0, 0, 0, 0.25);
	background-color: #2c3033;
	display: flex;
	justify-content: space-between;
	padding: 8px 20px 6px;
	&__item{
		padding-top: 23px;
		color: #969696;
		position: relative;
		&::after{
			@include icon_fonts;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			font-size: 19px;
			display: block;
			color: #8c8c8c;
		}
		&_active{
			color: $color_main;
			&::after{
				color: $color_main;
			}
		}
		&_1{
			&::after{
				content: '\e90a';
			}
		}
		&_2{
			&::after{
				content: '\e90b';
			}
		}
		&_3{
			&::after{
				content: '\e902';
			}
		}
		&_4{
			&::after{
				content: '\e90c';
			}
		}
		&_5{
			&::after{
				content: '\e963';
			}
		}
		&_6{
			&::after{
				content: '\e90c';
			}
		}
		&_7{
			&::after{
				content: '\e965';
			}
		}
	}
	&__count{
		position: absolute;
		top: -4px;
		right: -4px;
		width: 18px;
		height: 18px;
		background: #a0a0a0;
		border-radius: 50%;
		z-index: 10;
		color: #191a1c;
		font-size: 12px;
		text-align: center;
		line-height: 18px;
	}
}

.mobileNav{
	position: fixed;
	top: 0;
	left: -100vw;
	width: 100%;
	height: 100vh;
	overflow-y: auto;
	background-color: rgb(23,24,26);
	padding: 0 8px 70px;
	transition: .5s;
	z-index: 100;
	&.active{
		left: 0;
	}
	&__header{
		padding: 20px 0;
		position: relative;
	}
	&__logo{
		display: block;
		max-width: 115px;
		margin: 0 auto;
	}
	&__close{
		position: absolute;
		top: 50%;
		left: 9px;
		transform: translateY(-50%);
		width: 20px;
		height: 20px;
		&::after{
			@include icon_fonts;
			content: '\e90d';
			font-size: 20px;
			color: #fff;
			position: absolute;
			top: 0;
			left: 0;
			transform: rotate(180deg);
		}
	}
	&__link{
		background-color: rgb(36,39,42);
		display: block;
		color: #fff;
		font-size: 17px;
		font-weight: 600;
		padding: 18.5px 35px 18.5px 13px;
		margin-bottom: 2px;
		position: relative;
		&::after{
			@include icon_fonts;
			content: '\e90d';
			color: #6c7073;
			font-size: 13px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 23px;
		}
		&:active{
			background-color: rgba(36,39,42,.8);
		}
		&_icon{
			padding-left: 56px;
			&::before{
				@include icon_fonts;
				font-size: 22px;
				color: #fff;
				top: 50%;
				transform: translateY(-50%);
				left: 13px;
				position: absolute;	
			}
		}
		&_1{
			&::before{
				content: '\e90c';
			}
		}
		&_2{
			&::before{
				content: '\e90f';
				font-size: 24px;
			}
		}
		&_3{
			&::before{
				content: '\e910';
				font-size: 26px;
			}
		}
		&_4{
			&::before{
				content: '\e911';
			}
		}
	}
	&__content{
		margin-bottom: 8px;
	}
	&__footer{
		padding: 40px 0;
		display: flex;
		justify-content: center;
	}
	&__desktop{
		font-weight: 600;
		border-radius: 12px;
		background-color: #24272a;
		padding: 12.5px 33px;
	}
}

.countryBlock{
	position: fixed;
	top: 0;
	right: -100vw;
	width: 100%;
	max-height: 100vh;
	overflow-y: auto;
	background-color: #17181a;
	padding: 0 8px 70px;
	transition: .5s;
	z-index: 10;
	&.active{
		right: 0;
	}
	&__link{
		background-color: #24272a;
		display: block;
		color: #fff;
		font-size: 17px;
		font-weight: 600;
		padding: 18.5px 35px 18.5px 17px;
		margin-bottom: 2px;
		position: relative;
		&_active{
			background: $color_main;
		}
	}
	&__title{
		font-size: 17px;
		font-weight: 700;
		text-align: center;
	}
	&__header{
		position: relative;
		padding: 22px 0;
	}
	&__close{
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		width: 20px;
		height: 20px;
		&::after{
			@include icon_fonts;
			content: '\e90d';
			font-size: 20px;
			color: #fff;
			position: absolute;
			top: 0;
			left: 0;
			transform: rotate(180deg);
		}
	}
}

.ios{
	.mobileNav__footer{
		padding-bottom: 50px;
	}
	.countryBlock{
		padding-bottom: 80px;
	}
}
 
.explore{
	&_popup{
		position: fixed;
		height: 100%;
		z-index: 100;
		width: 100%;
		background: rgba(23,24,26,.95);
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		padding: 11px 7px;
		display: none;
		&.active{
			display: flex;
		}
	}
	&_btn{
		width: 100%;
		height: 59px;
		display: flex;
		align-items: center;
		padding: 5px;
		font-size: 17px;
		text-decoration: none !important;
		margin-bottom: 2px;
		justify-content: center;
		background: #24272a;
		&_2{
			margin-bottom: 10px;
		}
	}
}