.header{
	padding: 16px 14px;
	position: relative;
	background: #282c30;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 40;
	&__content{
		display: flex;
		justify-content: space-between;
	}
	&__title{
		position: absolute;
		top: 49%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 17px;
		font-weight: 600;
	}
	&__user{
		display: flex;
	}
	&__pay{
		position: relative;
		width: 17px;
		height: 17px;
		display: block;
		margin-right: 28px;
		&::after{
			content: '\e908';
			@include icon_fonts;
			font-size: 17px;
			color: #fff;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	&__cabinet{
		position: relative;
		width: 17px;
		height: 17px;
		display: block;
		&::after{
			content: '\e909';
			@include icon_fonts;
			font-size: 17px;
			color: #fff;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	&__login{
		color: #89d100;
		font-weight: 600;
		font-size: 14px;
	}
	.base_page &{
		background-color: #161718;
		min-height: 50px;
	}
}

.menuBtn{
	width: 18px;
	padding-top: 2px;
	&__item{
		margin-bottom: 3px;
		width: 100%;
		height: 2px;
		background: #fff;
		&_3{
			margin-bottom: 0;
		}
	}
}

.back__btn{
	position: absolute;
	top: 50%;
	left: 25px;
	transform: translateY(-50%);
	width: 20px;
	height: 20px;
	&::after{
		@include icon_fonts;
		content: '\e90d';
		font-size: 20px;
		color: #fff;
		position: absolute;
		top: 0;
		left: 0;
		transform: rotate(180deg);
	}
}