//= templates/head.html
	<div class="wrapper not_front page_account">
		<div class="wrapper__content">
			//= templates/header.html
			<div class="middle clearfix">
				<div class="middle__inner container">
					<div class="middle__container middle__container_sidebar">
						<div class="sidebar">
							<div class="sidebar__title sidebar__title_account">Account</div>
							<div class="sidebar__nav">
								<a href="#" class="sidebar__link">My account</a>
								<a href="#" class="sidebar__link">Account Settings</a>
								<a href="#" class="sidebar__link">Send Documents</a>
								<a href="#" class="sidebar__link sidebar__link_active">Transaction History</a>
								<a href="#" class="sidebar__link">Account Limits</a>
							</div>
							<div class="sidebar__title sidebar__title_bonuses">Bonuses</div>
							<div class="sidebar__nav">
								<a href="#" class="sidebar__link">My Bonuses</a>
								<a href="#" class="sidebar__link">Bonus Codes</a>
							</div>
							<div class="sidebar__title sidebar__title_promotions">Promotions</div>
							<div class="sidebar__nav">
								<a href="#" class="sidebar__link">ComeOn! Points</a>
								<a href="#" class="sidebar__link">Refer a Friend</a>
								<a href="#" class="sidebar__link">ComeOn! Shop</a>
							</div>
						</div>
						<div class="middle__content middle__content_sidebar middle__content_account middle__content_history">
							<div class="account">
								<div class="account__title">Transaction History</div>
							</div>
							<div class="history">
								<div class="history__body">
									<div class="history__text"><p>You can search for deposit and withdrawal transactions on this page. Please use the casino game screen to see the history of the game transactions. Please contact support to get a history of financial transactions.</p> 
									<h3>Where are my sportsbook bet details?</h3> 
									<p>You can find your open and closed bet details on the sportsbook page:</p></div>
									<div class="history__links">
										<a href="#" class="history__link">My open bets</a><a href="#" class="history__link">My betting history</a>
									</div>
								</div>
								<div class="history__content">
									<div class="history__header">
										<div class="history__maintitle">History</div>
										<select class="form__select form__select_history">
											<option value="10">10 per page</option>
											<option value="15">15 per page</option>
											<option value="25">25 per page</option>
										</select>
									</div>
									<div class="history__filter">
										<form action="#" class="form form_filter">
											<div class="form__filter form__filter_from">
												<label class="filter__label">From date</label>
												<div class="form__filter_year">
													<select class="form__select form__select_filter">
														<option value="1989">1989</option>
														<option value="1990">1990</option>
														<option value="1991" selected>1991</option>
														<option value="1992">1992</option>
														<option value="1993">1993</option>
														<option value="1994">1994</option>
														<option value="1995">1995</option>
														<option value="1996">1996</option>
														<option value="1997">1997</option>
														<option value="1998">1998</option>
													</select>
												</div>
												<div class="form__filter_month">
													<select class="form__select form__select_filter">
														<option value="1">1</option>
														<option value="2">2</option>
														<option value="3" selected>3</option>
														<option value="4">4</option>
														<option value="5">5</option>
														<option value="6">6</option>
														<option value="7">7</option>
														<option value="8">8</option>
														<option value="9">9</option>
														<option value="10">10</option>
														<option value="11">11</option>
														<option value="12">12</option>
													</select>
												</div>
												<div class="form__filter_day">
													<select class="form__select form__select_filter ">
														<option value="1">1</option>
														<option value="2">2</option>
														<option value="3">3</option>
														<option value="4">4</option>
														<option value="5">5</option>
														<option value="6">6</option>
														<option value="7">7</option>
														<option value="8">8</option>
														<option value="9">9</option>
														<option value="10">10</option>
														<option value="11">11</option>
														<option value="12">12</option>
														<option value="13">13</option>
														<option value="14" selected>14</option>
														<option value="15">15</option>
														<option value="16">16</option>
														<option value="17">17</option>
														<option value="18">18</option>
														<option value="19">19</option>
														<option value="20">20</option>
														<option value="21">21</option>
														<option value="22">22</option>
														<option value="23">23</option>
														<option value="24">24</option>
														<option value="25">25</option>
														<option value="26">26</option>
														<option value="27">27</option>
														<option value="28">28</option>
														<option value="29">29</option>
														<option value="30">30</option>
														<option value="30">30</option>
														<option value="31">31</option>
													</select>
												</div>
											</div>
											<div class="form__filter form__filter_to">
												<label class="filter__label">To date</label>
												<div class="form__filter_year">
													<select class="form__select form__select_filter">
														<option value="1989">1989</option>
														<option value="1990">1990</option>
														<option value="1991" selected>1991</option>
														<option value="1992">1992</option>
														<option value="1993">1993</option>
														<option value="1994">1994</option>
														<option value="1995">1995</option>
														<option value="1996">1996</option>
														<option value="1997">1997</option>
														<option value="1998">1998</option>
													</select>
												</div>
												<div class="form__filter_month">
													<select class="form__select form__select_filter">
														<option value="1">1</option>
														<option value="2">2</option>
														<option value="3" selected>3</option>
														<option value="4">4</option>
														<option value="5">5</option>
														<option value="6">6</option>
														<option value="7">7</option>
														<option value="8">8</option>
														<option value="9">9</option>
														<option value="10">10</option>
														<option value="11">11</option>
														<option value="12">12</option>
													</select>
												</div>
												<div class="form__filter_day">
													<select class="form__select form__select_filter">
														<option value="1">1</option>
														<option value="2">2</option>
														<option value="3">3</option>
														<option value="4">4</option>
														<option value="5">5</option>
														<option value="6">6</option>
														<option value="7">7</option>
														<option value="8">8</option>
														<option value="9">9</option>
														<option value="10">10</option>
														<option value="11">11</option>
														<option value="12">12</option>
														<option value="13">13</option>
														<option value="14" selected>14</option>
														<option value="15">15</option>
														<option value="16">16</option>
														<option value="17">17</option>
														<option value="18">18</option>
														<option value="19">19</option>
														<option value="20">20</option>
														<option value="21">21</option>
														<option value="22">22</option>
														<option value="23">23</option>
														<option value="24">24</option>
														<option value="25">25</option>
														<option value="26">26</option>
														<option value="27">27</option>
														<option value="28">28</option>
														<option value="29">29</option>
														<option value="30">30</option>
														<option value="30">30</option>
														<option value="31">31</option>
													</select>
												</div>
											</div>
											<div class="form__actions form__actions_filter">
												<input type="submit" class="form__submit form__submit_filter" value="Apply">
											</div>
										</form>
									</div>
									<table class="history__table">
										<thead>
											<tr>
												<th>Date</th>
												<th>Reference</th>
												<th>Type</th>
												<th>Detail</th>
												<th>Amount</th>
												<th>Balance</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>10.11.17</td>
												<td>Some text here</td>
												<td>Withdrawal</td>
												<td>Text text</td>
												<td>200$</td>
												<td>3,980$</td>
											</tr>
											<tr>
												<td>10.11.17</td>
												<td>Some text here</td>
												<td>Withdrawal</td>
												<td>Text text</td>
												<td>200$</td>
												<td>3,980$</td>
											</tr>
											<tr>
												<td>10.11.17</td>
												<td>Some text here</td>
												<td>Withdrawal</td>
												<td>Text text</td>
												<td>200$</td>
												<td>3,980$</td>
											</tr>
											<tr>
												<td>10.11.17</td>
												<td>Some text here</td>
												<td>Withdrawal</td>
												<td>Text text</td>
												<td>200$</td>
												<td>3,980$</td>
											</tr>
											<tr>
												<td>10.11.17</td>
												<td>Some text here</td>
												<td>Withdrawal</td>
												<td>Text text</td>
												<td>200$</td>
												<td>3,980$</td>
											</tr>
											<tr>
												<td>10.11.17</td>
												<td>Some text here</td>
												<td>Withdrawal</td>
												<td>Text text</td>
												<td>200$</td>
												<td>3,980$</td>
											</tr>
										</tbody>
									</table>
								</div>
						</div>
					</div>
				</div>	
			</div>
		</div>
		//= templates/footer.html
	</div>
</body>
</html>
