//= templates/head.html
	<div class="wrapper not_front page_account">
		<div class="wrapper__content">
			//= templates/header.html
			<div class="middle clearfix">
				<div class="middle__inner container">
					<div class="middle__container middle__container_sidebar">
						<div class="sidebar">
							<div class="sidebar__title sidebar__title_account">Account</div>
							<div class="sidebar__nav">
								<a href="#" class="sidebar__link">My account</a>
								<a href="#" class="sidebar__link">Account Settings</a>
								<a href="#" class="sidebar__link sidebar__link_active">Send Documents</a>
								<a href="#" class="sidebar__link">Transaction History</a>
								<a href="#" class="sidebar__link">Account Limits</a>
							</div>
							<div class="sidebar__title sidebar__title_bonuses">Bonuses</div>
							<div class="sidebar__nav">
								<a href="#" class="sidebar__link">My Bonuses</a>
								<a href="#" class="sidebar__link">Bonus Codes</a>
							</div>
							<div class="sidebar__title sidebar__title_promotions">Promotions</div>
							<div class="sidebar__nav">
								<a href="#" class="sidebar__link">ComeOn! Points</a>
								<a href="#" class="sidebar__link">Refer a Friend</a>
								<a href="#" class="sidebar__link">ComeOn! Shop</a>
							</div>
						</div>
						<div class="middle__content middle__content_sidebar middle__content_doc">
							<div class="account">
								<div class="account__title account__title_doc">Send Documents</div>
							</div>
							<div class="documents">
								<div class="documents__text">
									<div class="documents__title">Why send documents?</div>
									<div class="documents__description">As part of our license requirements, we need to verify our customer’s identity and personal details. It’s a one time process that should be done before the first withdrawal.</div>
								</div>
								<div class="documents__text">
									<div class="documents__title">What to send?</div>
									<div class="documents__description">We will show you the list of required documents when you make your withdrawal. Depending on your payment options,we might ask you to send the scanned copies or photos of the following documents.</div>
								</div>
								<div class="documents__wrap">
									<div class="documents__item documents__item_1">Photo ID</div>
									<div class="documents__item documents__item_2">Proof of Address</div>
									<div class="documents__item documents__item_3">Credit Card Photocopy</div>
									<div class="documents__item documents__item_4">Bank statement / screenshot of bank account</div>
									<div class="documents__item documents__item_5">Screenshot of e-wallet account</div>
								</div>
								<div class="documents__text">
									<div class="documents__title">How to send?</div>
									<div class="documents__description">Select your files from your computer, select the type of document and upload. Uploaded documents will appear at the list below. Maximum allowed file size is 2MB and allowed file formats are bmp, pdf, gif, jpeg, jpg, png and tif. Please hide the middle 6 digits of your credit card, only the the first 6 and last 4 digits must be visible.</div>
								</div>
								<form action="#" class="form form_file">
									<div class="form__title">Attach file here</div>
									<div class="form_content">
										<div class="form___item form__item_file">
											<input type="file" class="form__file" id="file" name="file">
											<div class="form__file_text">File name</div>
											<label class="form__label form__label_file" for="file">Choose file</label>
										</div>
										<div class="form__item_checkboxes">
											<label class="form__label form__label_main">My file contains:</label>
											<div class="form___item form__checkbox">
												<input type="checkbox" name="file_1" id="file_1" class="form__check">
												<label for="file_1" class="form__label form__label_check">Photo ID</label>
											</div>
											<div class="form___item form__checkbox">
												<input type="checkbox" name="file_2" id="file_2" class="form__check">
												<label for="file_2" class="form__label form__label_check">Proof of Address</label>
											</div>
											<div class="form___item form__checkbox">
												<input type="checkbox" name="file_3" id="file_3" class="form__check">
												<label for="file_3" class="form__label form__label_check">Credit Card Photocopy</label>
											</div>
											<div class="form___item form__checkbox">
												<input type="checkbox" name="file_6" id="file_6" class="form__check">
												<label for="file_6" class="form__label form__label_check">Bank statement / screenshot of bank account</label>
											</div>
											<div class="form___item form__checkbox">
												<input type="checkbox" name="file_4" id="file_4" class="form__check">
												<label for="file_4" class="form__label form__label_check">Screenshot of e-wallet account</label>
											</div>
											<div class="form___item form__checkbox">
												<input type="checkbox" name="file_5" id="file_5" class="form__check">
												<label for="file_5" class="form__label form__label_check">Other</label>
											</div>
										</div>
										<div class="form__item form__item_textarea">
											<label class="form__label form__label_main form__label_textarea">Anything to say?</label>
											<textarea class="form__textarea form__textarea_file" placeholder="Type your message here..."></textarea>
										</div>
									</div>
									<div class="form__actions form__actions_file">
										<input type="submit" class="form__submit form__submit_file" value="Upload">
									</div>
								</form>
								<div class="documents__table">
									<div class="table__title">Uploaded Files</div>
									<table>
										<thead>
											<tr>
												<th>File name</th>
												<th>File type</th>
												<th>Comment</th>
												<th>Upload time</th>
												<th>Status</th>
											</tr>
										</thead>
										<tbody>
											<tr class="tr_pending">
												<td>document-id-card</td>
												<td>id-card</td>
												<td>This is kind of a long comment to the apploaded document </td>
												<td>12.09.17  20:00</td>
												<td>Pending</td>
											</tr>
											<tr class="tr_declined">
												<td>document-id-card</td>
												<td>id-card</td>
												<td></td>
												<td>12.09.17  20:00</td>
												<td><span class="declined">Declined</span></td>
											</tr>
											<tr class="tr_approved">
												<td>document-id-card</td>
												<td>id-card</td>
												<td></td>
												<td>12.09.17  20:00</td>
												<td><span class="approved">Approved</span></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>	
			</div>
		</div>
		//= templates/footer.html
	</div>
</body>
</html>
