//= templates/head.html
	<div class="wrapper not_front page_account">
		<div class="wrapper__content">
			//= templates/header.html
			<div class="middle clearfix">
				<div class="middle__inner container">
					<div class="middle__container middle__container_sidebar">
						<div class="sidebar">
							<div class="sidebar__title sidebar__title_account">Account</div>
							<div class="sidebar__nav">
								<a href="#" class="sidebar__link">My account</a>
								<a href="#" class="sidebar__link">Account Settings</a>
								<a href="#" class="sidebar__link">Send Documents</a>
								<a href="#" class="sidebar__link">Transaction History</a>
								<a href="#" class="sidebar__link sidebar__link_active">Account Limits</a>
							</div>
							<div class="sidebar__title sidebar__title_bonuses">Bonuses</div>
							<div class="sidebar__nav">
								<a href="#" class="sidebar__link">My Bonuses</a>
								<a href="#" class="sidebar__link">Bonus Codes</a>
							</div>
							<div class="sidebar__title sidebar__title_promotions">Promotions</div>
							<div class="sidebar__nav">
								<a href="#" class="sidebar__link">ComeOn! Points</a>
								<a href="#" class="sidebar__link">Refer a Friend</a>
								<a href="#" class="sidebar__link">ComeOn! Shop</a>
							</div>
						</div>
						<div class="middle__content middle__content_sidebar middle__content_account">
							<div class="account">
								<div class="account__title account__title_limits">Account Limits</div>
								<div class="account__info account__info_limits">
									On this page you can set your daily, weekly and/or monthly spending limits or if you feel like you want to take a break from us for a while, please contact our support.
								</div>
								<div class="limits">
									<div class="limits__col">
										<div class="limits__row">
											<div class="limits__title">Your spending limits</div>
										</div>
										<div class="limits__row limits__row_1">
											<div class="account__item">
												<div class="account__label">Daily limit:</div>
												<div class="account__value">€ 500</div>
											</div>
											<div class="progress">
												<div class="progress__text">260 € left to limit</div>
												<div class="progress__bar">
													<div class="progress__current"></div>
												</div>
											</div>
											<div class="account__btns">
												<a href="#" class="account__btn account__btn_limits">Change</a>
											</div>	
										</div>
										<div class="limits__row limits__row_2">
											<div class="account__item">
												<div class="account__label">Daily limit:</div>
												<div class="account__value">€ 500</div>
											</div>
											<div class="progress">
												<div class="progress__text">260 € left to limit</div>
												<div class="progress__bar">
													<div class="progress__current"></div>
												</div>
											</div>
											<div class="account__btns">
												<a href="#" class="account__btn account__btn_limits">Change</a>
											</div>	
										</div>
										<div class="limits__row limits__row_3">
											<div class="account__item">
												<div class="account__label">Daily limit:</div>
												<div class="account__value">€ 500</div>
											</div>
											<div class="account__btns">
												<a href="#" class="account__btn account__btn_limits">Change</a>
											</div>	
										</div>
									</div>
									<div class="limits__col">
										<div class="limits__row">
											<div class="limits__title">Your deposit limits</div>
										</div>
										<div class="limits__row limits__row_1">
											<div class="account__item">
												<div class="account__label">Daily limit:</div>
												<div class="account__value">€ 500</div>
											</div>
											<div class="account__btns">
												<a href="#" class="account__btn account__btn_limits">Change</a>
											</div>	
										</div>
										<div class="limits__row limits__row_2">
											<div class="account__item">
												<div class="account__label">Daily limit:</div>
												<div class="account__value">€ 500</div>
											</div>
											<div class="account__btns">
												<a href="#" class="account__btn account__btn_limits">Change</a>
											</div>	
										</div>
										<div class="limits__row limits__row_3">
											<div class="account__item">
												<div class="account__label">Daily limit:</div>
												<div class="account__value">€ 500</div>
											</div>
											<div class="account__btns">
												<a href="#" class="account__btn account__btn_limits">Change</a>
											</div>	
										</div>
									</div>
									<div class="limits__col">
										<div class="limits__row">
											<div class="limits__title">Your wagering limits</div>
										</div>
										<div class="limits__row limits__row_1">
											<div class="account__item">
												<div class="account__label">Daily limit:</div>
												<div class="account__value">€ 500</div>
											</div>
											<div class="account__btns">
												<a href="#" class="account__btn account__btn_limits">Change</a>
											</div>	
										</div>
										<div class="limits__row limits__row_2">
											<div class="account__item">
												<div class="account__label">Daily limit:</div>
												<div class="account__value">€ 500</div>
											</div>
											<div class="account__btns">
												<a href="#" class="account__btn account__btn_limits">Change</a>
											</div>	
										</div>
										<div class="limits__row limits__row_3">
											<div class="account__item">
												<div class="account__label">Daily limit:</div>
												<div class="account__value">€ 500</div>
											</div>
											<div class="account__btns">
												<a href="#" class="account__btn account__btn_limits">Change</a>
											</div>	
										</div>
									</div>
								</div>
								<div class="limits__timeout">
									<div class="limits__title limits__title_timeout">Time-out</div>
									<div class="limits__description">
										If you want to take a short break from playing with us, you may do so by taking a Time-Out. Once you begin your Time-Out, you will no longer be able to deposit funds or play in any of our products. However, you will be able to withdraw any balance you may have.
									</div>
									<form action="#" class="limits__form">
										<div class="form__item form__item_select form__item_other">
											<select class="form__select form__select_other">
												<option value="Select a time-out period">Select a time-out period</option>
												<option value="1 day">1 day</option>
												<option value="1 week">1 week</option>
											</select>
										</div>
										<a href="#" class="account__btn account__btn_limits">Take time-out</a>
									</form>
								</div>
								<div class="limits__timeout">
									<div class="limits__title limits__title_timeout">Self-exclusion</div>
									<div class="limits__description">
										We will close your account, preventing access to your online account for the time period specified (between 6 months and 5 years). Your account will only be re-opened if you contact us to request it after Self-Exclusion period has expired. Please note that you will be able to decrease your self-exclusion period or revoke it completely, only after seven days from your 1st request. For further details please contact our support team and refer to the Terms and Conditions and Responsible Gaming pages.
									</div>
									<form action="#" class="limits__form">
										<div class="form__item form__item_select form__item_other">
											<select class="form__select form__select_other">
												<option value="Select a time-out period">Select a time-out period</option>
												<option value="1 day">1 day</option>
												<option value="1 week">1 week</option>
											</select>
										</div>
										<a href="#" class="account__btn account__btn_limits">Take time-out</a>
									</form>
								</div>
								<div class="limits__timeout">
									<div class="limits__title limits__title_timeout">Reality Check</div>
									<div class="limits__description">
										If you would like to get a reminder when you have played our games for a certain period of time, you can enable the Reality Check feature. You will also see your wins and losses for that current session.
									</div>
									<form action="#" class="limits__form">
										<div class="form__item form__item_select form__item_other">
											<select class="form__select form__select_other">
												<option value="No limit">No limit</option>
												<option value="1 day">1 day</option>
												<option value="1 week">1 week</option>
											</select>
										</div>
										<a href="#" class="account__btn account__btn_limits">Add limit</a>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>	
			</div>
		</div>
		//= templates/footer.html
	</div>
</body>
</html>
