//= templates/head.html
	<div class="wrapper not_front page_deposit page_landing_deposit">
		<div class="wrapper__content">
			<!-- //= templates/header.html -->
			<div class="middle clearfix">
				<div class="deposit">
					<div class="deposit__close"></div>
					<div class="deposit__logo">
						<a href="#" class="deposit__link"><img src="../images/easybet_logo.svg" alt="" class="deposit__img"></a>
					</div>
					<div class="landing_deposit">
						<form action="#" class="form deposit__form">
							<h1 class="deposit__title">Make a deposit</h1>
							<div class="deposit__text">Please fill in your payment details below to make a deposit.</div>
							<div class="choice">
								<div class="choice__label"><img src="../images/deposit.png" alt=""></div>
								<div class="choice__dropdown">
									<div class="choice__item"><img src="../images/deposit.png" alt=""></div>
									<div class="choice__item"><img src="../images/deposit_2.png" alt=""></div>
								</div>
								<div class="popup_transparent"></div>
							</div>
							<div class="deposit__row deposit__row_1">
								<div class="deposit__item">
									<input type="text" class="deposit__input" placeholder="Card Number">
								</div>
								<div class="deposit__item">
									<input type="text" class="deposit__input" placeholder="Name on card">
								</div>
							</div>
							<div class="deposit__row deposit__row_2">
								<div class="deposit__select_item">
									<select class="deposit__item deposit__item_select">
										<option value="1989" selected>YYYY</option>
										<option value="1989">1989</option>
										<option value="1990">1990</option>
										<option value="1991">1991</option>
										<option value="1992">1992</option>
										<option value="1993">1993</option>
										<option value="1994">1994</option>
										<option value="1995">1995</option>
										<option value="1996">1996</option>
										<option value="1997">1997</option>
										<option value="1998">1998</option>
									</select>
								</div>
								<div class="deposit__select_item">
									<select class="deposit__item deposit__item_select">
										<option value="1" selected>MM</option>
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										<option value="6">6</option>
										<option value="7">7</option>
										<option value="8">8</option>
										<option value="9">9</option>
										<option value="10">10</option>
										<option value="11">11</option>
										<option value="12">12</option>
									</select>
								</div>
								<div class="deposit__item deposit__item_code">
									<input type="text" class="deposit__input" placeholder="CVC code">
								</div>
							</div>
							<div class="deposit__row deposit__row_3">
								<div class="deposit__radios">
									<div class="deposit__radio_item">
										<input type="radio" class="deposit__radio" id="deposit_1" name="deposit" checked>
										<label for="deposit_1" class="deposit_label">25$</label>
									</div>
									<div class="deposit__radio_item">
										<input type="radio" class="deposit__radio" id="deposit_2" name="deposit">
										<label for="deposit_2" class="deposit_label">50$</label>
									</div>
									<div class="deposit__radio_item">
										<input type="radio" class="deposit__radio" id="deposit_3" name="deposit">
										<label for="deposit_3" class="deposit_label">100$</label>
									</div>
								</div>
								<div class="deposit__item deposit__item_amount">
									<input type="text" class="deposit__input" placeholder="Amount">
								</div>
							</div>
							<div class="deposit__row deposit__row_4">
								<div class="deposit__row_item">Fee: (2.5%) <b>0.62 EUR</b></div>
								<div class="deposit__row_item">Deposit amount: <b>25 EUR</b></div>
								<div class="deposit__row_item">Total amount debited: <b>25.62 EUR</b></div>
							</div>
							<div class="deposit__actions">
								<input type="submit" class="deposit__submit" value="Make a deposit">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		//= templates/footer.html
	</div>
</body>
</html>
