//= templates/head.html
	<div class="wrapper not_front page_error">
		<div class="wrapper__content">
			//= templates/header.html
			<div class="middle clearfix">
				<div class="middle__inner container">
					<div class="error">
						<div class="error__image">
							<img src="../images/404.png" alt="" class="error__img">
						</div>
						<div class="error__text">The page you are looking for doesn’t exist.</div>
						<a href="/" class="error__link">Back to homepage</a>
					</div>
				</div>	
			</div>
		</div>
		//= templates/footer.html
	</div>
</body>
</html>
