//= templates/head.html
	<div class="wrapper not_front page_game">
		<div class="wrapper__content">
			//= templates/header.html
			<div class="middle clearfix">
				<div class="middle__inner container">
					<div class="game">
						<div class="gameDeposit__btn"></div>
						<div class="gameDeposit gameDeposit_active">
							<div class="gameDeposit__close"></div>
							<div class="gameDeposit__title">Direct Deposit</div>
							<form action="#" class="form gameDeposit__form">
								<div class="form__wrapper form__wrapper_amount">
									<label class="form__label form__label_amount">Amount (€):</label>
									<div class="form__item form__item_amount">
										<input type="text" class="form__text form__text_amount" value="100">
										<div class="gameDeposit__image">
											<img src="../images/game_deposit.png" alt="">
										</div>
									</div>
									<div class="form__actions form__actions_amount">
										<input type="submit" class="form__submit form__submit_amount" value="Make a deposit">
									</div>
								</div>
							</form>
						</div>
						<div class="winners_game__btn"></div>
						<div class="winners winners_game winners_game_active">
							<div class="winners__close"></div>
							<h2 class="winners__title">Winners Right Now!</h2>
							<div class="winners__row">
								<div class="winners__image"><img src="../images/winner.png" alt=""></div>
								<div class="winners__body">
									<img src="../images/winner_flag.png" alt="" class="winner__flag">
									    <b>johan B</b> just won 14,69 € on Prosperity Palace! Congratulations!
								</div>
							</div>
							<div class="winners__row">
								<div class="winners__image"><img src="../images/winner.png" alt=""></div>
								<div class="winners__body">
									<img src="../images/winner_flag.png" alt="" class="winner__flag">
									    <b>johan B</b> just won 14,69 € on Prosperity Palace! Congratulations!
								</div>
							</div>
							<div class="winners__row">
								<div class="winners__image"><img src="../images/winner.png" alt=""></div>
								<div class="winners__body">
									<img src="../images/winner_flag.png" alt="" class="winner__flag">
									    <b>johan B</b> just won 14,69 € on Prosperity Palace! Congratulations!
								</div>
							</div>
							<div class="winners__row">
								<div class="winners__image"><img src="../images/winner.png" alt=""></div>
								<div class="winners__body">
									<img src="../images/winner_flag.png" alt="" class="winner__flag">
									    <b>johan B</b> just won 14,69 € on Prosperity Palace! Congratulations!
								</div>
							</div>
						</div>
						<div class="game__header">
							<div class="game__size">
								<div class="game__label">Game Size:</div>
								<div class="game__item game__item_1 game__item_active"></div>
								<div class="game__item game__item_2"></div>
								<div class="game__item game__item_3"></div>
							</div>
							<div class="game__btns">
								<a href="#" class="game__btn game__btn_1">Mini Lobby</a>
								<a href="#" class="game__btn game__btn_2">Close game</a>
							</div>
						</div>
						<div class="game__content">
							<div class="game__filter">
								<div class="game__select">
									<select>
										<option value="Wixx">Wixx</option>
										<option value="Wixx2">Wixx2</option>
										<option value="Wixx3">Wixx3</option>
									</select>
								</div>
								<div class="game__like">26</div>
							</div>
							<div class="game__wrapper">
								<img src="../images/game_img.jpg" alt="">
							</div>
						</div>
					</div>
					<div class="game__footer">
						<div class="compamyGames">
							<div class="compamyGames__sidebar">
								<h2 class="compamyGames__title">Wixx</h2>
								<div class="compamyGames__text">Wixx's precious jewels: multiplier topaz, wild rubies, and sapphire stacks! Prospecting never looked so good. Neon colours light up jewels and shards. Combine the precious ones for re-spin rewards...</div>
							</div>
							<div class="compamyGames__content">
								<h2 class="compamyGames__title">Might also like</h2>
								<div class="games__content">
									<div class="games__card">
										<a href="#" class="games__phone"></a>
										<div class="games__label games__label_hot">Hot</div>
										<div class="games__image">
											<a href="#" class="games__link"><img src="../images/game_1.png" alt="" class="games__img"></a>
										</div>
										<a href="#" class="games__title">Starburst</a>
									</div>
									<div class="games__card">
										<a href="#" class="games__phone"></a>
										<div class="games__label games__label_new">New</div>
										<div class="games__image">
											<a href="#" class="games__link"><img src="../images/game_2.png" alt="" class="games__img"></a>
										</div>
										<a href="#" class="games__title">Gonzo's Quest</a>
									</div>
									<div class="games__card">
										<div class="games__image">
											<a href="#" class="games__link"><img src="../images/game_3.png" alt="" class="games__img"></a>
										</div>
										<a href="#" class="games__title">Jungle Books</a>
									</div>
									<div class="games__card">
										<a href="#" class="games__phone"></a>
										<div class="games__image">
											<a href="#" class="games__link"><img src="../images/game_4.png" alt="" class="games__img"></a>
										</div>
										<a href="#" class="games__title">Jungle Books</a>
									</div>
									<div class="games__card">
										<div class="games__image">
											<a href="#" class="games__link"><img src="../images/game_5.png" alt="" class="games__img"></a>
										</div>
										<a href="#" class="games__title">Jungle Books</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>	
			</div>
		</div>
		//= templates/footer.html
	</div>
</body>
</html>
