//= templates/head.html
	<div class="wrapper not_front page_landing">
		<div class="wrapper__content">
			<div class="middle middle_step clearfix">
				<div class="deposit">
					<!-- <div class="deposit__close"></div> -->
					<div class="deposit__logo deposit__logo_with">
						<a href="#" class="deposit__link"><img src="../images/easybet_logo.svg" alt="" class="deposit__img"></a>
					</div>
					<div class="landing">
						<div class="landing__offer"></div>
						<div class="landing__content">
							<div class="landingSteps">
								<div class="landingSteps__item landingSteps__item_1 landingSteps__item_done"><span>Account</span></div>
								<div class="landingSteps__item landingSteps__item_2 landingSteps__item_done"><span>Edit</span></div>
								<div class="landingSteps__item landingSteps__item_3 landingSteps__item_done"><span>Bonus</span></div>
								<div class="landingSteps__item landingSteps__item_4 landingSteps__item_active"><span>Play</span></div>
							</div>
							<div class="landing_step4">
								<div class="deposit__form">
									<h1 class="deposit__title">No deposit was made</h1>
									<div class="deposit__text">You chose to not make a deposit right now so just select where you'd like to go next.</div>
									<div class="step_balance">Your Balance: <span>0</span></div>
									<div class="deposit__subtitle">Where do you want to go?</div>
									<a href="#" class="step_btn">Sports</a>
									<a href="#" class="step_btn">Live Betting</a>
									<a href="#" class="step_btn">Casino</a>
									<a href="#" class="step_btn">Live Casino</a>
									<a href="#" class="account_link">My Account</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer class="footer clearfix">
			<div class="footer_content container">
				<div class="footer__nav footer__nav_step">
					<div class="languageBlock">
						<div class="languageBlock__selected">
							<div class="languageBlock__body">
								<span class="languageBlock__image languageBlock__image_footer">
									<img class="languageBlock__img" src="../images/ng.svg" alt="">
								</span>
								<span class="languageBlock__text">Nigeria</span>
							</div>
							<i class="languageBlock__icon fa fa-caret-down " aria-hidden="true"></i>
						</div>
						<div class="languageBlock__drop languageBlock__drop_footer">
							<div class="languageBlock__item languageBlock__item_footer">
								<span class="languageBlock__image languageBlock__image_footer">
									<img class="languageBlock__img" src="../images/ng.svg" alt="">
								</span>
								<span class="languageBlock__text">Nigeria</span>
							</div>
							<!-- <div class="languageBlock__item languageBlock__item_footer">
								<span class="languageBlock__image languageBlock__image_footer">
									<img class="languageBlock__img" src="../images/EN.svg" alt="">
								</span>
								<span class="languageBlock__text">English</span>
							</div> -->
						</div>
					</div>
					<div class="footer__menu">
						<a href="#" class="footer__item">18+</a>
						<a href="#" class="footer__item">About us</a>
						<a href="#" class="footer__item">Support</a>
					</div>
					<div class="socials">
						<a href="#" class="socials__link">Facebook</a>
						<a href="#" class="socials__link">Twitter</a>
						<a href="#" class="socials__link">Instagram</a>
					</div>
				</div>
			</div>
		</footer>
	<div class="popups">
		<div class="popups__user popups__user_phone">
			<div class="popups__close"></div>
			<div class="popups__title">Phone verification</div>
			<div class="popups__text">When you create an account we give you SMS credits so you can verify your your phone phone number via SMS.</div>
			<div class="popups__content popups__content_phone">
				<div class="popups__row popups__row_phone">
					<div class="popups__label popups__label_col">Step 1</div>
					<div class="popups__col">
						<div class="popups__btn">Get Code</div>
					</div>
				</div>
				<div class="popups__row popups__row_phone">
					<div class="popups__label popups__label_col">Step 2</div>
					<div class="popups__col">
						<div class="popups__label">Enter Code Here</div>
						<input type="text" class="popups__input" placeholder="Enter code">
					</div>
				</div>
				<div class="popups__btn popups__btn_footer">Verify</div>
			</div>
		</div>
		<div class="popups__user popups__user_mail">
			<div class="popups__close"></div>
			<div class="popups__title">Verification sent!</div>
			<div class="popups__text popups__text_mail">We hebben je zojuist een email gestuurd om jouw emailadres te bevestigen, klik aub op de link in de emaill zo gauw je deze ontvangt.</div>
		</div>
		<div class="popups__user popups__user_change popups__user_change-phone">
			<div class="popups__close"></div>
			<form action="#" class="form__popups form__popups_phone">
				<div class="popups__title popups__title_change">Change phone</div>
				<div class="form__item form__item_text form__item_text-phone">
					<label class="form__label form__label_change-phone">+380</label>
					<input type="text" class="form__text form__text_light form__text_change form__text_change-phone" placeholder="Phone number">
				</div>
				<div class="popups__footer">
					<input type="submit" class="form__submit form__submit_change" value="Send">
				</div>
			</form>
		</div>
		<div class="popups__user popups__user_change popups__user_change-email">
			<div class="popups__close"></div>
			<form action="#" class="form__popups form__popups_phone">
				<div class="popups__title popups__title_change">Change email</div>
				<div class="form__item form__item_text form__item_text-phone">
					<input type="email" class="form__text form__text_light form__text_change form__text_change-phone" placeholder="Enter your new email">
				</div>
				<div class="popups__footer">
					<input type="submit" class="form__submit form__submit_change" value="Send">
				</div>
			</form>
		</div>
		<div class="popups__user popups__user_verify">
			<div class="popups__close"></div>
			<div class="popups__title popups__title_verify">Verification sent!</div>
			<div class="popups__text popups__text_verify">We hebben je zojuist een email gestuurd om jouw emailadres te bevestigen, klik aub op de link in de emaill zo gauw je deze ontvangt.</div>
		</div>
		<div class="popups__user popups__user_verify-not">
			<div class="popups__close"></div>
			<div class="popups__title popups__title_verify popups__title_verify-not">Long error text in two long lines</div>
			<div class="popups__text popups__text_verify">We hebben je zojuist een email gestuurd om jouw emailadres te bevestigen, klik aub op de link in de emaill zo gauw je deze ontvangt.</div>
		</div>
		<div class="popups__user popups__user_details">
			<div class="popups__close"></div>
			<form action="#" class="form__popups form__popups_details">
				<div class="popups__title popups__title_details">Edit details</div>
				<div class="form__row form__row_details">
					<div class="form__item form__item_details form__item_name">
						<label class="form__label form__label_default">First name</label>
						<input type="text" class="form__text form__text_light form__text_details form__text_name" value="John">
					</div>
					<div class="form__item form__item_details form__item_surname">
						<label class="form__label form__label_default">Surname</label>
						<input type="text" class="form__text form__text_light form__text_details form__text_name" value="Doe">
						<a href="#" class="settings__question settings__question_details"></a>
					</div>
				</div>
				<div class="form__row form__row_details form__row_info">
					<div class="form__selects">
						<label class="form__label form__label_default form__label_default-select">Date of birth</label>
						<div class="form__selects_all">
							<div class="form__item form__item_select form__item_date form__item_year">
								<select class="form__select form__select_details form__select_year">
									<option value="1989">1989</option>
									<option value="1990">1990</option>
									<option value="1991" selected>1991</option>
									<option value="1992">1992</option>
									<option value="1993">1993</option>
									<option value="1994">1994</option>
									<option value="1995">1995</option>
									<option value="1996">1996</option>
									<option value="1997">1997</option>
									<option value="1998">1998</option>
								</select>
							</div>
							<div class="form__item form__item_select form__item_date form__item_month">
								<select class="form__select form__select_details form__select_month">
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3" selected>3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
									<option value="9">9</option>
									<option value="10">10</option>
									<option value="11">11</option>
									<option value="12">12</option>
								</select>
							</div>
							<div class="form__item form__item_select form__item_date form__item_day">
								<select class="form__select form__select_details form__select_day">
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
									<option value="9">9</option>
									<option value="10">10</option>
									<option value="11">11</option>
									<option value="12">12</option>
									<option value="13">13</option>
									<option value="14" selected>14</option>
									<option value="15">15</option>
									<option value="16">16</option>
									<option value="17">17</option>
									<option value="18">18</option>
									<option value="19">19</option>
									<option value="20">20</option>
									<option value="21">21</option>
									<option value="22">22</option>
									<option value="23">23</option>
									<option value="24">24</option>
									<option value="25">25</option>
									<option value="26">26</option>
									<option value="27">27</option>
									<option value="28">28</option>
									<option value="29">29</option>
									<option value="30">30</option>
									<option value="30">30</option>
									<option value="31">31</option>
								</select>
							</div>
						</div>
					</div>
					<div class="form__item form__item_gender">
						<div class="form__label form__label_default">Gender</div>
						<div class="form_radios">
							<input type="radio" class="form_radio" name="mail" id="mail" checked>
							<label for="mail" class="label_radio">Mail</label>
						</div>
						<div class="form_radios">
							<input type="radio" class="form_radio" name="mail" id="femail">
							<label for="femail" class="label_radio">Femail</label>
						</div>
					</div>
				</div>
				<div class="form__row form__row_details form__row_location">
					<div class="form__item form__item_details form__item_location">
						<label class="form__label form__label_default">Address</label>
						<input type="text" class="form__text form__text_light form__text_details form__text_address" value="Address">
					</div>
					<div class="form__item form__item_details form__item_location">
						<label class="form__label form__label_default">City</label>
						<input type="text" class="form__text form__text_light form__text_details form__text_city" value="Rome">
					</div>
					<div class="form__item form__item_details form__item_location">
						<label class="form__label form__label_default">Zip code</label>
						<input type="text" class="form__text form__text_light form__text_details form__text_code" value="21000">
					</div>
					<div class="form__item form__item_details form__item_location">
						<label class="form__label form__label_default">Country</label>
						<input type="text" class="form__text form__text_light form__text_details form__text_country" value="Italy">
					</div>
				</div>
				<div class="form__row form__row_details form__row_time">
					<div class="form__item form__item_select form__item_time">
						<label class="form__label form__label_default">Time zone</label>
						<select class="form__select form__select_details form__select_time">
							<option value="1">(GMT + 01:00) Helsinki, Kiev, Rig</option>
							<option value="2">(GMT + 02:00) Helsinki, Kiev, Rig</option>
							<option value="3">(GMT + 03:00) Helsinki, Kiev, Rig</option>
							<option value="4">(GMT + 04:00) Helsinki, Kiev, Rig</option>
							<option value="5">(GMT + 05:00) Helsinki, Kiev, Rig</option>
							<option value="6">(GMT + 06:00) Helsinki, Kiev, Rig</option>
							<option value="7">(GMT + 07:00) Helsinki, Kiev, Rig</option>
							<option value="8">(GMT + 08:00) Helsinki, Kiev, Rig</option>
							<option value="9">(GMT + 09:00) Helsinki, Kiev, Rig</option>
							<option value="10">(GMT + 10:00) Helsinki, Kiev, Rig</option>
							<option value="11">(GMT + 11:00) Helsinki, Kiev, Rig</option>
							<option value="12">(GMT + 12:00) Helsinki, Kiev, Rig</option>
						</select>
					</div>
					<div class="form__item form__item_select form__item_logout">
						<label class="form__label form__label_default">Auto log out</label>
						<select class="form__select form__select_details form__select_logout">
							<option value="1">1 hours</option>
							<option value="2">2 hours</option>
							<option value="3">3 hours</option>
							<option value="4">4 hours</option>
							<option value="5">5 hours</option>
							<option value="6">6 hours</option>
							<option value="7">7 hours</option>
							<option value="8">8 hours</option>
							<option value="9">9 hours</option>
							<option value="10">10 hours</option>
							<option value="11">11 hours</option>
							<option value="12">12 hours</option>
						</select>
					</div>
				</div>
				<div class="popups__footer">
					<input type="submit" class="form__submit form__submit_change" value="Save">
				</div>
			</form>
		</div>
	</div>
	<div class="all_pages">
		<div class="page_point"></div>
		<ul class="page_list">
			<li><a href="home.html">Home</a></li>
			<li><a href="about.html">About</a></li>
			<li><a href="account_limits.html">Account limits</a></li>
			<li><a href="account_hisory.html">Account History</a></li>
			<li><a href="account_doc.html">Account Doc</a></li>
			<li><a href="account_settings.html">Account Settings</a></li>
			<li><a href="account.html">Account</a></li>
			<li><a href="all_games.html">All games</a></li>
			<li><a href="collossus.html">Collossus</a></li>
			<li><a href="faq.html">FAQ</a></li>
			<li><a href="jackpots.html">Jackpots</a></li>
			<li><a href="live_casino.html">Live casino</a></li>
			<li><a href="mycasino.html">My casino</a></li>
			<li><a href="promotion_page.html">Promotion page</a></li>
			<li><a href="promotions.html">Promotions</a></li>
			<li><a href="winners.html">Winners</a></li>
			<li><a href="payments.html">Payments</a></li>
			<li><a href="deposit.html">Deposit</a></li>
			<li><a href="game.html">Game</a></li>
			<li><a href="live_shedule.html">Live Shedule</a></li>
			<li><a href="live_event.html">Live event</a></li>
			<li><a href="live_overview.html">Live Overview</a></li>
			<li><a href="sports_events.html">Sports events</a></li>
			<li><a href="sports.html">Sports</a></li>
			<li><a href="virtual_sports_golden.html">Virtual sports golden</a></li>
			<li><a href="virtual_sports_inspired.html">Virtual sports inspired</a></li>
			<li><a href="virtual_sports.html">Virtual sports</a></li>
			<li><a href="withdrawal.html">Withdrawal</a></li>
		</ul>
	</div>
	<div class="popup"></div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="../js/slick.min.js"></script>
	<script src="../js/jquery.custom-select.min.js"></script>
	<script src="../js/password-score.js"></script>
	<script src="../js/password-score-options.js"></script>
	<script src="../js/check-pass.js"></script>
	<script src="../js/jquery.livequery.min.js"></script>
	<script src="../js/jquery.browser.min.js"></script>
	<script src="../js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="../js/main.js"></script>

	</div>
</body>
</html>
