//= templates/head.html
	<div class="wrapper not_front page_payments">
		<div class="wrapper__content">
			//= templates/header.html
			<div class="middle clearfix">
				<div class="middle__inner container">
					<div class="payments">
						<h1 class="payments__maintitle">Payments</h1>
						<div class="payments__text">Bob is very progressive when it comes to offering a wide choice of payment methods. But do keep in mind, that there are withdrawal limits in place- €4000 per day, €10,000 per week and €40,000 per month. Bob does charge a small fee for deposits, and more information is here , but no need to worry - there is a good reason for it and it's not that much!</div>
						<div class="payments__row">
							<div class="payments__title">Deposits</div>
							<table class="payments__table">
								<thead>
									<tr>
										<th>Payment method</th>
										<th>Type</th>
										<th>Fee</th>
										<th>Processing time</th>
										<th>Limits of transaction</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td><img src="../images/pay_1.png" alt=""></td>
										<td>Credit Card</td>
										<td>2.5%</td>
										<td>Instant</td>
										<td>Min. €10 or 25AUD /Max. €4,000</td>
									</tr>
									<tr>
										<td><img src="../images/pay_2.png" alt=""></td>
										<td>Credit Card</td>
										<td>2.5%</td>
										<td>Instant</td>
										<td>Min. €10 or 25AUD /Max. €4,000</td>
									</tr>
									<tr>
										<td><img src="../images/pay_3.png" alt=""></td>
										<td>Credit Card</td>
										<td>2.5%</td>
										<td>Instant</td>
										<td>Min. €10 or 25AUD /Max. €4,000</td>
									</tr>
									<tr>
										<td><img src="../images/pay_4.png" alt=""></td>
										<td>Credit Card</td>
										<td>2.5%</td>
										<td>Instant</td>
										<td>Min. €10 or 25AUD /Max. €4,000</td>
									</tr>
									<tr>
										<td><img src="../images/pay_5.png" alt=""></td>
										<td>Credit Card</td>
										<td>2.5%</td>
										<td>Instant</td>
										<td>Min. €10 or 25AUD /Max. €4,000</td>
									</tr>
									<tr>
										<td><img src="../images/pay_6.png" alt=""></td>
										<td>Credit Card</td>
										<td>2.5%</td>
										<td>Instant</td>
										<td>Min. €10 or 25AUD /Max. €4,000</td>
									</tr>
									<tr>
										<td><img src="../images/pay_7.png" alt=""></td>
										<td>Credit Card</td>
										<td>2.5%</td>
										<td>Instant</td>
										<td>Min. €10 or 25AUD /Max. €4,000</td>
									</tr>
									<tr>
										<td><img src="../images/pay_8.png" alt=""></td>
										<td>Credit Card</td>
										<td>2.5%</td>
										<td>Instant</td>
										<td>Min. €10 or 25AUD /Max. €4,000</td>
									</tr>
									<tr>
										<td><img src="../images/pay_9.png" alt=""></td>
										<td>Credit Card</td>
										<td>2.5%</td>
										<td>Instant</td>
										<td>Min. €10 or 25AUD /Max. €4,000</td>
									</tr>
									<tr>
										<td><img src="../images/pay_10.png" alt=""></td>
										<td>Credit Card</td>
										<td>2.5%</td>
										<td>Instant</td>
										<td>Min. €10 or 25AUD /Max. €4,000</td>
									</tr>
									<tr>
										<td><img src="../images/pay_11.png" alt=""></td>
										<td>Credit Card</td>
										<td>2.5%</td>
										<td>Instant</td>
										<td>Min. €10 or 25AUD /Max. €4,000</td>
									</tr>
									<tr>
										<td><img src="../images/pay_12.png" alt=""></td>
										<td>Credit Card</td>
										<td>2.5%</td>
										<td>Instant</td>
										<td>Min. €10 or 25AUD /Max. €4,000</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="payments__row">
							<div class="payments__title">Withdrawal</div>
							<table class="payments__table">
								<thead>
									<tr>
										<th>Payment method</th>
										<th>Type</th>
										<th>Fee</th>
										<th>Processing time</th>
										<th>Limits of transaction</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td><img src="../images/pay_1.png" alt=""></td>
										<td>Credit Card</td>
										<td>2.5%</td>
										<td>Instant</td>
										<td>Min. €10 or 25AUD /Max. €4,000</td>
									</tr>
									<tr>
										<td><img src="../images/pay_2.png" alt=""></td>
										<td>Credit Card</td>
										<td>2.5%</td>
										<td>Instant</td>
										<td>Min. €10 or 25AUD /Max. €4,000</td>
									</tr>
									<tr>
										<td><img src="../images/pay_3.png" alt=""></td>
										<td>Credit Card</td>
										<td>2.5%</td>
										<td>Instant</td>
										<td>Min. €10 or 25AUD /Max. €4,000</td>
									</tr>
									<tr>
										<td><img src="../images/pay_4.png" alt=""></td>
										<td>Credit Card</td>
										<td>2.5%</td>
										<td>Instant</td>
										<td>Min. €10 or 25AUD /Max. €4,000</td>
									</tr>
									<tr>
										<td><img src="../images/pay_5.png" alt=""></td>
										<td>Credit Card</td>
										<td>2.5%</td>
										<td>Instant</td>
										<td>Min. €10 or 25AUD /Max. €4,000</td>
									</tr>
									<tr>
										<td><img src="../images/pay_6.png" alt=""></td>
										<td>Credit Card</td>
										<td>2.5%</td>
										<td>Instant</td>
										<td>Min. €10 or 25AUD /Max. €4,000</td>
									</tr>
									<tr>
										<td><img src="../images/pay_7.png" alt=""></td>
										<td>Credit Card</td>
										<td>2.5%</td>
										<td>Instant</td>
										<td>Min. €10 or 25AUD /Max. €4,000</td>
									</tr>
									<tr>
										<td><img src="../images/pay_8.png" alt=""></td>
										<td>Credit Card</td>
										<td>2.5%</td>
										<td>Instant</td>
										<td>Min. €10 or 25AUD /Max. €4,000</td>
									</tr>
									<tr>
										<td><img src="../images/pay_9.png" alt=""></td>
										<td>Credit Card</td>
										<td>2.5%</td>
										<td>Instant</td>
										<td>Min. €10 or 25AUD /Max. €4,000</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>	
			</div>
		</div>
		//= templates/footer.html
	</div>
</body>
</html>
