//= templates/head.html
	<div class="wrapper not_front casino_page">
		<div class="wrapper__content">
			//= templates/header.html
			<div class="middle clearfix">
				<div class="middle__inner container">
					<div class="middle__container middle__container_other">
						<div class="middle__content middle__content_other">
							<div class="promotions">
								<div class="row">
									<div class="promotions__card col-xl-4">
										<div class="promotions__category">Poker</div>
										<div class="promotions__image"><a href="#" class="promotions__link"><img src="../images/promotions_1.png" alt="" class="promotions__img"></a></div>
										<div class="promotions__body">
											<a href="#" class="promotions__title">20 gratisrundor på Wild Wild...</a>
											<div class="promotions__description">This is one wild party. Get to know your favourite Kipling characters. Each has special powers: spin to discover them!</div>
											<a href="" class="promotions__btn">Play Now!</a>
										</div>
									</div>
									<div class="promotions__card col-xl-4">
										<div class="promotions__category">Poker</div>
										<div class="promotions__image"><a href="#" class="promotions__link"><img src="../images/promotions_2.png" alt="" class="promotions__img"></a></div>
										<div class="promotions__body">
											<a href="#" class="promotions__title">20 gratisrundor på Wild Wild...</a>
											<div class="promotions__description">This is one wild party. Get to know your favourite Kipling characters. Each has special powers: spin to discover them!</div>
											<a href="" class="promotions__btn">Play Now!</a>
										</div>
									</div>
									<div class="promotions__card col-xl-4">
										<div class="promotions__category">Poker</div>
										<div class="promotions__image"><a href="#" class="promotions__link"><img src="../images/promotions_3.png" alt="" class="promotions__img"></a></div>
										<div class="promotions__body">
											<a href="#" class="promotions__title">20 gratisrundor på Wild Wild...</a>
											<div class="promotions__description">This is one wild party. Get to know your favourite Kipling characters. Each has special powers: spin to discover them!</div>
											<a href="" class="promotions__btn">Play Now!</a>
										</div>
									</div>
									<div class="promotions__card col-xl-4">
										<div class="promotions__category">Poker</div>
										<div class="promotions__image"><a href="#" class="promotions__link"><img src="../images/promotions_3.png" alt="" class="promotions__img"></a></div>
										<div class="promotions__body">
											<a href="#" class="promotions__title">20 gratisrundor på Wild Wild...</a>
											<div class="promotions__description">This is one wild party. Get to know your favourite Kipling characters. Each has special powers: spin to discover them!</div>
											<a href="" class="promotions__btn">Play Now!</a>
										</div>
									</div>
									<div class="promotions__card col-xl-4">
										<div class="promotions__category">Poker</div>
										<div class="promotions__image"><a href="#" class="promotions__link"><img src="../images/promotions_2.png" alt="" class="promotions__img"></a></div>
										<div class="promotions__body">
											<a href="#" class="promotions__title">20 gratisrundor på Wild Wild...</a>
											<div class="promotions__description">This is one wild party. Get to know your favourite Kipling characters. Each has special powers: spin to discover them!</div>
											<a href="" class="promotions__btn">Play Now!</a>
										</div>
									</div>
									<div class="promotions__card col-xl-4">
										<div class="promotions__category">Poker</div>
										<div class="promotions__image"><a href="#" class="promotions__link"><img src="../images/promotions_1.png" alt="" class="promotions__img"></a></div>
										<div class="promotions__body">
											<a href="#" class="promotions__title">20 gratisrundor på Wild Wild...</a>
											<div class="promotions__description">This is one wild party. Get to know your favourite Kipling characters. Each has special powers: spin to discover them!</div>
											<a href="" class="promotions__btn">Play Now!</a>
										</div>
									</div>
									<div class="promotions__card col-xl-4">
										<div class="promotions__category">Poker</div>
										<div class="promotions__image"><a href="#" class="promotions__link"><img src="../images/promotions_1.png" alt="" class="promotions__img"></a></div>
										<div class="promotions__body">
											<a href="#" class="promotions__title">20 gratisrundor på Wild Wild...</a>
											<div class="promotions__description">This is one wild party. Get to know your favourite Kipling characters. Each has special powers: spin to discover them!</div>
											<a href="" class="promotions__btn">Play Now!</a>
										</div>
									</div>
									<div class="promotions__card col-xl-4">
										<div class="promotions__category">Poker</div>
										<div class="promotions__image"><a href="#" class="promotions__link"><img src="../images/promotions_2.png" alt="" class="promotions__img"></a></div>
										<div class="promotions__body">
											<a href="#" class="promotions__title">20 gratisrundor på Wild Wild...</a>
											<div class="promotions__description">This is one wild party. Get to know your favourite Kipling characters. Each has special powers: spin to discover them!</div>
											<a href="" class="promotions__btn">Play Now!</a>
										</div>
									</div>
									<div class="promotions__card col-xl-4">
										<div class="promotions__category">Poker</div>
										<div class="promotions__image"><a href="#" class="promotions__link"><img src="../images/promotions_3.png" alt="" class="promotions__img"></a></div>
										<div class="promotions__body">
											<a href="#" class="promotions__title">20 gratisrundor på Wild Wild...</a>
											<div class="promotions__description">This is one wild party. Get to know your favourite Kipling characters. Each has special powers: spin to discover them!</div>
											<a href="" class="promotions__btn">Play Now!</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>	
			</div>
		</div>
		//= templates/footer.html
	</div>
</body>
</html>
