//= templates/head.html
	<div class="wrapper not_front page_deposit page_landing_deposit">
		<div class="wrapper__content">
			<!-- //= templates/header.html -->
			<div class="middle clearfix">
				<div class="deposit">
					<div class="deposit__close"></div>
					<div class="deposit__logo deposit__logo_with">
						<a href="#" class="deposit__link"><img src="../images/easybet_logo.svg" alt="" class="deposit__img"></a>
					</div>
					<div class="landing_deposit">
						<form action="#" class="form deposit__form">
							<h1 class="deposit__title">Make a withdrawal</h1>
							<div class="deposit__text">To make a withdrawal, please select your preferred payment method.</div>
							<div class="choice">
								<div class="choice__label"><img src="../images/deposit_2.png" alt=""></div>
								<div class="choice__dropdown">
									<div class="choice__item"><img src="../images/deposit.png" alt=""></div>
									<div class="choice__item"><img src="../images/deposit_2.png" alt=""></div>
								</div>
								<div class="popup_transparent"></div>
							</div>						
							<div class="deposit__row deposit__row_4 deposit__row_with">
								<div class="deposit__row_item">Available Balance: <b>20,000 EUR</b></div>
								<div class="deposit__row_item"> Locked Bonus Balance: <b>25 EUR</b></div>
							</div>
							<div class="deposit__actions">
								<input type="submit" class="deposit__submit" value="Make a withdrawal">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		//= templates/footer.html
	</div>
</body>
</html>
