// @font-face {
//     font-family:'Gill Sans MT';
//     src: url('../fonts/Gill Sans MT.eot');
//     src: url('../fonts/Gill Sans MT.eot?#iefix') format('embedded-opentype'),
//         url('../fonts/Gill Sans MT.woff2') format('woff2'),
//         url('../fonts/Gill Sans MT.woff') format('woff'),
//         url('../fonts/Gill Sans MT.ttf') format('truetype'),
//         url('../fonts/Gill Sans MT.svg#Gill Sans MT') format('svg');
//     font-weight: 400;
//     font-style: normal;
//     font-stretch: normal;
//     unicode-range: U+0020-2215;
// }

@font-face {
    font-family:'GillSans';
    src: url('../fonts/GillSans.eot');
    src: url('../fonts/GillSans.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GillSans.woff2') format('woff2'),
        url('../fonts/GillSans.woff') format('woff'),
        url('../fonts/GillSans.ttf') format('truetype'),
        url('../fonts/GillSans.svg#GillSans') format('svg');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

@font-face {
    font-family:'GillSans';
    src: url('../fonts/Gill Sans SemiBold.eot');
    src: url('../fonts/Gill Sans SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gill Sans SemiBold.woff2') format('woff2'),
        url('../fonts/Gill Sans SemiBold.woff') format('woff'),
        url('../fonts/Gill Sans SemiBold.ttf') format('truetype'),
        url('../fonts/Gill Sans SemiBold.svg#Gill Sans SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2044;
}

@font-face {
    font-family:'GillSans';
    src: url('../fonts/GillSans-Bold.eot');
    src: url('../fonts/GillSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GillSans-Bold.woff2') format('woff2'),
        url('../fonts/GillSans-Bold.woff') format('woff'),
        url('../fonts/GillSans-Bold.ttf') format('truetype'),
        url('../fonts/GillSans-Bold.svg#GillSans-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

@font-face {
    font-family:'LatoBlack';
    src: url('../fonts/Lato Black.eot');
    src: url('../fonts/Lato Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato Black.woff2') format('woff2'),
        url('../fonts/Lato Black.woff') format('woff'),
        url('../fonts/Lato Black.ttf') format('truetype'),
        url('../fonts/Lato Black.svg#Lato Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-02DC;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?w5ncpc');
  src:  url('../fonts/icomoon.eot?w5ncpc#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?w5ncpc') format('truetype'),
    url('../fonts/icomoon.woff?w5ncpc') format('woff'),
    url('../fonts/icomoon.svg?w5ncpc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family:'Avenir';
    src: url('../fonts/Avenir Roman.eot');
    src: url('../fonts/Avenir Roman.eot?#iefix') format('embedded-opentype'),
        url('Avenir Roman.woff2') format('woff2'),
        url('Avenir Roman.woff') format('woff'),
        url('Avenir Roman.ttf') format('truetype'),
        url('Avenir Roman.svg#Avenir Roman') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-E305;
}

@font-face {
    font-family:'Avenir';
    src: url('../fonts/Avenir Black.eot');
    src: url('../fonts/Avenir Black.eot?#iefix') format('embedded-opentype'),
        url('Avenir Black.woff2') format('woff2'),
        url('Avenir Black.woff') format('woff'),
        url('Avenir Black.ttf') format('truetype'),
        url('Avenir Black.svg#Avenir Black') format('svg');
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-E308;
}