@mixin respond-to($media) {
  @if $media == phone {
    @media (max-width: 767px) { @content; }
  }
  @else if $media == phoneb {
     @media (min-width: 400px) and (max-width: 767px) { @content; }
  }
  @else if $media == phonebb {
     @media (min-width: 650px) and (max-width: 767px) { @content; }
  }
  @else if $media == tabv {
    @media (min-width: 768px) and (max-width: 991px) { @content; }
  }
  @else if $media == tabh {
    @media (min-width: 992px) and (max-width: 1200px) { @content; }
  }
  @else if $media == tab {
    @media (min-width: 768px) and (max-width: 1200px) { @content; }
  }
  @else if $media == lg {
    @media (min-width: 1201px) and (max-width: 1450px) { @content; }
  }
    @else if $media == lgg {
    @media (min-width: 1451px) and (max-width: 1800px) { @content; }
  }
}

@mixin btn{
  padding: 7px 22px 10px 22px;
  font-size: 17px;
  font-weight: 700;
  border: none;
  text-decoration: none;
  display: inline-block;
  height: 40px;
  box-shadow: inset 0 -3px 0 #507a00;
  border-radius: 12px;
  background: $color_main;
  transition: .4s;
  cursor: pointer;
  &:hover{
    background-color: $color_hover;
    text-decoration: none;
  }
}

@mixin icon_fonts{
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}