
.bets {
  &__links {
    overflow: hidden;
    a {
      background-color: #24272a;
      border-radius: 0 12px 0 0;
      float: left;
      height: 51px;
      min-width: 152px;
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      &:first-child{
        border-radius: 12px 0 0 0;
      }
    }
    .active {
      background-color: #73af00;
      border-radius: 0 12px 0 0;
      float: right;
    }
  }
  table {
    background-color: #2d3033;
    min-width: 304px;
    width: 100%;
    th {
      color: #969696;
      font-size: 14px;
      font-weight: 400;
      line-height: 28px;
      &:first-child {
        padding-left: 14px;
      }
      p {
        line-height: 18px;
        margin-bottom: 0;
      }
    }
    tr {
      border-bottom: 1px solid #24272a;
      height: 65px;
      td {
        &:first-child {
          padding-left: 14px;
        }
        p {
          line-height: 18px;
          text-transform: uppercase;
          margin-bottom: 0;
        }
      }
    }
  }
  &__history {
    height: 55px;
    border-radius: 0 0 12px 12px;
    background-color: #2d3033;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    a {
      color: #7fc104;
      font-size: 14px;
      font-weight: 400;
      line-height: 30px;
    }
  }
}