.method{
	padding: 0 20px;
	&__label{
		font-size: 14px;
		color: #909090;	
		padding-left: 13px;
		margin-bottom: 3px;
	}
	.form__text{
		background: #111213;
	}
	&__item{
		margin-bottom: 20px;
	}
	&__dates{
		display: flex;
		flex-wrap: wrap;
		margin: 0 -4px;
	}
	&__date{
		flex: 0 0 50%;
		padding: 0 4px;
	}
	.verify__btn_cont{
		position: static;
		transform: translate(0,0);
		margin-top: 180px;
	}
}