.popup{
	&_documents{
		left: 0;
	}
}

.documents{
	padding: 0 8px 13px;
	&__content{
		padding-bottom: 70px;
		max-width: 600px;
		margin: 0 auto;
	}
	&__row{
		margin-bottom: 2px;
		padding: 15px 16px;
		background: #111213;
	}
	&__date{
		font-size: 12px;
		color: #969696;
		margin-bottom: 7px;
	}
	&__footer{
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}
	&__name{
		color: #fff;
		font-size: 14px;
		padding-right: 5px;
		max-width: 50%;
	}
	&__status{
		color: #89d100;
		font-size: 14px;
		padding-left: 5px;
		&_check{
			color: #fff;
		}
	}
	&__check{
		color: #cd0e0e;
	}
	&__btn{
		padding: 0 4px;
	}
	&__input{
		display: none;
	}
	&__label{
		@include btn;
		height: 50px;
		padding-top: 12px;
		width: 100%;
		text-align: center;
		margin: 0 auto;
		max-width: 310px;
		display: table;
	}
}
