.help{
	&__content{
		padding-top: 17px;
		display: none;
		&_active{
			display: block;
		}
	}
	&__row{
		 margin-bottom: 4px;
	}
	&__title{
		background-color: #24272a;
		font-weight: 600;
		padding: 15px 70px 15px 13px;
		font-size: 14px;
		line-height: 1.5;
		position: relative;
		&::after{
			content: '\e90d';
			@include icon_fonts;
			font-size: 12px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%) rotate(0);
			right: 18px;
			color: #fff;
		}
		&.active{
			&::after{
				transform: translateY(-50%) rotate(90deg);
			}
		}
	}
	&__description{
		background-color: #2d3033;
		padding: 12px 14px;
		font-size: 14px;
		color: #969696;
		display: none;
		strong{
			font-size: 17px;
			font-weight: 600;
			color: #fff;
			display: block;
			margin-bottom: 10px;
		}
	}
}

.form_help{
	.sport__select{
		.custom-select{
			border-radius: 0 !important;
			height: 48px;
			padding-top: 5px;
			background-position: right 18px top 17px;
			overflow: visible !important;
		}
		.custom-select__dropdown{
			width: 100%;
			margin: 0;
			position: absolute;
		}
	}
}