.deposit{
	margin-bottom: 30px;
	position: relative;
	&__close{
		position: absolute;
		left: 50%;
		margin-left: -14.5px;
		bottom: 40px;
		height: 29px;
		width: 29px;
		cursor: pointer;
		&::after{
			content: '\e937';
			@include icon_fonts;
			color: #949494;
			font-size: 29px;
			position: absolute;
			top: 0;
			left: 0;
		}
		@include respond-to(lg){
			width: 32px;
			height: 32px;
		}
	}
	&__logo{
		text-align: center;
		padding-top: 60px;
		max-width: 394px;
		margin: 0 auto 50px;
		&_with{
			margin-bottom: 92px;
		}
		@include respond-to(lg){
			padding-top: 10px;
			margin-bottom: 25px;
			max-width: 285px;
		}
		@include respond-to(lgg){
			padding-top: 45px;
			margin-bottom: 40px;
		}
	}
	&__form{
		margin: 0 auto;
		background: #fff;
		border-radius: 10px;
		padding: 40px 25px 0;
		color: #6f6f6f;
		position: relative;
		.landing__later{
			font-size: 21px;
			color: #6f6f6f;
			position: absolute;
			bottom: -58px;
			width: 100%;
			text-align: center;
			left: 0;
		}
	}
	&__title{
		font-size: 28px;
		font-weight: 700;
		text-align: center;
		line-height: 1;
		margin: 0 0 9px;
		@include respond-to(lg){
			margin-bottom: 5px;
			font-size: 24px;
		}
	}
	&__text{
		font-size: 18px;
		margin-bottom: 15px;
		text-align: center;
		// letter-spacing: -0.5px;
	}
	&__row{
		display: flex;
		justify-content: space-between;
		margin-bottom: 14px;
		&_1{
			.deposit__item{
				max-width: 219px;
				flex: 0 0 219px;
				&:last-child{
					flex: 0 0 237px;
					max-width: 237px;
				}
			}
		}
		&_2{
			.deposit__select_item{
				&:first-child{
					width: 32%;
				}
				&:nth-child(2){
					width: 26%;
				}
			}
			.deposit__item_code{
				width: 26%;
			}
		}
		&_3{
			margin-bottom: 21px;
			.deposit__radios{
				// width: 360px;
				width: 100%;
				display: flex;
				border-radius: 10px;
				border: 1px solid $color_main;
				overflow: hidden;
			}
			.deposit__radio_item{
				max-width: 33.3%;
				flex: 0 0 33.3%;
				display: flex;
				align-items: center;
				justify-content: center;
				border-left: 1px solid $color_main;
				&:first-child{
					border: none;
				}
			}
			.deposit__radio{
				display: none;
				&:checked{
					&+label{
						background: $color_main;
						color: #fff;
					}
				}
			}
			.deposit_label{
				font-size: 17px;
				width: 100%;
				text-align: center;
				font-weight: 600;
				color: $color_main;
				margin-bottom: 0;
				height: 100%;
				line-height: 46px;
				cursor: pointer;
			}
			.deposit__item_amount{
				padding-left: 13px;
			}
		}
		&_4{
			margin-bottom: 24px;
			padding: 0 25px;
			.deposit__row_item{
				font-size: 15px;
				margin-bottom: 5px;
				b{
					font-weight: 600;
				}
			}
			&.deposit__row_with{
				padding: 0 45px;
			}
		}
	}
	&__input{
		background: #e8e8e8;
		color: #6f6f6f;
		width: 100%;
		height: 48px;
		border-radius: 12px;
		padding: 0 16px;
		border: 1px solid transparent;
		font-size: 17px;
		transition: .4s;
		&::-webkit-input-placeholder {color:#6f6f6f;}
		&::-moz-placeholder          {color:#6f6f6f;}
		&:-moz-placeholder           {color:#6f6f6f;}
		&:-ms-input-placeholder      {color:#6f6f6f;}
	}
	&__actions{
		border-top: 1px solid #e8e8e8;
		padding: 29px 0 33px;
		text-align: center;
		margin: 0 -25px;
		@include respond-to(lg){
			padding: 20px 0;
		}
	}
	&__submit{
		@include btn;
		color: #fff;
		min-width: 192px;
		text-align: center;
	}
	.custom-select{
		width: 100%;
		box-shadow: none;
		color: #737373;
		background-color: #e8e8e8;
		padding-left: 0;
		padding-right: 21px;
		height: 48px;
		border: 1px solid transparent;
	    background-image: url(../images/select_arr2.png) !important;
	    &--active{
	    	border: 1px solid $color_main;
	    }
		&__option{
			color: #737373;
			padding-top: 2px;
			padding-bottom: 2px;
			padding-left: 20px;
			&.active{
				padding-left: 32px;
				position: relative;
				&::before{
					content: '';
					display: block;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 3px 0 3px 5px;
					border-color: transparent transparent transparent $color_main;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					left: 23px;
				}
			}
			&:hover{
				background-color: #f2f2f2;
			}
			&--value{
				padding-left: 20px !important;
				padding-top: 6px;
				padding-bottom: 4px;
				&:hover{
					background-color: #e8e8e8;
				}
				&::before{
					display: none !important;
				}
			}
		}
		&__dropdown{
			box-shadow: 0 3px 9px rgba(0, 0, 0, 0.17);
			border-radius: 10px;
			background-color: #ffffff;
			max-height: 185px;
			min-width: 88px;
			border: none !important;
			overflow-y: auto;
			&::-webkit-scrollbar {
			    width: 5px;
			}
			 
			&::-webkit-scrollbar-track {
			    background-color: #e8e8e8;
			}
			 
			&::-webkit-scrollbar-thumb {
			  background-color: $color_main;
			  width: 5px;
			  // outline: 1px solid slategrey;
			  border-radius: 2.5px;
			}
		}
	}
}

.choice{
	position: relative;
	margin-bottom: 14px;
	&__label{
		width: 100%;
		height: 48px;
		border: 1px solid $color_main;
		padding: 0 11px;
		display: flex;
		align-items: center;
		border-radius: 10px;
		background: url(../images/select_arr.png) right 12px center no-repeat;
		cursor: pointer;
		position: relative;
		z-index: 100;
	}
	&__dropdown{
		position: absolute;
		top: calc( 100% + 5px);
		background: #fff;
		width: 100%;
		border: 1px solid $color_main;
		border-radius: 10px;
		z-index: 100;
		display: none;
		&.active{
			display: block;
		}
	}
	&__item{
		height: 48px;
		padding: 2px 10px;
		display: flex;
		align-items: center;
		transition: .4s;
		cursor: pointer;
		&:hover{
			background-color: #f2f2f2;
		}
	}
}

.page_landing .footer {
	flex: 0 0 auto;
	padding: 0 25px;
	border: none;
	max-width: 600px;
	margin: 0 auto;
	width: 100%;
	&__nav{
		margin-bottom: 10px !important;
	}
	&__menu{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__item{
		font-size: 12px;
		color: #a5a5a5;
		margin-left: 12px;
		font-weight: 600;
		height: 55px;
		display: flex;
		align-items: center;
		transition: .4s;
		padding: 0 15px;
		&:first-child{
			margin-left: 0;
			text-indent: -9999px;
			position: relative;
			width: 23px;
			&::after{
				@include icon_fonts;
				content: '\e907';
				text-indent: 0;
				display: block;
				position: absolute;
				top: 50%;
				transform: translate(-50%,-50%);
				left: 50%;
				font-size: 16px;
			}
		}
		&:hover{
			text-decoration: none;
			background: rgba(255,255,255,.11);
			color: #a5a5a5;
		}
	}
	&__text{
		color: #a5a5a5;
		font-size: 13px;
		line-height: 1.46;
	}
	.page_deposit &{
		display: none;
	}
}

.page_landing  .socials{
	display: flex;
	justify-content: space-between;
	&__link{
		position: relative;
		display: block;
		text-indent: -9999px;
		flex: 0 0 76px;
		transition: .4s;
		&::after{
			@include icon_fonts;
			text-indent: 0;
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%);
			left: 50%;
			color: #a5a5a5;
			font-size: 12px;
			transition: .4s;
		}
		&:nth-child(1){
			&::after{
				content: '\e903';
			}
		}
		&:nth-child(2){
			&::after{
				content: '\e904';
				font-size: 15px;
			}
		}
		&:nth-child(3){
			border-radius: 0 12px 12px 0;
			&::after{
				content: '\e905';
			}
		}
		&:hover{
			background: rgba(255,255,255,.11);
		}
	}
}

.page_landing{
	background: none;
}

.page_landing  .languageBlock{
	position: relative;
	padding-right: 15px;
	cursor: pointer;
	&.no_child{
		.languageBlock__icon{
			display: none;
		}
	}
	&_footer{
		margin-top: -33px;
		padding-top: 46px;
		&:not(.no_child){
			&:hover{
				.languageBlock__drop_footer{
					display: block;
				}
			}
		}
	}
	&__body,
	&__item{
		display: flex;
		align-items: center;
	}
	&__item{
		padding: 8px 15px;
		width: 100%;
		&_footer{
			transition: .4s;
			&:hover{
				background: rgba(255,255,255,.05);
			}
		}
	}
	&__icon{
		position: absolute;
		top: 50%;
		right: 0;
		color: #a5a5a5;
		transform: translateY(-50%);
		&_footer{
			top: 65%;
			transform: translateY(0%);
		}
	}
	&__text{
		margin-left: 13px;
		color: #a5a5a5;
		font-size: 12px;
		font-weight: 600;
		&_header{
			display: none;
		}
	}
	&__drop{
		position: absolute;
		top: 100%;
		right: 0;
		background: rgba(0,0,0,.9);
		border-radius: 3px;
		padding: 5px 0;
		z-index: 10;
		min-width: 50px;
		align-items: center;
		flex-direction: column;
		display: none;
		&.active{
			display: flex;
		}
		&_footer{
			min-width: 150px;
			right: auto;
			left: 0;
			bottom: 100%;
			top: auto;
			padding-top: 10px;
			border-radius: 12px;
			padding-left: 0;
			padding-right: 0;
		}
	}
	&__image{
		width: 22px;
		height: 22px;
		display: flex;
		align-items: center;
		&_footer{
			width: 22px;
			height: 22px;
		}
	}
}

.nav_wrap{
	position: relative;
	padding: 0 5px;
	margin-bottom: 30px;
	max-width: 550px;
	margin: 0 auto 30px;
	&.active{
		.landing__nav{
			display: block;
		}
	}
}

.landing_menu_btn{
	background: rgba(149,178,185,.14);
	padding: 10px 25px 10px 47px;
	font-size: 19px;
	font-weight: 300;
	border-radius: 22.5px;
	position: relative;
	z-index: 11;
}

.nav_btn{
	width: 18px;
	height: 13px;
	position: absolute;
	top: 50%;
	left: 18px;
	margin-top: -6.5px;
}

.nav_item{
	width: 100%;
	height: 1px;
	background: #fff;
	margin-bottom: 5px;
	&:last-child{
		margin-bottom: 0;
	}
}

.landing{
	padding: 0 24px;
	&__content{
		// max-width: 946px;
		margin: 0 auto;
	}
	&__nav{
		background: rgba(0,0,0,.8);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		border-radius: 0 0 21.5px 21.5px;
		z-index: 10;
		padding: 63px 0 10px;
		display: none;
	}
	&__link{
		display: block;
		margin-bottom: 15px;
		font-size: 19px;
		font-weight: 300;
		padding: 0 25px;
	}
	&__title{
		font: 39px/47px 'Avenir';
		text-align: center;
		margin: 0 0 10px;
		strong{
			font-weight: 800;
		}
		p{
			margin-bottom: 0;
			display: inline;
		}
	}
	&__text{
		font-size: 17px;
		text-align: center;
		margin-bottom: 30px;
	}
	&__btn{
		@include btn;
	    box-shadow: rgb(80, 122, 0) 0px -3px 0px inset, 0 7px 16px rgba(115,175,0,.27);
		font-size: 22px;
		width: 100%;
		font-weight: 700;
		padding-top: 14px;
		padding-bottom: 14px;
		height: auto;
		text-align: center;
		max-width: 400px;
		margin: 0 auto 15px;
		display: table;
	}
	&__description{
		font-size: 16px;
		font-weight: 600;
		text-align: center;
		margin-bottom: 30px;
		a{
			color: $color_main;
		}
	}
}

.footer_wrap{
	display: flex;
	justify-content: space-between;
	margin-left: -5px;
	margin-right: -5px;
	margin-bottom: 15px;
}

.page_landing_main{
	background-color: #000 !important;
	.middle{
		overflow: hidden;
	}
	.landing{
		overflow: hidden;
	}
	.landing__offer{
		animation: badge-swing 4.0s infinite;
		transform-origin: top center;
	}
	.landing__nav{
		margin-bottom: 0 !important;
	}
	.deposit{
		margin-bottom: 0;
	}
}

.socials_wrap,
.languageBlock_wrap{
	padding: 0 5px;
	width: 50%;
}


.page_landing{
	.middle{
		padding-top: 0;
	}
	.deposit__logo{
		max-width: 259px;
		margin: 0 auto;
		padding: 35px 0 30px;
	}
	.socials__link{
		flex: 0 0 0;
	}
	.footer{
		margin-bottom: 0;
	}
	.footer__nav{
		margin-bottom: 50px;
		background: none;
		box-shadow: none;
		&_step{
			@include respond-to(lg){
				margin-bottom: 10px !important;
			}
		}
	}
	.socials,
	.footer__menu,
	.languageBlock{
		background: rgba(56,56,56, .5);
		height: 37px;
		display: flex;
		align-items: center;
		padding: 0 20px;
		border-radius: 10px;
	}
	.languageBlock{
		padding-left: 22px;
		padding-right: 20px;
	}
	.languageBlock__icon{
		right: 31px;
	}
	.socials{
		padding: 0 30px;
	}
	.footer_content{
	    padding: 0;
	}
}

.deposit__title{
	font-size: 34px !important;
}
.deposit__input{
	height: 53px !important;
}

.landing_step1,
.landing_step2,
.landing_step3{
	.deposit__input{
		height: 48px !important;
	}
}

.landing_login{
	// margin-top: -15px;
	.deposit__input{
		height: 60px;
		margin-bottom: 17px;
		@include respond-to(lg){
			height: 48px;
		}
	}
	.deposit__actions{
		margin: 0;
		border: none;
		padding: 10px 0 19px;
		position: relative;
		max-width: 270px;
		width: 100%;
		margin: 0 auto;
		display: table;
		&::after{
			content: '\e931';
			@include icon_fonts;
			font-size: 20px;
			color: #fff;
			position: absolute;
			top: 32px;
			right: 90px;
			@include respond-to(lg){
				top: 18px;
				right: 50px;
			}
		}
		&_pass{
			&::after{
				right: 70px;
			}
		}
	}
	.deposit__submit{
		width: 100%;
		height: 65px;
		display: flex;
		padding-left: 87px;
		align-items: center;
		margin: 0 auto;
		font-size: 21px;
		font-weight: 700;
		box-shadow: inset 0 -5px 0 #507a00;
		&_pass{
			padding-left: 75px;
			margin-bottom: 10px;
			font-size: 22px;
		}
		@include respond-to(lg){
			height: 40px;
			width: 250px;
			padding-left: 55px;
		}

	}
	.deposit__text{
		p{
			margin-bottom: 0;
			font-size: 16px;
		}
		a{
			color: $color_main;
		}
	}
	.forgot__pass{
		color: $color_main;
		text-align: center;
		font-size: 19px;
		display: block;
		padding-top: 25px !important;
		font-weight: 400;
		opacity: 1;
	}
	.deposit__form{
		padding-top: 23px;
		@include respond-to(lg){
			padding-top: 15px;
		}
	}
	.deposit__title{
		margin-bottom: 17px;
		@include respond-to(lg){
			margin-bottom: 10px;
		}
	}
}

.forgot__pass{
	color: $color_main;
	text-align: center;
	font-size: 19px;
	display: block;
	padding-top: 25px !important;
	font-weight: 400;
	opacity: 1;
}

.landingSteps{
	display: flex;
    margin: 0 auto 27px;
	padding-top: 30px;
	@include respond-to(lg){
		margin-top: 0;
	}
	&__item{
		font-size: 14px;
		font-weight: 600;
		color: #fff;
		flex: 0 0 25%;
		max-width: 25%;
		text-align: center;
		position: relative;
		padding-top: 45px;
		span{
			opacity: .7;
		}
		&_active{
			span{
				opacity: 1;
			}
			&::before{
				background: $color_main;
				color: #fff !important;
			}
		}
		&_done{
			&::before{
				background: $color_main;
				color: #fff !important;
				content: '\e91c' !important;
			}
		}
		&::before{
			content: '\e968';
			@include icon_fonts;
			font-size: 13px;
			width: 36px;
			height: 36px;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			top: 0;
			left: 50%;
			color: #b3b4b8;
			margin-left: -18px;
		}
		&_1{
			&::before{
				content: '\e968';
			}
		}
		&_2{
			&::before{
				content: '\e969';
			}
		}
		&_3{
			&::before{
				content: '\e900';
				font-size: 16px;
			}
		}
		&_4{
			&::before{
				content: '\e96a';
				font-size: 16px;
			}
		}
	}
	&__title{
		text-align: center;
		font-size: 20px;
		color: $color_main;
		margin-bottom: 7px;
		font-weight: 700;
		margin-top: -12px;
	}
	&__text{
		text-align: center;
		margin-bottom: 11px;
		a{
			color: $color_main;
		}
	}
}

.landing_step1{
	margin: 0;
	padding-bottom: 90px !important;
	.register_link{
		margin-top: 28px;
		font-size: 17px;
		font-weight: 600;
		color: #fff;
		opacity: .61;
		text-align: center;
		display: block;
		text-shadow: .4s;
		&:hover{
			color: $color_main;
			text-decoration: none;
		}
	}
}

.landing_step2{
	margin-top: 0;
	padding-bottom: 0 !important;
	form{
		border-radius: 10px 10px 0 0 !important;
		padding-bottom: 10px;
	}
	&.landing_step3{
		padding-bottom: 90px !important;
		form{
			border-radius: 10px !important;
		}
	}
	.custom-select button{
		background: #e8e8e8 !important;
		padding-right: 5px;
	}
	.deposit__input{
		@include respond-to(lg){
			height: 32px !important;
			border-radius: 8px;
		}
	}
	.deposit__title{
		margin-bottom: 15px;
		font-size: 26px !important;
	}
	.back_step{
		font-size: 20px;
		font-weight: 700;
		color: $color_main;
		padding: 0 27px 0 35px;
		position: relative;
		transition: .4s;
		display: table;
		margin: 0 auto 18px;
		&::after{
			content: '\e931';
			@include icon_fonts;
			font-size: 22px;
			color: $color_main;
			position: absolute;
			top: 52%;
			transform: translateY(-50%) rotate(180deg);
			left: 0px;
		}
		&:hover{
			text-decoration: none;
			opacity: .8;
		}
	}
	.deposit__input{
		height: 48px;
		margin-bottom: 14px;
	}
	.step2__year{
		margin-right: 11px;
	    width: 86px;
	}
	.step2__day,
	.step2__month{
		width: 70px;
		margin-right: 11px;
	}
	.custom-select{
		border-radius: 12px;
		padding-top: 0;
		background-position: right 10px center;
	}
	.custom-select__option--value{
		height: 46px;
	}
	.step2__day{
		margin-right: 0;
	}
	.deposit__row_3{
		margin-bottom: 14px;
		.deposit__radio_item{
			max-width: 50%;
			flex: 0 0 50%;
		}
	}
	.deposit__row_4{
		margin-bottom: 0;
		padding: 0;
	}
	.deposit__row_5{
		margin-bottom: 0;
	}
	.deposit__postcode{
		width: 149px;
		margin-right: 13px;
	}
	.step2__country{
		max-width: 66%;
		margin-right: 11px;
		flex: 0 0 72%;
	}
	.step2__currency{
		width: 100%;
		// margin-right: 11px;
	}
	.custom-select{
		padding-left: 15px !important;
		@include respond-to(lg){
			height: 32px;
			padding-top: 0px !important;
		}
		.custom-select__option--value{
			@include respond-to(lg){
				padding-top: 5px !important;
			}
		}
	}
	.custom-select__option--value{
		padding-left: 0 !important;
	}
	.phone_field{
		width: 100%;
		position: relative;
	}
	.field_prefix{
		position: absolute;
		font-size: 17px;
		left: 15px;
		top: 15px;
		font-weight: 600;
	}
	.deposit__phone{
		padding-left: 70px;
	}
	.terms_link{
		text-align: center;
		font-size: 16px;
		margin-bottom: 5px;
		a{
			display: block;
			text-align: center;
			padding-top: 10px;
			color: $color_main;
		}
	}
	.deposit__actions{
		&::after{
			display: none;
		}
	}
	.deposit__submit{
		font-size: 16px;
		height: 40px;
		width: 100%;
		margin: 0 auto;
		@include respond-to(lg){
			padding-left: 94px;
		}
	}
	.deposit__row_3 .deposit_label {
		@include respond-to(lg){
			line-height: 30px;
		}
	}
	.deposit__row_3{

	}
}

.landing_step3{
	.deposit__row_2{
		margin-bottom: 0;
	}
	.deposit__actions{
		border: none;
		padding-top: 0;
		margin: 0;
		padding-bottom: 14px;
		display: table;
		margin: 0 auto;
	}
	.deposit__submit{
		font-size: 16px;
		height: 40px;
		width: 290px;
		margin: 0 auto;
	}
	.deposit_later{
		text-align: center;
		font-size: 16px;
		display: block;
		padding-top: 15px;
		color: #6f6f6f;
		transition: .4s;
		&:hover{
			color: $color_main;
			text-decoration: none;
		}
	}
	.deposit__form{
		padding-top: 24px;
		@include respond-to(lg){
			padding-top: 15px;
		}
	}
	.deposit__row_4{
		margin-bottom: 19px;
		@include respond-to(lg){
			margin-bottom: 10px;
		}
	}
	.choice__label{
		@include respond-to(lg){
			height: 32px;
		}
		img{
			@include respond-to(lg){
				max-height: 26px;
			}
		}
	}
	.deposit__text{
		@include respond-to(lg){
			margin-bottom: 10px;
		}
	}
	.deposit__actions{
		padding-top: 10px;
	}
}

.landing_step4{
	form{
		border-radius: 10px 10px 0 0 !important;
	}
	.deposit__title{
		font-size: 26px !important;
		max-width: 150px;
		margin: 0 auto 12px;
	}
	.deposit__text{
		max-width: 240px;
		margin: 0 auto 25px;
	}
	.step_balance{
		padding: 14px 16px 14px 56px;
		border-radius: 10px;
		background: #6f6f6f;
		display: table;
		margin: 0 auto 15px;
		color: #fff;
		position: relative;
		font-size: 19px;
		@include respond-to(lg){
			padding-top: 10px;
			padding-bottom: 10px;
			font-size: 17px;
		}
		span{
			font-weight: 700;
		}
		&::before{
			content: '\e908';
			@include icon_fonts;
			font-size: 27px;
			color: #fff;
			position: absolute;
			left: 15px;
			top: 50%;
			transform: translateY(-50%);
			@include respond-to(lg){
				font-size: 20px;
			}
		}
	}
	.deposit__text{
		@include respond-to(lg){
			margin-bottom: 10px;
		}
	}
	.deposit__subtitle{
		font-size: 20px;
		font-weight: 700;
		color: #6f6f6f;
		text-align: center;
		margin-bottom: 10px;
	}
	.step_btn{
		@include btn;
		display: block;
		text-align: center;
		max-width: 259px;
		margin: 0 auto 11px;
	}
	.account_link{
		font-size: 16px;
		text-align: center;
		font-weight: 700;
	    padding: 8px 0 20px;
		color: #6f6f6f;
		transition: .4s;
		display: block;
		&:hover{
			text-decoration: none;
			color: $color_main;
		}
	}
	.deposit__form{
		padding-top: 23px;
	}
}

.page_landing{
	background:transparent url('../images/landing_mob.jpg') center top no-repeat;
	background-size: cover;
}

@media (max-width: 350px){
	.landing__title{
		font: 26px/31px Avenir;
	}
}

@media (min-width: 767px) and (max-width: 991px){
	.landing__center{
		padding-top: 240px;
	}
}

@media (min-width: 992px) and (max-width: 1200px){
	.landing__center{
		padding-top: 120px;
	}
}

.page_landing_login{
	.wrapper__content{
		background: #e4e4e4;
	}
	.landing{
		padding: 0;
		border-radius: 10px 10px 0 0;
		margin-top: -10px;
	}
	.footer{
		display: none;
	}
	.deposit{
		margin-bottom: 0;
	}
	.landing_login{
		
		padding-bottom: 118px;
		border-radius: 10px 10px 0 0;
	}
	.deposit__logo{
		background: url(../images/landing_mob.jpg) center top no-repeat;
		max-width: none;
		background-size: cover;
		padding-bottom: 40px;
		a{
		    max-width: 259px;
    		margin: 0 auto;
    		display: block;
		}
	}
}

.landingSteps{
	margin-top: 0;
	width: auto;
	max-width: 260px;
	margin: 0 auto;
}

.vaucher_title{
	font-size: 18px;
	font-weight: 700;
	color: $color_main;
	margin-bottom: 12px;
}

.deposit__row_item{
	font-size: 15px;
	margin-bottom: 1px;
}