.profile{
	&__header{
		margin: 0 -8px 6px;
		padding: 20px 22px 23px;
		background-color: #2d3033;
	}
	&__container{
		max-width: 276px;
		margin: 0 auto;
		display: flex;
		width: 100%;
	}
	&__card{
		max-width: 50%;
		flex: 0 0 50%;
		text-align: center;
		padding: 0 1px;
	}
	&__label{
		font-size: 14px;
		margin-bottom: 5px;
	}
	&__value{
		color: #8fd111;
		font-size: 17px;
		font-weight: 700;
		margin-bottom: 21px;
	}
	&__btn{
		@include btn;
		width: 100%;
		border-radius: 12px 0 0 12px;
		&_deposit{
			border-radius: 0 12px 12px 0;
		}
	}
	&__item{
		font-size: 17px;
		display: block;
		font-weight: 600;
		padding: 18.5px 50px;
		background-color: #2d3033;
		margin-bottom: 2px;
		position: relative;
		&::after{
			content: '\e90d';
			@include icon_fonts;
			color: #6c7073;
			font-size: 13px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: 22px;
			text-align: center;
			right: 17px;
		}
		&::before{
			@include icon_fonts;
			color: #fff;
			font-size: 24px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 12px;
			width: 24px;
			text-align: center;
		}
		&_success{
			&::after{
				content: '\e92f';
				font-size: 22px;
			}
		}
		&_error{
			&::after{
				content: '\e930';
				font-size: 22px;
			}
		}
		&_1{
			&::before{
				content: '\e928';
			}
		}
		&_2{
			&::before{
				content: '\e916';
			}
		}
		&_3{
			&::before{
				content: '\e917';
			}
		}
		&_4{
			&::before{
				content: '\e929';
			}
		}
		&_5{
			&::before{
				content: '\e92a';
			}
		}
	}

	&__nav{
		margin-bottom: 40px;
	}
	&__footer{
		display: flex;
		justify-content: center;
	}
	&__logout{
		color: #fff;
		font-weight: 600;
		padding: 11.5px 46px;
		background-color: #24272a;
		border-radius: 12px;
		margin-bottom: 100px;
	}
}

.popup{
	&_profile{
		position: fixed;
		top: 0;
		width: 100%;
		height: 100%;
		overflow-y: auto;
		z-index: 50;
		background-color: #17181a;
		transition: .4s;
		right: -100vw;
		&_active{
			right: 0;
		}
	}
	&__header{
		height: 55px;
		position: relative;
	}
	&__title{
		position: absolute;
		top: 49%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 17px;
		font-weight: 600;
	}
	&__close{
		position: absolute;
		top: 50%;
		left: 25px;
		transform: translateY(-50%);
		width: 20px;
		height: 20px;
		&::after{
			@include icon_fonts;
			content: '\e92c';
			font-size: 17px;
			color: #fff;
			position: absolute;
			top: 0;
			left: 0;
			transform: rotate(180deg);
		}
	}
}