.mobileSearch{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	&.active{
		position: absolute;
		top: 0;
		left: 0;
		transform: translate(0,0);
		width: 100%;
		height: 50px;
		background: #282c30;
		z-index: 15;
		padding: 6px 8px;
		.form__text{
			width: 90%;
		}
		.form__actions_search{
			right: 13%;
		}
		.close_search{
			position: absolute;
		    top: 50%;
		    right: 13px;
		    transform: translateY(-50%);
		    width: 10px;
		    height: 10px;
		    &::before{
		    	@include icon_fonts;
		    	content: '\e92c';
	    	    font-size: 10px;
	    	    color: #fff;
	    	    position: absolute;
	    	    top: 0;
	    	    left: 0;
		    }
		}
	}
}
.form{
	&_search{
		position: relative;
	}
	&__item{
		&_search{
			position: relative;
			margin-left: 0;
		}
	}
	&__text{
		transition: 0;
		&_search{
			height: 37px;
			width: 111px;
			background-color: #1b1f1e;
			padding-right: 35px;
			&::-webkit-input-placeholder {color:#fff;}
			&::-moz-placeholder          {color:#fff;}
			&:-moz-placeholder           {color:#fff;}
			&:-ms-input-placeholder      {color:#fff;}
		}
	}
	&__actions{
		&_search{
			position: absolute;
			top: 50%;
			right: 14px;
			transform: translateY(-50%);
			width: 15px;
			height: 15px;
			&:hover{
				&::after{
					color: #fff;
				}
			}
			&::after{
				content: '\f002';
				color: #fff;
				opacity: .88;
				font-size: 15px;
				font-family: 'FontAwesome';
				position: absolute;
				top: -3px;
				left: 0;
				transition: .4s;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
		}
	}
	&__submit{
		&_search{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			text-indent: -9999px;
			border: none;
			background: none;
			z-index: 5;
		}
	}
}

.gamesTabs{
	display: flex;
	margin: 0 -4px 20px;
	&_mygame{
		margin: 0 auto 20px;
		padding: 0 4px;
		// max-width: 500px;
	}
	&__item{
		flex: 0 0 25%;
		padding: 0 4px;
		max-width: 25%;
		&_mygame{
			flex: 0 0 50%;
			max-width: 50%;
		}
	}
	&__link{
		border-radius: 10px;
		background-color: #2d3236;
		padding: 6px 5px;
		text-align: center;
		display: block;
		font-size: 14px;
		&_active{
			background: $color_main;
		}
	}
}