.events__header_score{
	display: flex;
	justify-content: space-between;
	padding-left: 25px;
	padding-right: 0;
	align-items: center;
    background: #24272a;
    padding-bottom: 0;
    margin-bottom: 3px;
}

.events__content_score{
	padding-top: 0;
	background: #2d3033;
}

.score{
	&__links{
		display: flex;
		width: 203px;
	}
	&__link{
		flex: 0 0 66px;
		position: relative;
		height: 51px;
		&::before{
			content: '\e964';
			@include icon_fonts;
			font-size: 30px;
			color: #fff;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
		}
		&_1{
			&::before{
				content: '\e964';
			}
		}
		&_2{
			&::before{
				content: '\e966';
			}
		}
		&_3{
			&::before{
				content: '\e967';
				font-size: 20px;
			}
		}
		&_active{
			background: $color_main;
		}
	}
	&__back{
		padding-left: 17px;
		position: relative;
		&::before{
			content: '\f104';
			font-family: 'FontAwesome';
			font-size: 22px;
			position: absolute;
			left: 0;
			top: 47%;
			transform: translateY(-50%);
		}
	}
}

.matchBlock{
	padding: 0 3px;
	&__title{
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: 600;
		margin-bottom: 3px;
		height: 51px;
		background: #24272a;
	}
	&__content{
		background: #383a3d;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 96px;
		padding: 0 13px;
		max-width: 450px;
		margin: 0 auto;
	}
	&__img{
		margin-right: 7px;
	}
	&__second,
	&__first{
		display: flex;
		align-items: center;
		font-size: 17px;
		font-weight: 600;
	}
	&__image1{
		margin-right: 9px;
		display: block;
	}
	&__image2{
		margin-left: 9px;
		display: block;
	}
	&__result{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 65px;
		text-align: center;
		padding: 0 10px;
	}
	&__text,
	&__info{
		line-height: 1;
		color: #c9c9c9;
		font-size: 12px;
	}
	&__main{
		font-size: 24px;
		font-weight: 600;
	}
}