.liveStats{
	&__content{
		background: #2d3033;
		padding: 0 3px 10px;
	}
	&__clubs{
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-weight: 600;
		margin-bottom: 20px;
		padding: 0 14px;
		background: #24272a;
		height: 57px;
	}
	&__club{
		display: flex;
		align-items: center;
	}
	&__image1{
		margin-right: 5px;
		display: block;
	}
	&__image2{
		margin-left: 5px;
		display: block;
	}
	&__tabs{
		display: flex;
		margin: 0 -4px 20px;
		padding: 0 4px;
	}
	&__item{
		padding: 0 4px;
		flex: 0 0 33.3%;
		max-width: 33.3%;
	}
	&__link{
		background: rgba(255,255,255,.1);
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 10px;
		height: 29px;
		padding: 5px 10px;
		cursor: pointer;
		&:hover,
		&_active{
			background: $color_main;
		}
	}
	&__statistic{
		padding: 0 13px;
	}
	&__row{
		margin-bottom: 9px;
	}
	&__header{
		display: flex;
		justify-content: space-between;
		font-size: 12px;
		color: #a6a8a9;
		margin-bottom: 4px;
	}
	&__main{
		position: relative;
		height: 10px;
		border-radius: 5px;
		background: #fff;
		overflow: hidden;
	}
	&__part{
		transition: 1.5s;
		&:last-child{
			height: 10px;
			position: absolute;
			top: 0;
			right: -100%;
			background: $color_main;
		}
	}
	&__bar{
		&_left{
			.liveStats__part{
				&:last-child{
					display: none;
				}
				&:first-child{
					width: 0%;
					height: 10px;
					position: absolute;
					top: 0;
					left: -100%;
					background: $color_main;
					&::after{
						content: '';
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 5px 0 5px 5px;
						border-color: transparent transparent transparent $color_main;
						position: absolute;
						right: -5px;
						top: 0;
					}
				}
			}
		}
		&_right{
			.liveStats__part{
				&:last-child{
					&::after{
						content: '';
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 5px 5px 5px 0;
						border-color: transparent $color_main transparent transparent;
						position: absolute;
						left: -5px;
						top: 0;
					}
				}
			}
		}
	}
}