.sport{
	padding: 0 8px;
	font-size: 14px;
	&__slider{
		border-radius: 12px;
		overflow: hidden;
		min-height: 104px;
		max-width: 679px;
		margin: 0 auto 22px;
	}
	&__slide{
		position: relative;
	}
	&__title{
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		height: 100%;
		align-items: center;
		padding-left: 13px;
		font: 17px 'LatoBlack';
	}
	&__img{
		border-radius: 12px !important;
	}
	.slick-dots{
		position: absolute;
		bottom: 12px;
		left: 50%;
		transform: translateX(-50%);
		overflow: hidden;
		margin-bottom: 0;
		li{
			list-style: none;
			margin-right: 6px;
			float: left;
			&:last-child{
				margin-right: 0;
			}
			button{
				width: 8px;
				height: 8px;
				border: 2px solid $color_main;
				background: none;
				display: block;
				border-radius: 50%;
				text-indent: -9999px;
			}
			&.slick-active{
				button{
					background: $color_main;
				}
			}
		}
	}
	&__nav{
		margin: 0 auto 25px;
		overflow-y: auto;
		padding-top: 5px;
		&_content{
			display: flex;
			flex-wrap: nowrap;
		}
		.slick-track{
			padding-top: 4px;
		}
	}
	&__item{
		flex: 0 0 25%;
		max-width: 25%;
		font-size: 12px;
		font-weight: 600;
		text-align: center;
		padding: 0 5px;
	}
	&__link{
		display: block;
		padding-top: 35px;
		color: #969696;
		position: relative;
		text-decoration: none !important;
		&_active{
			color: #fff;
			&::before{
				color: #C9C9C9 !important;
			}
		}
		&_l{
			&::after{
				content: 'L';
				width: 16px;
				height: 16px;
				border-radius: 50%;
				background: $color_main;
				color: #fff;
				font-size: 10px;
				font-weight: 700;
				line-height: 16px;
				text-align: center;
				position: absolute;
				top: -3px;
				right: 15px;
			}
		}
		&::before{
			content: '\e939';
			@include icon_fonts;
			color: #8c8c8c;
			font-size: 27px;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
		}
		&_1{
			&::before{
				content: '\e939';
			}
		}
		&_2{
			&::before{
				content: '\e93a';
			}
		}
		&_3{
			&::before{
				content: '\e93b';
			}
		}
		&_4{
			&::before{
				content: '\e93c';
			}
		}
		&_5{
			&::before{
				content: '\e93d';
			}
		}
		&_6{
			&::before{
				content: '\e93f';
			}
		}
		&_7{
			&::before{
				content: '\e940';
			}
		}
		&_8{
			&::before{
				content: '\e941';
			}
		}
		&_9{
			&::before{
				content: '\e942';
			}
		}
		&_10{
			&::before{
				content: '\e943';
			}
		}
		&_11{
			&::before{
				content: '\e944';
			}
		}
		&_12{
			&::before{
				content: '\e945';
			}
		}
		&_13{
			&::before{
				content: '\e946';
			}
		}
		&_14{
			&::before{
				content: '\e947';
			}
		}
		&_15{
			&::before{
				content: '\e948';
			}
		}
		&_16{
			&::before{
				content: '\e949';
			}
		}
		&_17{
			&::before{
				content: '\e94a';
			}
		}
		&_18{
			&::before{
				content: '\e94b';
			}
		}
		&_19{
			&::before{
				content: '\e94c';
			}
		}
		&_20{
			&::before{
				content: '\e94d';
			}
		}
		&_21{
			&::before{
				content: '\e94e';
			}
		}
		&_22{
			&::before{
				content: '\e94f';
			}
		}
		&_23{
			&::before{
				content: '\e940';
			}
		}
		&_24{
			&::before{
				content: '\e940';
			}
		}
		&_25{
			&::before{
				content: '\e950';
			}
		}
		&_26{
			&::before{
				content: '\e951';
			}
		}
		&_27{
			&::before{
				content: '\e952';
			}
		}
		&_28{
			&::before{
				content: '\e953';
			}
		}
		&_29{
			&::before{
				content: '\e954';
			}
		}
		&_30{
			&::before{
				content: '\e955';
			}
		}
		&_31{
			&::before{
				content: '\e956';
			}
		}
		&_32{
			&::before{
				content: '\e957';
			}
		}
		&_33{
			&::before{
				content: '\e958';
			}
		}
	}
}

.sportBlock{
	font-size: 14px;
	border-radius: 12px;
	overflow: hidden;
	margin-bottom: 22px;
	&__header{
		display: flex;
		background: #24272a;
	}
	&__link{
		flex: 0 0 33.3%;
		max-width: 33.3%;
		text-align: center;
		padding: 12px 5px 9px;
		border-right: 1px solid #2d3033;
		&:last-child{
			border-right: none;
		}
		&_active{
			background: $color_main;
		}
	}
	&__row{
		background: #2d3033;
		border-bottom: 1px solid #24272a;
		padding: 12px 13px;
	}
	&__date{
		display: flex;
		color: #969696;
		align-items: center;
		margin-bottom: 8px;
		&_live{
			color: $color_main;
		}
	}
	&__live{
		width: 16px;
		height: 16px;
		border-radius: 50%;
		background: $color_main;
		color: #fff;
		font-size: 10px;
		font-weight: 700;
		line-height: 16px;
		text-align: center;
		margin-right: 6px;
	}
	&__flash{
		margin-right: 6px;
		width: 16px;
		height: 16px;
		position: relative;
		border-radius: 50%;
		background: $color_main;
		&::after{
			content: '\e959';
			@include icon_fonts;
			font-size: 10px;
			color: #fff;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
		}
	}
	&__wrap{
		display: flex;
		justify-content: space-between;
	}
	&__club{
		font-weight: 600;
		p{
			margin-bottom: 2px;
			span{
				color: $color_main;
				margin-right: 5px;
			}
		}
	}
	&__coeff{
		color: #969696;
	}
	&__footer{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 0 -1px;
		padding-top: 7px;
	}
	&__item{
		flex: 0 0 50%;
		max-width: 50%;
		padding: 0 1px;
		font-weight: 600;
	}
	&__value{
		background: #383a3d;
		height: 35px;
		padding: 0 15px;
		align-items: center;
		display: flex;
		justify-content: space-between;
		&_active{
			background: #505358;
		}
	}
	&__more{
		height: 52px;
		justify-content: center;
		align-items: center;
		display: flex;
		background: #2d3033;
		border-radius: 0 0 12px 12px;
	}
	&__show{
		color: $color_main !important;
		position: relative;
		padding-right: 25px;
		font-weight: 600;
		&::before{
			content: '\f107';
			font-family: 'FontAwesome';
			font-size: 18px;
			position: absolute;
			right: 0;
			top: 47%;
			transform: translateY(-50%);
		}
		&_active{
			&::before{
				content: '\f106';
			}
		}
	}
}

.events__tr_sport{
	padding-top: 7px;
}

.sportTop{
	border-radius: 12px;
	overflow: hidden;
	margin-bottom: 17px;
	&__body{
		display: none;
	}
	&__wrap{
		&:last-child{
			.sportTop__title{
				border-radius: 0 0 12px 12px;
				overflow: hidden;
			}
		}
	}
	&__content{
		background: #2d3033;
	}
	&__maintitle{
		font-weight: 600;
		text-transform: uppercase;
		padding: 0 15px;
		height: 48px;
		display: flex;
		align-items: center;
		background: #24272a;
	}
	&__row{
		padding: 1.5px 3px;
	}
	&__title{
		background: #24272a;
		padding: 5px 25px 5px 12px;
		height: 48px;
		display: flex;
		align-items: center;
		font-size: 17px;
		font-weight: 600;
		position: relative;
		&::after{
			content: '\f105';
			font-family: 'FontAwesome';
			font-size: 22px;
			position: absolute;
			right: 12px;
			top: 47%;
			transform: translateY(-50%);
			color: #fff;
		}
		&_active{
			&::after{
				content: '\f107';
			}
		}
	}
}

.sport__select{
	padding: 1.5px 3px;
	.custom-select{
		background-color: #24272a;
		height: auto;
		background: url(../images/select_arr2.png) right 18px top 20px no-repeat #24272a;
	    padding: 5px 30px 5px 15px;
		&__dropdown{
			position: static;
			margin-right: -30px;
			margin-left: -15px;
			width: auto;
			min-width: 0;
		}
	}
	.custom-select__option--value{
		padding-top: 6px;
		padding-bottom: 9px !important;
		position: relative;
		top: 4px;
	}
	&:last-child{
		.custom-select{
			border-radius: 0 0 12px 12px;
			overflow: hidden;
		}
	}

	.custom-select__option.active::before{
		border: none;
		content: '\e91c';
		@include icon_fonts;
		color: #fff;
		font-size: 12px;
		position: absolute;
		top: 13px;
		left: 12px;
	}
	.custom-select__option{
		padding-top: 0;
		padding-bottom: 0;
	}
}

.settings__content{
    background: #2d3033;
    padding: 1.5px 0px;
}

.sport__slide{
	display: none;
	&:first-child,
	&.slick-current{
		display: block;
	}
}

.sportTop__wrap_hide,
.sportBlock__row_hide{
	display: none;
}