.form{
	&_verify{
		padding: 0 12.5px;
		.field__prefix{
		    position: absolute;
		    top: 13px;
		    left: 15px;
		    z-index: 10;
		    font-size: 17px;
		    color: #909090;
		}
		.form__item_phone{
			position: relative;
		}
	}
	&__text{
		&_verify{
			padding-left: 50px;
			color: #909090;
			font-size: 17px;
			font-weight: 400;
			&-email{
				padding-left: 18px;
			}
		}
	}
}

.verify{
	&__btn{
		@include btn;
		width: 100%;
		max-width: 295px;
		text-align: center;
		padding: 12px 22px 15px;
		height: 50px;	
		display: table;	
		margin: 70px auto 15px;
		&_cont{
			&::after{
				content: "\e931";
				@include icon_fonts;
				font-size: 16px;
				color: #fff;
				padding-left: 7px;
				position: relative;
				top: 2px;
			}
		}
	}
}