.leftSidebar__title_event{
	display: flex;
	justify-content: space-between;
}

.event__link{
	width: 11px;
	height: 12px;
	display: block;
	background:transparent url('../images/leftbar_icon.png') left top no-repeat;
	transition: .4s;
	&:hover{
		opacity: .7;
	}
}

.shedule{
	flex: 0 0 580px;
	max-width: 580px;
	margin-bottom: 50px;
	&__nav{
		display: flex;
		margin: 0 -2px;
	}
	&__slide{
		display: flex;
		margin: 0 2px;
		border-radius: 10px;
		background: rgba(255,255,255,.1);
		align-items: center;
		justify-content: space-between;
		padding: 7px 13px;
		height: 50px;
		text-align: center;
		flex-direction: column;
		min-width: 65px;
		transition: .4s;
		margin-bottom: 8px;
		position: relative;
		p{
			margin-bottom: 0;
			&+p{
				font-size: 12px;
				margin-top: -2px;
			}
		}
		&_active{
			background: $color_main;
			text-decoration: none;
		}
		&:hover{
			background: rgba(255,255,255,.15);
			text-decoration: none;
		}
		&_week{
			padding-right: 20px;
			width: 98px;
			&::after{
				content: '';
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 4px 0 4px 7px;
				border-color:  transparent transparent transparent #fff;
				position: absolute;
				right: 7px;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
	&__content{
		border-radius: 12px;
		overflow: hidden;
	}
	&__header{
		display: flex;
		background: rgba(0,0,0,.7);
		padding: 13px 15px 13px 20px;
		align-items: center;
		justify-content: space-between;
	}
	&__title{
		font-size: 17px;
		font-weight: 600;
	}
	&__pager{
		display: flex;
		align-items: center;
	}
	&__arrow{
		position: relative;
		width: 6px;
		height: 6px;
		&_prev{
			margin-right: 6px;
			&::after{
				content: '';
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 3px 6px 3px 0;
				border-color:  transparent #fff transparent transparent;
				position: absolute;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
			}
		}
		&_next{
			margin-left: 7px;
			&::after{
				content: '';
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 3px  0 3px 6px;
				border-color:  transparent transparent transparent #fff;
				position: absolute;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
	&__btn{
		width: 22px;
		height: 22px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		margin-right: 1px;
		transition: .4s;
		&:hover{
			text-decoration: none;
			background: rgba(255,255,255,.15);
		}
		&_active{
			background: $color_main;
			text-decoration: none;
		}
	}
	&__footer{
		padding: 14px 15px;
		background: rgba(0,0,0,.7);
		display: flex;
		justify-content: flex-end;
	}
	&__table{
		background: rgba(0,0,0,.6);
		width: 100%;
		th{
			font-size: 12px;
			color: #a6a8a9;
			font-weight: 400;
			border-bottom: 1px solid #373b41;
			height: 40px;
			&:first-child{
				padding-left: 21px;
				width: 15.6%;
			}
			&:nth-child(2){
				width: 15.5%;
			}
			&:nth-child(3){
				width: 35.1%;
			}
		}
		td{
			padding-right: 15px;
			height: 56px;
			border-bottom: 1px solid #373b41;
			&:first-child{
				padding-left: 21px;
				font-weight: 600;
			}
			&:nth-child(3){
				padding-right: 55px;
			}
			&:nth-child(4){
				padding-right: 28px;
			}
		}
	}
	&__category{
		padding-left: 25px;
		position: relative;
		&::before{
			content: '\e939';
			@include icon_fonts;
			color: #c9c9c9;
			font-size: 17px;
			position: absolute;
			top: 48%;
			left: 0;
			transform: translateY(-50%);
		}
		&_1{
			&::before{
				content: '\e939';
			}
		}
		&_2{
			&::before{
				content: '\e93a';
			}
		}
		&_3{
			&::before{
				content: '\e93b';
			}
		}
		&_4{
			&::before{
				content: '\e93c';
			}
		}
		&_5{
			&::before{
				content: '\e93d';
			}
		}
		&_6{
			&::before{
				content: '\e93f';
			}
		}
		&_7{
			&::before{
				content: '\e940';
			}
		}
		&_8{
			&::before{
				content: '\e941';
			}
		}
		&_9{
			&::before{
				content: '\e942';
			}
		}
		&_10{
			&::before{
				content: '\e943';
			}
		}
		&_11{
			&::before{
				content: '\e944';
			}
		}
		&_12{
			&::before{
				content: '\e945';
			}
		}
		&_13{
			&::before{
				content: '\e946';
			}
		}
		&_14{
			&::before{
				content: '\e947';
			}
		}
		&_15{
			&::before{
				content: '\e948';
			}
		}
		&_16{
			&::before{
				content: '\e949';
			}
		}
		&_17{
			&::before{
				content: '\e94a';
			}
		}
		&_18{
			&::before{
				content: '\e94b';
			}
		}
		&_19{
			&::before{
				content: '\e94c';
			}
		}
		&_20{
			&::before{
				content: '\e94d';
			}
		}
		&_21{
			&::before{
				content: '\e94e';
			}
		}
		&_22{
			&::before{
				content: '\e94f';
			}
		}
		&_23{
			&::before{
				content: '\e940';
			}
		}
		&_24{
			&::before{
				content: '\e940';
			}
		}
		&_25{
			&::before{
				content: '\e950';
			}
		}
		&_26{
			&::before{
				content: '\e951';
			}
		}
		&_27{
			&::before{
				content: '\e952';
			}
		}
		&_28{
			&::before{
				content: '\e953';
			}
		}
		&_29{
			&::before{
				content: '\e954';
			}
		}
		&_30{
			&::before{
				content: '\e955';
			}
		}
		&_31{
			&::before{
				content: '\e956';
			}
		}
		&_32{
			&::before{
				content: '\e957';
			}
		}
		&_33{
			&::before{
				content: '\e958';
			}
		}
	}
}