.eventNow{
	background: rgba(0,0,0,.6);
	border-radius: 12px;
	overflow: hidden;
	.liveBlock{
		&__item{
			&:last-child{
				.liveBlock__name{
					border-bottom: none;
				}
			}
		}
	}
	.tournament__item{
		&:last-child{
			.tournament__title{
				border: none;
			}
		}
	}
	&__wrap{
		display: flex;
		border-top: 1px solid rgba(255,255,255,.15);;
	}
}

.event{
	flex: 0 0 580px;
	max-width: 580px;
	margin-bottom: 50px;
}

.matchBlock{
	max-width: 514px;
	border-radius: 12px;
	background: rgba(0,0,0,.6);
	margin: 30px auto 38px;
	padding: 22px 0 35px;
	&__title{
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: 600;
		margin-bottom: 31px;
	}
	&__content{
		max-width: 395px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
	}
	&__img{
		margin-right: 7px;
	}
	&__second,
	&__first{
		display: flex;
		align-items: center;
		font-size: 17px;
		font-weight: 600;
	}
	&__image1{
		margin-right: 9px;
		display: block;
	}
	&__image2{
		margin-left: 9px;
		display: block;
	}
	&__result{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 65px;
		text-align: center;
		padding: 0 10px;
	}
	&__text,
	&__info{
		line-height: 1;
		color: #c9c9c9;
		font-size: 12px;
	}
	&__main{
		font-size: 30px;
		font-weight: 600;
	}
}

.eventTabs{
	padding-bottom: 11px;
	&__content{
		display: flex;
		margin: 0 -4px;
		flex-wrap: wrap;
	}
	&__item{
		padding: 0 4px;
		flex: 0 0 33.3%;
		max-width: 33.3%;
		margin-bottom: 8px;
	}
	&__link{
		height: 34px;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 5px 10px;
		background: rgba(255,255,255,.1);
		border-radius: 10px;
		transition: .4s;
		&_active{
			background: $color_main;
			&:hover{
				background: $color_main;
				text-decoration: none;
			}
		}
		&:hover{
			background: rgba(255,255,255,.2);
			text-decoration: none;
		}
	}
}

.eventBlock{
	border-radius: 12px;
	overflow: hidden;
	margin-bottom: 8px;
	&__header{
		display: flex;
		align-items: center;
		padding: 11px 22px;
		border-radius: 12px 12px 0 0;
		background: rgba(0,0,0,.7);
	}
	&__btn{
		position: relative;
		width: 25px;
		height: 25px;
		margin-right: 13px;
		cursor: pointer;
		&::before {
			content: '\f0da';
			font-family: FontAwesome;
			width: 25px;
			text-align: center;
			left: 0;
		    color: #fff;
		    font-size: 14px;
		    height: 25px;
		    border-radius: 10px;
		    background: #73af00;
		    display: block;
		    line-height: 25px;
		    position: absolute;
		    top: 50%;
		    transform: translateY(-50%);
		    padding-left: 3px;
		}
		&_active{
			&::before{
				transform: translateY(-50%) rotate(90deg);
			}
		}
	}
	&__star{
		width: 13px;
		height: 12px;
		position: relative;
		margin-right: 9px;
		&::before{
			content: '\e900';
			@include icon_fonts;
		    font-size: 13px;
		    color: #f8c806;
		    position: absolute;
		    right: 0;
		    top: 48%;
		    transform: translateY(-50%);
		}
		&_disabled{
			&::before{
				color: #848483;
			}
		}
	}
	&__coeff{
		font-size: 17px;
		font-weight: 600;
	}
	&__content{
		background: rgba(0,0,0,.6);
		border-radius: 0 0 12px 12px;
		overflow: hidden;
	}
	&__row{
		display: flex;
		flex-wrap: wrap;
		border-top: 1px solid #515648;
	}
	&__item{
		height: 41px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 5px 22px;
		border-right: 1px solid #515648;
		flex: 0 0 140px;
		max-width: 140px;
		&:first-child{
			flex: 0 0 220px;
			max-width: 220px;
		}
		&:last-child{
			border-right: none;
			flex: 0 0 220px;
			max-width: 220px;
		}
	}
}

.visual{
	border-radius: 12px;
	overflow: hidden;
	margin-bottom: 8px;
	&__header{
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 49px;
		padding: 5px 18px;
		background: rgba(0,0,0,.7);
	}
	&__title{
		position: relative;
		text-transform: uppercase;
		font-size: 17px;
		font-weight: 600;
		padding-left: 15px;
		&::before{
			content: '';
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 7px 4px 0 4px;
			border-color: #fff transparent transparent transparent;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}

.liveStats{
	border-radius: 12px;
	overflow: hidden;
	&__content{
		background: rgba(0,0,0,.6);
		padding: 8px 6px 38px;
	}
	&__clubs{
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-weight: 600;
		margin-bottom: 10px;
		padding: 0 14px;
	}
	&__club{
		display: flex;
		align-items: center;
	}
	&__image1{
		margin-right: 5px;
		display: block;
	}
	&__image2{
		margin-left: 5px;
		display: block;
	}
	&__tabs{
		display: flex;
		margin: 0 -4px 30px;
		padding: 0 4px;
	}
	&__item{
		padding: 0 4px;
		flex: 0 0 33.3%;
		max-width: 33.3%;
	}
	&__link{
		background: rgba(255,255,255,.1);
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 10px;
		height: 29px;
		padding: 5px 10px;
		cursor: pointer;
		transition: .4s;
		&:hover{
			background: rgba(255,255,255,.2);
			text-decoration: none;
		}
		&_active{
			background: $color_main;
		}
	}
	&__statistic{
		padding: 0 13px;
	}
	&__row{
		margin-bottom: 9px;
	}
	&__header{
		display: flex;
		justify-content: space-between;
		font-size: 12px;
		color: #a6a8a9;
		margin-bottom: 4px;
	}
	&__main{
		position: relative;
		height: 10px;
		border-radius: 5px;
		background: #fff;
		overflow: hidden;
	}
	&__part{
		&:last-child{
			width: 50%;
			height: 10px;
			position: absolute;
			top: 0;
			right: 0;
			background: $color_main;
		}
	}
	&__bar{
		&_left{
			.liveStats__part{
				&:last-child{
					display: none;
				}
				&:first-child{
					width: 50%;
					height: 10px;
					position: absolute;
					top: 0;
					left: 0;
					background: $color_main;
					&::after{
						content: '';
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 5px 0 5px 5px;
						border-color: transparent transparent transparent $color_main;
						position: absolute;
						right: -5px;
						top: 0;
					}
				}
			}
		}
		&_right{
			.liveStats__part{
				&:last-child{
					&::after{
						content: '';
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 5px 5px 5px 0;
						border-color: transparent $color_main transparent transparent;
						position: absolute;
						left: -5px;
						top: 0;
					}
				}
			}
		}
	}
}