	<footer class="footer clearfix">
		<div class="footer_content container">
			<div class="footer__nav">
				<div class="languageBlock languageBlock_footer">
					<div class="languageBlock__selected">
						<div class="languageBlock__body">
							<span class="languageBlock__image languageBlock__image_footer">
								<img class="languageBlock__img" src="../images/ng.svg" alt="">
							</span>
							<span class="languageBlock__text">Nigeria</span>
						</div>
						<i class="languageBlock__icon languageBlock__icon_footer fa fa-caret-down " aria-hidden="true"></i>
					</div>
					<div class="languageBlock__drop languageBlock__drop_footer">
						<div class="languageBlock__item languageBlock__item_footer">
							<span class="languageBlock__image languageBlock__image_footer">
								<img class="languageBlock__img" src="../images/ng.svg" alt="">
							</span>
							<span class="languageBlock__text">Nigeria</span>
						</div>
						<!-- <div class="languageBlock__item languageBlock__item_footer">
							<span class="languageBlock__image languageBlock__image_footer">
								<img class="languageBlock__img" src="../images/EN.svg" alt="">
							</span>
							<span class="languageBlock__text">English</span>
						</div> -->
					</div>
				</div>
				<div class="footer__menu">
					<a href="#" class="footer__item">18+</a>
					<a href="#" class="footer__item">About us</a>
					<a href="#" class="footer__item">Support</a>
				</div>
				<div class="socials">
					<a href="#" class="socials__link">Facebook</a>
					<a href="#" class="socials__link">Twitter</a>
					<a href="#" class="socials__link">Instagram</a>
				</div>
			</div>
			<div class="footer__text">
				www.easybet.ng is operated by Co-Gaming Limited which is registered under the laws of the European Union member state of Malta. It has registration number C47444 with office address at Forth Mansions, Ground Floor & 1st Floor, Ta’ Xbiex Sea Front, Ta’ Xbiex, XBX 1027, Malta. Co-Gaming Limited operations are regulated by the Malta Gaming Authority (MGA) under the following licenses: MGA/CL1/619/2009; MGA/CL1/773/2011; MGA/CL1/964/2014; MGA/CL1/877/2013; MGA/CL1/1058/2014; MGA/CL1/1057/2014; MGA/CL1/1094/2015; MGA/CL1/1095/2015 and MGA/CL1/1310/2017. Find out more about the MGA at www.mga.org.mt. ComeOn! Sportsbook, Games OS Casino, Playtech Casino and NolimitCity Casino are licensed and regulated by the Government of Curacao. Gambling can be addictive, please play responsibly.
			</div>
			<div class="footer__copyright">
				Design by <a href="https://celerart.com/" target="_blank">Celerart.com</a>
			</div>
		</div>
	</footer>
	<div class="popups">
		<div class="popups__user popups__user_phone">
			<div class="popups__close"></div>
			<div class="popups__title">Phone verification</div>
			<div class="popups__text">When you create an account we give you SMS credits so you can verify your your phone phone number via SMS.</div>
			<div class="popups__content popups__content_phone">
				<div class="popups__row popups__row_phone">
					<div class="popups__label popups__label_col">Step 1</div>
					<div class="popups__col">
						<div class="popups__btn">Get Code</div>
					</div>
				</div>
				<div class="popups__row popups__row_phone">
					<div class="popups__label popups__label_col">Step 2</div>
					<div class="popups__col">
						<div class="popups__label">Enter Code Here</div>
						<input type="text" class="popups__input" placeholder="Enter code">
					</div>
				</div>
				<div class="popups__btn popups__btn_footer">Verify</div>
			</div>
		</div>
		<div class="popups__user popups__user_mail">
			<div class="popups__close"></div>
			<div class="popups__title">Verification sent!</div>
			<div class="popups__text popups__text_mail">We hebben je zojuist een email gestuurd om jouw emailadres te bevestigen, klik aub op de link in de emaill zo gauw je deze ontvangt.</div>
		</div>
		<div class="popups__user popups__user_change popups__user_change-phone">
			<div class="popups__close"></div>
			<form action="#" class="form__popups form__popups_phone">
				<div class="popups__title popups__title_change">Change phone</div>
				<div class="form__item form__item_text form__item_text-phone">
					<label class="form__label form__label_change-phone">+380</label>
					<input type="text" class="form__text form__text_light form__text_change form__text_change-phone" placeholder="Phone number">
				</div>
				<div class="popups__footer">
					<input type="submit" class="form__submit form__submit_change" value="Send">
				</div>
			</form>
		</div>
		<div class="popups__user popups__user_change popups__user_change-email">
			<div class="popups__close"></div>
			<form action="#" class="form__popups form__popups_phone">
				<div class="popups__title popups__title_change">Change email</div>
				<div class="form__item form__item_text form__item_text-phone">
					<input type="email" class="form__text form__text_light form__text_change" placeholder="Enter your new email">
				</div>
				<div class="popups__footer">
					<input type="submit" class="form__submit form__submit_change" value="Send">
				</div>
			</form>
		</div>
		<div class="popups__user popups__user_verify">
			<div class="popups__close"></div>
			<div class="popups__title popups__title_verify">Verification sent!</div>
			<div class="popups__text popups__text_verify">We hebben je zojuist een email gestuurd om jouw emailadres te bevestigen, klik aub op de link in de emaill zo gauw je deze ontvangt.</div>
		</div>
		<div class="popups__user popups__user_verify-not">
			<div class="popups__close"></div>
			<div class="popups__title popups__title_verify popups__title_verify-not">Long error text in two long lines</div>
			<div class="popups__text popups__text_verify">We hebben je zojuist een email gestuurd om jouw emailadres te bevestigen, klik aub op de link in de emaill zo gauw je deze ontvangt.</div>
		</div>
		<div class="popups__user popups__user_details">
			<div class="popups__close"></div>
			<form action="#" class="form__popups form__popups_details">
				<div class="popups__title popups__title_details">Edit details</div>
				<div class="form__row form__row_details">
					<div class="form__item form__item_details form__item_name">
						<label class="form__label form__label_default">First name</label>
						<input type="text" class="form__text form__text_light form__text_details form__text_name" value="John">
					</div>
					<div class="form__item form__item_details form__item_surname">
						<label class="form__label form__label_default">Surname</label>
						<input type="text" class="form__text form__text_light form__text_details form__text_name" value="Doe">
						<div class="tooltip__wrap tooltip__wrap_details">
							<div href="#" class="settings__question settings__question_details"></div>
							<div class="tooltip__info tooltip__info_details">Please contact our customer support to edit your first name.</div>
						</div>
						<!-- <a href="#" class="settings__question settings__question_details"></a> -->
					</div>
				</div>
				<div class="form__row form__row_details form__row_info">
					<div class="form__selects">
						<label class="form__label form__label_default form__label_default-select">Date of birth</label>
						<div class="form__selects_all">
							<div class="form__item form__item_select form__item_date form__item_year">
								<select class="form__select form__select_details form__select_year">
									<option value="1989">1989</option>
									<option value="1990">1990</option>
									<option value="1991" selected>1991</option>
									<option value="1992">1992</option>
									<option value="1993">1993</option>
									<option value="1994">1994</option>
									<option value="1995">1995</option>
									<option value="1996">1996</option>
									<option value="1997">1997</option>
									<option value="1998">1998</option>
								</select>
							</div>
							<div class="form__item form__item_select form__item_date form__item_month">
								<select class="form__select form__select_details form__select_month">
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3" selected>3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
									<option value="9">9</option>
									<option value="10">10</option>
									<option value="11">11</option>
									<option value="12">12</option>
								</select>
							</div>
							<div class="form__item form__item_select form__item_date form__item_day">
								<select class="form__select form__select_details form__select_day">
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
									<option value="9">9</option>
									<option value="10">10</option>
									<option value="11">11</option>
									<option value="12">12</option>
									<option value="13">13</option>
									<option value="14" selected>14</option>
									<option value="15">15</option>
									<option value="16">16</option>
									<option value="17">17</option>
									<option value="18">18</option>
									<option value="19">19</option>
									<option value="20">20</option>
									<option value="21">21</option>
									<option value="22">22</option>
									<option value="23">23</option>
									<option value="24">24</option>
									<option value="25">25</option>
									<option value="26">26</option>
									<option value="27">27</option>
									<option value="28">28</option>
									<option value="29">29</option>
									<option value="30">30</option>
									<option value="30">30</option>
									<option value="31">31</option>
								</select>
							</div>
						</div>
					</div>
					<div class="form__item form__item_gender">
						<div class="form__label form__label_default">Gender</div>
						<div class="form_radios">
							<input type="radio" class="form_radio" name="mail" id="mail" checked>
							<label for="mail" class="label_radio">Mail</label>
						</div>
						<div class="form_radios">
							<input type="radio" class="form_radio" name="mail" id="femail">
							<label for="femail" class="label_radio">Femail</label>
						</div>
					</div>
				</div>
				<div class="form__row form__row_details form__row_location">
					<div class="form__item form__item_details form__item_location">
						<label class="form__label form__label_default">Address</label>
						<input type="text" class="form__text form__text_light form__text_details form__text_address" value="Address">
					</div>
					<div class="form__item form__item_details form__item_location">
						<label class="form__label form__label_default">City</label>
						<input type="text" class="form__text form__text_light form__text_details form__text_city" value="Rome">
					</div>
					<div class="form__item form__item_details form__item_location">
						<label class="form__label form__label_default">Zip code</label>
						<input type="text" class="form__text form__text_light form__text_details form__text_code" value="21000">
					</div>
					<div class="form__item form__item_details form__item_location">
						<label class="form__label form__label_default">Country</label>
						<input type="text" class="form__text form__text_light form__text_details form__text_country" value="Italy">
					</div>
				</div>
				<div class="form__row form__row_details form__row_time">
					<div class="form__item form__item_select form__item_time">
						<label class="form__label form__label_default">Time zone</label>
						<select class="form__select form__select_details form__select_time">
							<option value="1">(GMT + 01:00) Helsinki, Kiev, Rig</option>
							<option value="2">(GMT + 02:00) Helsinki, Kiev, Rig</option>
							<option value="3">(GMT + 03:00) Helsinki, Kiev, Rig</option>
							<option value="4">(GMT + 04:00) Helsinki, Kiev, Rig</option>
							<option value="5">(GMT + 05:00) Helsinki, Kiev, Rig</option>
							<option value="6">(GMT + 06:00) Helsinki, Kiev, Rig</option>
							<option value="7">(GMT + 07:00) Helsinki, Kiev, Rig</option>
							<option value="8">(GMT + 08:00) Helsinki, Kiev, Rig</option>
							<option value="9">(GMT + 09:00) Helsinki, Kiev, Rig</option>
							<option value="10">(GMT + 10:00) Helsinki, Kiev, Rig</option>
							<option value="11">(GMT + 11:00) Helsinki, Kiev, Rig</option>
							<option value="12">(GMT + 12:00) Helsinki, Kiev, Rig</option>
						</select>
					</div>
					<div class="form__item form__item_select form__item_logout">
						<label class="form__label form__label_default">Auto log out</label>
						<select class="form__select form__select_details form__select_logout">
							<option value="1">1 hours</option>
							<option value="2">2 hours</option>
							<option value="3">3 hours</option>
							<option value="4">4 hours</option>
							<option value="5">5 hours</option>
							<option value="6">6 hours</option>
							<option value="7">7 hours</option>
							<option value="8">8 hours</option>
							<option value="9">9 hours</option>
							<option value="10">10 hours</option>
							<option value="11">11 hours</option>
							<option value="12">12 hours</option>
						</select>
					</div>
				</div>
				<div class="popups__footer">
					<input type="submit" class="form__submit form__submit_change" value="Save">
				</div>
			</form>
		</div>
	</div>
	<div class="all_pages">
		<div class="page_point"></div>
		<ul class="page_list">
			<li><a href="home.html">Home</a></li>
			<li><a href="about.html">About</a></li>
			<li><a href="account_limits.html">Account limits</a></li>
			<li><a href="account_hisory.html">Account History</a></li>
			<li><a href="account_doc.html">Account Doc</a></li>
			<li><a href="account_settings.html">Account Settings</a></li>
			<li><a href="account.html">Account</a></li>
			<li><a href="all_games.html">All games</a></li>
			<li><a href="collossus.html">Collossus</a></li>
			<li><a href="faq.html">FAQ</a></li>
			<li><a href="jackpots.html">Jackpots</a></li>
			<li><a href="live_casino.html">Live casino</a></li>
			<li><a href="mycasino.html">My casino</a></li>
			<li><a href="promotion_page.html">Promotion page</a></li>
			<li><a href="promotions.html">Promotions</a></li>
			<li><a href="winners.html">Winners</a></li>
			<li><a href="payments.html">Payments</a></li>
			<li><a href="deposit.html">Deposit</a></li>
			<li><a href="game.html">Game</a></li>
			<li><a href="live_shedule.html">Live Shedule</a></li>
			<li><a href="live_event.html">Live event</a></li>
			<li><a href="live_overview.html">Live Overview</a></li>
			<li><a href="sports_events.html">Sports events</a></li>
			<li><a href="sports.html">Sports</a></li>
			<li><a href="virtual_sports_golden.html">Virtual sports golden</a></li>
			<li><a href="virtual_sports_inspired.html">Virtual sports inspired</a></li>
			<li><a href="virtual_sports.html">Virtual sports</a></li>
			<li><a href="withdrawal.html">Withdrawal</a></li>
			<li><a href="landing_login.html">Landing Login</a></li>
			<li><a href="landing_pass.html">Landing Pass</a></li>
			<li><a href="landing_step1.html">Landing Step1</a></li>
			<li><a href="landing_step2.html">Landing Step2</a></li>
			<li><a href="landing_step3.html">Landing Step3</a></li>
			<li><a href="landing_step4.html">Landing Step4</a></li>
		</ul>
	</div>
	<div class="popup"></div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="../js/slick.min.js"></script>
	<script src="../js/jquery.custom-select.min.js"></script>
	<script src="../js/password-score.js"></script>
	<script src="../js/password-score-options.js"></script>
	<script src="../js/check-pass.js"></script>
	<script src="../js/jquery.livequery.min.js"></script>
	<script src="../js/jquery.browser.min.js"></script>
	<script src="../js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="../js/main.js"></script>
