<header class="header">
	<div class="header__content container">
		<div class="row">
			<div class="col-md-3 logo">
				<a href="#" class="logo__link"><img src="../../images/ logonew.svg" alt="Easybet" class="logo_image"></a>
			</div>
			<div class="header__info col-md-9">
				<div class="header__nav">
					<nav class="header__menu">
						<a href="#" class="header__link">Dayly Easybet News</a>
						<a href="#" class="header__link">Payments</a>
						<a href="#" class="header__link">Get Help / FAQ</a>
						<a href="#" class="header__link">Responsible Gaming</a>
						<a href="#" class="header__link">About Easybet</a>
					</nav>
					<div class="languageBlock">
						<div class="languageBlock__selected">
							<div class="languageBlock__body">
								<span class="languageBlock__image languageBlock__image">
									<img class="languageBlock__img" src="../images/ng.svg" alt="">
								</span>
								<span class="languageBlock__text languageBlock__text_header">Nigeria</span>
							</div>
							<i class="languageBlock__icon fa fa-caret-down " aria-hidden="true"></i>
						</div>
						<div class="languageBlock__drop">
							<div class="languageBlock__item languageBlock__item_footer">
								<span class="languageBlock__image">
									<img class="languageBlock__img" src="../images/ng.svg" alt="">
								</span>
								<span class="languageBlock__text languageBlock__text_header">Nigeria</span>
							</div>
							<!-- <div class="languageBlock__item languageBlock__item_footer">
								<span class="languageBlock__image">
									<img class="languageBlock__img" src="../images/EN.svg" alt="">
								</span>
								<span class="languageBlock__text languageBlock__text_header">English</span>
							</div> -->
						</div>
					</div>
				</div>
				<div class="userLogin">
					<a href="#" class="userLogin__btn">Deposit</a>
					<div class="userLogin__wrap">
						<div class="userLogin__nav">$ 10,000<i class="fa fa-caret-down " aria-hidden="true"></i></div>
						<div class="userLogin__dropdown">
							<a href="#" class="userLogin__link userLogin__link_1">My account</a>
							<div class="userLogin__balance">
								<div class="userLogin__item">
									<div class="userLogin__label">My balance</div>
									<div class="userLogin__value">$ 10,000</div>
								</div>
								<div class="userLogin__item">
									<div class="userLogin__label">Shop points</div>
									<div class="userLogin__value">1,950</div>
								</div>
							</div>
							<a href="#" class="userLogin__link userLogin__link_2">Shop</a>
							<a href="#" class="userLogin__link userLogin__link_3">Log out</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="header__container">
		<div class="mainNav container">
			<div class="mainNav__item"><img src="../images/nav_icon_1.svg" alt="" class="mainNav__image"><a href="#" class="mainNav__link">Sports</a></div>
			<div class="mainNav__item"><img src="../images/nav_icon_2.svg" alt="" class="mainNav__image"><a href="#" class="mainNav__link">Live Betting</a></div>
			<div class="mainNav__item"><img src="../images/nav_icon_3.svg" alt="" class="mainNav__image"><a href="#" class="mainNav__link">Virtual Sports</a></div>
			<!-- <div class="mainNav__item"><img src="../images/nav_icon_4.svg" alt="" class="mainNav__image"><a href="#" class="mainNav__link">Colossus</a></div> -->
			<div class="mainNav__item mainNav__item_active"><img src="../images/nav_icon_5.svg" alt="" class="mainNav__image"><a href="#" class="mainNav__link">Casino</a></div>
			<div class="mainNav__item"><img src="../images/nav_icon_6.svg" alt="" class="mainNav__image"><a href="#" class="mainNav__link">Live Casino</a></div>
			<div class="mainNav__item"><img src="../images/nav_icon_7.svg" alt="" class="mainNav__image"><a href="#" class="mainNav__link">Live Games</a></div>
			<div class="mainNav__item"><img src="../images/nav_icon_8.svg" alt="" class="mainNav__image"><a href="#" class="mainNav__link">Promotions</a></div>
		</div>
	</div>
</header>