.hotNow{
	&__content{
		background: rgba(0,0,0,.6);
		border-radius: 0px 0 12px 12px;
		overflow: hidden;
	}
	&__row{
		padding: 18px 19px;
		display: flex;
		border-bottom: 1px solid rgba(255,255,255,.15);
		&:last-child{
			border-bottom: none;
		}
	}
	&__link{
		flex: 0 0 73px;
		max-width: 73px;
		margin-right: 13px;
	}
	&__title{
		font-weight: 600;
		display: block;
		margin-bottom: 3px;
	}
	&__info{
		margin-bottom: 8px;
	}
	&__btn{
		font-weight: 700;
		color: $color_main;
		transition: .4s;
		&:hover{
			text-decoration: none;
			color: $color_hover;
		}
	}
}