.middle__container_sports{
	display: flex;
	justify-content: space-between;
}

.casino{
	&__header{
		&_sports{
			border-radius: 12px;
			margin-bottom: 8px;
			.casino__item{
				padding: 8px 10px 6px;
				margin-right: 17px;
			}
		}
	}
	&__item{
		&_sports{
			background-color: #1b1f1e;
			&.casino__item_active,
			&:hover{
				background-color: #507a00;
			}
		}
	}
	&__search{
		&_sports{
			display: flex;
			align-items: center;
		}
		.custom-select{
			background: url(../images/select_arr2.png) right 12px center no-repeat;
			background-color: #1b1f1e;
			border: none;
			margin-left: 9px;
			box-shadow: none;
			min-width: 147px;
			&__option{
				&--value{
					color: #a6a8a9;
				}
			}
			&__dropdown{
				max-height: 185px;
				overflow-y: auto;
				border: none;
				&::-webkit-scrollbar {
				    width: 5px;
				}
				 
				&::-webkit-scrollbar-track {
				    background-color: #e8e8e8;
				}
				 
				&::-webkit-scrollbar-thumb {
				  background-color: $color_main;
				  width: 5px;
				  // outline: 1px solid slategrey;
				  border-radius: 2.5px;
				}
			}
		}
	}
}

.sportsSlider{
	margin-bottom: 8px;
	&__content{
		width: 100%;
		height: 242px;
		overflow: hidden;
		position: relative;
	}
	*{
		outline: none !important;
	}
	&__item{
		position: relative;
		height: 242px;
	}
	&__img{
		border-radius: 0 0 12px 12px;
	}
	&__image{
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		border-radius: 0 0 12px 12px;
		overflow: hidden;
		&::after{
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(5, 5, 7, 0.22);
		}
	}
	&__body{
		position: relative;
		z-index: 10;
		max-width: 505px;
		padding: 60px 0 0 28px;
	}
	&__title{
		font-size: 28px;
		font-weight: 700;
		letter-spacing: 1.25px;
		margin-bottom: 6px;
		text-shadow: 0 5px 8px rgba(0, 0, 0, 0.32);
	}
	&__text{
		font-size: 20px;
		margin-bottom: 25px;
	    letter-spacing: 0.9px;
	}
	.slick-arrow{
		display: none !important;
	}
	.dots_wrap{
		position: absolute;
		bottom: 6px;
		left: 49%;
		transform: translateX(-50%);
		display: flex;
		.slick-dots{
			display: flex !important;
			margin-bottom: 0;
		}
		li{
			list-style: none;
			margin: 0 4px;
			display: flex;
			align-items: center;
			height: 36px;
			&.slick-active{
				button{
					background: $color_main;
				}
			}
		}
		button{
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background-color: transparent;
			border: 2px solid $color_main;
			display: block;
			text-indent: -9999px;
		}
		.slick__arrow{
			font-size: 28px;
			color: $color_main;
			cursor: pointer;
			transition: .4s;
			&:hover{
				color: #8ed800;
			}
		}
		.slick__prev{
			margin-right: 16px;
		}
		.slick__next{
			margin-left: 16px;
		}
	}
	&__btn{
		@include btn;
		min-width: 140px;
		text-align: center;
	}
}

.leftSidebar{
	flex: 0 0 187px;
	max-width: 187px; 
	margin-bottom: 30px;
	&_virtual{
		flex: 0 0 286px;
		max-width: 286px; 
	}
	&__title{
		border-radius: 12px 12px 0 0;
		background: rgba(0,0,0,.7);
		font-size: 17px;
		text-transform: uppercase;
		font-weight: 700;
		padding: 16px 21px;
		line-height: 1;
	}
	&__today{
		display: flex;
		height: 73px;
		padding: 10px 20px 10px 63px;
		background: rgba(0,0,0,.6);
		border-radius: 12px;
		font-weight: 600;
		margin-bottom: 8px;
		align-items: center;
		position: relative;
		transition: .4s;
		&::after{
			content: '\e95b';
			@include icon_fonts;
			color: #fff;
			font-size: 37px;
			position: absolute;
			left: 20px;
			top: 50%;
			transform: translateY(-50%);
		}
		&:hover{
			text-decoration: none;
			opacity: .8;
		}
	}
}

.rightSidebar{
	flex: 0 0 286px;
	max-width: 286px;
	margin-bottom: 50px;
}

.mostBets{
	margin-bottom: 8px;
}

.sports{
	flex: 0 0 679px;
	max-width: 679px;
	margin-bottom: 35px;
	&__title{
		border-radius: 12px 12px 0 0;
		background: rgba(0,0,0,.7);
		font-size: 17px;
		text-transform: uppercase;
		font-weight: 700;
		padding: 14px 20px;
		margin: 0;
	}
	&__table{
		width: 100%;
		background: rgba(0,0,0,.6);
		border-radius: 0 0 12px 12px; 
		border-top: 1px solid rgba(255,255,255,.15);
	}
	&__row{
		display: flex;
		flex-wrap: wrap;
		&:last-child{
			.sports__td{
				border-bottom: none;
			}
		}
	}
	&__td{
		padding: 0 10px;
		height: 42px;
		border-right: 1px solid rgba(255,255,255,.15);
		border-bottom: 1px solid rgba(255,255,255,.15);
		font-weight: 600;
		display: flex;
		align-items: center;
		justify-content: center;
		&:last-child{
			border-right: none;
		}
	}
	&__type{
		position: relative;
		max-width: 5.4%;
		flex: 0 0 5.4%;
		&::before{
			content: '\e939';
			@include icon_fonts;
			color: #c9c9c9;
			font-size: 17px;
			position: absolute;
			top: 48%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		&_1{
			&::before{
				content: '\e939';
			}
		}
		&_2{
			&::before{
				content: '\e93a';
			}
		}
		&_3{
			&::before{
				content: '\e93b';
			}
		}
		&_4{
			&::before{
				content: '\e93c';
			}
		}
		&_5{
			&::before{
				content: '\e93d';
			}
		}
		&_6{
			&::before{
				content: '\e93f';
			}
		}
		&_7{
			&::before{
				content: '\e940';
			}
		}
		&_8{
			&::before{
				content: '\e941';
			}
		}
		&_9{
			&::before{
				content: '\e942';
			}
		}
		&_10{
			&::before{
				content: '\e943';
			}
		}
		&_11{
			&::before{
				content: '\e944';
			}
		}
		&_12{
			&::before{
				content: '\e945';
			}
		}
		&_13{
			&::before{
				content: '\e946';
			}
		}
		&_14{
			&::before{
				content: '\e947';
			}
		}
		&_15{
			&::before{
				content: '\e948';
			}
		}
		&_16{
			&::before{
				content: '\e949';
			}
		}
		&_17{
			&::before{
				content: '\e94a';
			}
		}
		&_18{
			&::before{
				content: '\e94b';
			}
		}
		&_19{
			&::before{
				content: '\e94c';
			}
		}
		&_20{
			&::before{
				content: '\e94d';
			}
		}
		&_21{
			&::before{
				content: '\e94e';
			}
		}
		&_22{
			&::before{
				content: '\e94f';
			}
		}
		&_23{
			&::before{
				content: '\e940';
			}
		}
		&_24{
			&::before{
				content: '\e940';
			}
		}
		&_25{
			&::before{
				content: '\e950';
			}
		}
		&_26{
			&::before{
				content: '\e951';
			}
		}
		&_27{
			&::before{
				content: '\e952';
			}
		}
		&_28{
			&::before{
				content: '\e953';
			}
		}
		&_29{
			&::before{
				content: '\e954';
			}
		}
		&_30{
			&::before{
				content: '\e955';
			}
		}
		&_31{
			&::before{
				content: '\e956';
			}
		}
		&_32{
			&::before{
				content: '\e957';
			}
		}
		&_33{
			&::before{
				content: '\e958';
			}
		}
	}
	&__date{
		max-width: 21.6%;
		flex: 0 0 21.6%;
		color: #c9c9c9;
		font-size: 12px;
		justify-content: flex-start;
		&_time{
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0 21px 0 36px;
			position: relative;
		}
	}
	&__time{
		color: #c9c9c9;
		font-size: 12px;
		max-width: 48px;
		text-align: center;
	}
	&__value{
		color: #fff;
		font-size: 14px;
		font-weight: 600;
	}
	&__flash{
		position: absolute;
		top: 50%;
		left: 7px;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background: $color_main;
		z-index: 1;
		transform: translateY(-50%);
		&::before{
			content: '\e959';
			@include icon_fonts;
			color: #fff;
			font-size: 12px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	&__first{
		max-width: 30.7%;
		flex: 0 0 30.7%;
		justify-content: space-between;
		cursor: pointer;
		&_coeff{
			max-width: 36%;
			flex: 0 0 36%;
			padding: 0;
		}
		&.active{
			background: rgba(255,255,255,.15);
		}
	}
	&__second{
		max-width: 30.7%;
		flex: 0 0 30.7%;	
		justify-content: space-between;	
		cursor: pointer;
		&_coeff{
			max-width: 25.4%;
			flex: 0 0 25.4%;
		}
		&.active{
			background: rgba(255,255,255,.15);
		}
	}
	&__names{
		display: flex;
		justify-content: space-between;
		width: 100%;
		padding: 0 10px;
	}
	&__count{
		max-width: 7.1%;
		flex: 0 0 7.1%;
		padding: 0 5px;
	}
	&__chart{
		max-width: 4.5%;
		flex: 0 0 4.5%;
		position: relative;
		&::before{
			content: '\e95a';
			@include icon_fonts;
			color: #fff;
			font-size: 15px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		&_off{
			&::before{
				color: #767676;
			}
		}
	}
	&__wrap{
		display: flex;
		justify-content: space-between;
		height: 100%;
		align-items: center;
	}
	&__rate{
		display: flex;
		height: 100%;
		align-items: center;
		border-left: 1px solid rgba(255,255,255,.15);
		flex: 0 0 67px;
		justify-content: space-between;
		padding: 0 10px;
	}
}

.double_td{
	width: 35.3% !important;
	&+td{
		width: 26.1% !important;
	}
}

.liveBets{
	margin-bottom: 8px;
	&__header{
		padding: 8px;
		background: rgba(0,0,0,.6);
		border-top: 1px solid rgba(255,255,255,.15);
	}
	&__content{
		justify-content: space-between;
		margin: 0 -4px;
		display: flex;
		align-items: center;
	}
	&__item{
		padding: 0 4px;
	}
	&__link{
		display: block;
		background: rgba(255,255,255,.1);
		padding: 8px 8px 8px 28px;
		border-radius: 10px;
		white-space: nowrap;
		position: relative;
		text-decoration: none !important;
		transition: .4s;
		&:hover,
		&_active{
			background: $color_main;
			&::before{
				color: #fff !important;
			}
		}
		&::before{
			content: '\e939';
			@include icon_fonts;
			color: #c9c9c9;
			font-size: 17px;
			position: absolute;
			top: 48%;
			transform: translateY(-50%);
			left: 8px;
			transition: .4s;
		}
		&_1{
			&::before{
				content: '\e939';
			}
		}
		&_2{
			&::before{
				content: '\e93a';
			}
		}
		&_3{
			&::before{
				content: '\e93b';
			}
		}
		&_4{
			&::before{
				content: '\e93c';
			}
		}
		&_5{
			&::before{
				content: '\e93d';
			}
		}
		&_26{
			&::before{
				content: '\e951';
			}
		}
	}
}

.betStart{
	&__header{
		background: rgba(0,0,0,.7);
		display: flex;
		justify-content: space-between;
		border-radius: 12px 12px 0 0;
		align-items: center;
		padding: 8px 8px 8px 20px;
	}
	&__wrap{
		display: flex;
		align-items: center;
	}
	&__title{
		margin-right: 13px;
		font-size: 17px;
		text-transform: uppercase;
		font-weight: 700;
	}
	&__select{
		.custom-select{
			min-width: 99px;
			padding-top: 4px;
			width: auto;
			&__option{
				&--value{
					&:hover{
						background: none;
					}
				}
			}
		}
	}
	.sports__select{
		.custom-select{
			border: none;
			background: url(../images/select_arr2.png) right 12px center no-repeat rgba(255,255,255,.1);
			min-width: 94px;
			width: auto;
			&__option{
				&--value{
					color: #fff;
					&:hover{
						background: none;
					}
				}
			}
			&__dropdown{
				border: none;
			}
		}
	}
	&__content{
		background:rgba(0,0,0,.6);
		padding: 15px 20px 25px;
	}
	&__maintitle{
		padding-left: 25px;
		font-size: 17px;
		font-weight: 600;
		margin-bottom: 22px;
		position: relative;
		&::before{
			content: '\e939';
			@include icon_fonts;
			color: #c9c9c9;
			font-size: 17px;
			position: absolute;
			top: 48%;
			transform: translateY(-50%);
			left: 0;
		}
		&_1{
			&::before{
				content: '\e939';
			}
		}
		&_2{
			&::before{
				content: '\e93a';
			}
		}
		&_3{
			&::before{
				content: '\e93b';
			}
		}
		&_4{
			&::before{
				content: '\e93c';
			}
		}
		&_5{
			&::before{
				content: '\e93d';
			}
		}
		&_6{
			&::before{
				content: '\e93f';
			}
		}
		&_7{
			&::before{
				content: '\e940';
			}
		}
		&_8{
			&::before{
				content: '\e941';
			}
		}
		&_9{
			&::before{
				content: '\e942';
			}
		}
		&_10{
			&::before{
				content: '\e943';
			}
		}
		&_11{
			&::before{
				content: '\e944';
			}
		}
		&_12{
			&::before{
				content: '\e945';
			}
		}
		&_13{
			&::before{
				content: '\e946';
			}
		}
		&_14{
			&::before{
				content: '\e947';
			}
		}
		&_15{
			&::before{
				content: '\e948';
			}
		}
		&_16{
			&::before{
				content: '\e949';
			}
		}
		&_17{
			&::before{
				content: '\e94a';
			}
		}
		&_18{
			&::before{
				content: '\e94b';
			}
		}
		&_19{
			&::before{
				content: '\e94c';
			}
		}
		&_20{
			&::before{
				content: '\e94d';
			}
		}
		&_21{
			&::before{
				content: '\e94e';
			}
		}
		&_22{
			&::before{
				content: '\e94f';
			}
		}
		&_23{
			&::before{
				content: '\e940';
			}
		}
		&_24{
			&::before{
				content: '\e940';
			}
		}
		&_25{
			&::before{
				content: '\e950';
			}
		}
		&_26{
			&::before{
				content: '\e951';
			}
		}
		&_27{
			&::before{
				content: '\e952';
			}
		}
		&_28{
			&::before{
				content: '\e953';
			}
		}
		&_29{
			&::before{
				content: '\e954';
			}
		}
		&_30{
			&::before{
				content: '\e955';
			}
		}
		&_31{
			&::before{
				content: '\e956';
			}
		}
		&_32{
			&::before{
				content: '\e957';
			}
		}
		&_33{
			&::before{
				content: '\e958';
			}
		}
	}
	&__drops{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 0 2.5px;
	}
	&__footer{
		display: flex;
		justify-content: space-between;
		padding: 13px 21px 13px 46px;
		background: rgba(0,0,0,.7);
		font-size: 17px;
		font-weight: 600;
	}
	&__table{
		width: 100%;
		background: rgba(0,0,0,.6);
		border-radius: 0 0 12px 12px; 
		border-top: 1px solid rgba(255,255,255,.15);
		td{
			height: 41px;
			text-align: center;
			padding: 0 10px;
			border-right: 1px solid rgba(255,255,255,.15);
			border-bottom: 1px solid rgba(255,255,255,.15);
			font-weight: 600;
			span{
				color: #a6a8a9;
			}
			&:last-child{
				border-right: none;
			}
			&:nth-child(1){
				width: 17.6%;
			}
			&:nth-child(2){
				width: 37.9%;
				text-align: left;
				padding: 0 21px;
			}
			&:nth-child(3){
				width: 11.6%;
			}
			&:nth-child(4){
				width: 11.6%;
			}
			&:nth-child(5){
				width: 11.6%;
			}
			&:nth-child(6){
				position: relative;
				padding-left: 11px;
				text-align: left;
				&::before{
					content: '\e95a';
					@include icon_fonts;
					color: #fff;
					font-size: 15px;
					position: absolute;
					top: 50%;
					right: 9px;
					transform: translateY(-60%);
				}
			}
		}
		tr{
			&:last-child{
				td{
					border-bottom: none;
				}
			}
		}
	}
}