.topEvents{
	margin-bottom: 8px;
	&__item{
		list-style: none;
		position: relative;
	}
	&__link{
		font-weight: 600;
		text-decoration: none !important;
		padding: 6px 22px 6px 44px;
		display: block;
		transition: .4s;
		// &_active,
		&:hover{
			background: rgba(255,255,255,.05);
		}
	}
	&__nav{
		background: rgba(0,0,0,.6);
		padding: 10px 0;
		border-radius: 0 0 12px 12px;
		margin-bottom: 0;
	}
	&__img{
		position: absolute;
		left: 22px;
		top: 50%;
		transform: translateY(-50%);
	}
}