.games{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 35px;
	&__card{
		margin-bottom: 8px;
		position: relative;
		&_default{
			padding: 0 4px;
			max-width: 50%;
			flex: 0 0 50%;
		}
		&_horizontal{
			display: flex !important;
			.games__image{
				flex: 0 0 50%;
				max-width: 50%;
			}
			.games__body{
				border-radius: 0 12px 12px 0;
				flex: 0 0 50%;
				max-width: 50%;
				position: relative;
			}
			.games__footer{
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				margin: 0;
			}
		}
	}
	&__row{
		justify-content: space-between;
		flex-wrap: wrap;
		display: flex;
		margin: 0 -4px;
	}
	&__image{
		box-shadow: 0 6px 13px rgba(0, 0, 0, 0.2);
	}
	&__img{
		display: block;
		width: 100%;
		border-radius: 12px 12px 0 0;
		&_horizontal{
			border-radius: 12px 0 0 12px;
		}
	}
	&__body{
		box-shadow: 0 6px 13px rgba(0, 0, 0, 0.2);
		border-radius: 0 0 12px 12px;
		background-color: #24272a;
		padding: 15px 15px 0 12px;
		position: relative;
	}
	&__more{
		position: absolute;
		color: #89d100;
		position: absolute;
		top: 20px;
		right: 14px;
		font-size: 20px;
		letter-spacing: 2px;
		line-height: 0;
		height: 10px;
	}
	&__title{
		font-size: 15px;
		font-weight: 700;
		color: #89d100;
		margin-bottom: 11px;
		display: block;
		max-width: 85%;
	}
	&__description{
		color: #999999;
		line-height: 1.25;
		padding-right: 10px;
		margin-bottom: 15px;
	}
	&__footer{
		border-top: 1px solid #2d3033;
		padding: 0 15px 0 12px;
		margin: 0 -15px 0 -12px;
		display: flex;
	}
	&__like{
		padding: 10px 12px 10px 20px;
		color: #969696;
		display: block;
		position: relative;
		text-decoration: none;
		&::before{
			content: '\e902';
			@include icon_fonts;
			color: #818181;
			font-size: 14px;
			position: absolute;
			top: 49%;
			left: 0;
			transform: translateY(-50%);
		}
		&_active{
			color: #fff;
			&::before{
				color: #fff;
			}
		}
	}
	&__company{
		color: #969696;
		display: block;
		padding: 10px 12px;
		border-left: 1px solid #2d3033;
	}
	&__label{
		position: absolute;
		top: 9px;
		left: 11px;
		border-radius: 10px;
		font-size: 13px;
		font-weight: 700;
		text-transform: uppercase;
		padding: 6px 11px;
		background-color: #e13954;
		&_new{
			background: $color_main;
		}
	}
	&__bet{
		display: flex;
		margin: 0 -15px 0 -12px;
		text-align: center;
		font-size: 12px;
		font-weight: 600;
	}
	&__item{
		flex: 0 0 50%;
		max-width: 50%;
		background-color: #2d3033;
		padding: 5px;
	}
	&__betmin{
		border-right: 1px solid #24272a;
	}
	&__labeltext{
		color: #aeaeae;
		font-weight: 400;
	}
}
.lucky{
	&_row{
		display: flex !important;
		box-shadow: 0 6px 13px rgba(0, 0, 0, 0.2);
		margin-bottom: 8px;
	}
	&__image{
		flex: 0 0 31.6%;
	}
	&__body{
		box-shadow: 0 6px 13px rgba(0, 0, 0, 0.2);
		border-radius: 0 12px 12px 0;
		background-color: #24272a;
		padding: 11px 13px;
		position: relative;
		font-size: 14px;
		line-height: 1.5;
		width: 100%;
		padding-top: 23px;
	}
	&__title{
		font-weight: 700;
	}
	&__img{
		border-radius: 12px 0 0 12px;
		width: 100%;
	}
}
.winner{
	&_row{
		display: flex !important;
		box-shadow: 0 6px 13px rgba(0, 0, 0, 0.2);
		margin-bottom: 8px;
	}
	&__image{
		flex: 0 0 31.6%;
		box-shadow: 0 6px 13px rgba(0, 0, 0, 0.2);
	}
	&__description{
		box-shadow: 0 6px 13px rgba(0, 0, 0, 0.2);
		border-radius: 0 12px 12px 0;
		background-color: #24272a;
		padding: 11px 13px;
		color: #c8c8c8;
		position: relative;
		font-size: 14px;
		line-height: 1.5;
	}
	&__img{
		border-radius: 12px 0 0 12px;
		width: 100%;
	}
}
.package{
	overflow-y: auto;
	margin-bottom: 8px;
	&__content{
		display: flex;
	}
	&__row{
		flex: 0 0 252px;
		height: 152px;
		position: relative;
		box-shadow: 0 7px 17px rgba(0, 0, 0, 0.43);
		margin-right: 14px;
		text-align: center;
		background: #8045de;
		border-radius: 12px;
		&_1{
			background:transparent url('../images/package_row_1.png') left top no-repeat;
		}
	}
	&__image{
		max-width: 47px;
		margin: 0 auto;
		margin-top: 30px;
	}
	&__count{
		position: absolute;
		top: 15px;
		right: 15px;
		border-radius: 10px;
		background: rgba(255,255,255,.2);
		font-size: 14px;
		padding: 5px 8px;
	}
	&__title{
		font-size: 18px;
		font-weight: 700;
		margin-bottom: 5px;
		padding-top: 8px;
	}
	&__text{
		font-size: 14px;
	}
}

.myGame{
	text-align: center;
	padding: 85px 15px 220px;
	&__title{
		font-size: 24px;
		font-weight: 600;
		margin-bottom: 10px;
		padding-top: 70px;
		position: relative;
		&::before{
			content: '\e902';
			@include icon_fonts;
			font-size: 56px;
			color: #2d3236;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	&__text{
		color: #969696;
		max-width: 150px;
		margin: 0 auto;
		line-height: 1.5;
		font-size: 14px;
	}
}