.casino{
	&__header{
		box-shadow: 0 13px 13px rgba(0, 0, 0, 0.35);
		border-radius: 12px 12px 0 0;
		background: $color_main;
		display: flex;
		padding: 8px;
		justify-content: space-between;
	}
	&__item{
		text-transform: uppercase;
		font-size: 17px;
		font-weight: 600;
		padding: 7px 17px;
		border-radius: 12px;
		transition: .4s;
		&:hover{
			text-decoration: none;
			background: $color_hover;
		}
		&_active{
			background: $color_active;
			&:hover{
				background: $color_active;
			}
		}
	}
	&__tabs{
		max-width: 850px;
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
	&__content{
		box-shadow: 0 7px 17px rgba(0, 0, 0, 0.43);
		display: flex;
		background: rgba(0,0,0,.6);
		border-radius: 0 0 12px 12px;
		margin-bottom: 35px;
		&_other{
			display: block;
		}
	}
	&__sidebar{
		max-width: 310px;
		flex: 0 0 310px;
		background: rgba(0,0,0,.25);
		border-radius: 12px 0 0 12px;
	}
	&__main{
		padding: 32px 30px 25px;
		&_live{
			padding-top: 24px;
		}
	}
}

.form{
	&_search{
		position: relative;
	}
	&__item{
		&_search{
			position: relative;
			margin-left: 0;
		}
	}
	&__text{
		&_search{
			height: 36px;
			width: 221px;
			background-color: #1b1f1e;
			padding-right: 35px;
		}
	}
	&__actions{
		&_search{
			position: absolute;
			top: 50%;
			right: 14px;
			transform: translateY(-50%);
			width: 13px;
			height: 13px;
			&:hover{
				&::after{
					color: #fff;
				}
			}
			&::after{
				content: '\f002';
				color: #aaaaab;
				opacity: .88;
				font-size: 14px;
				font-family: 'FontAwesome';
				position: absolute;
				top: -3px;
				left: 0;
				transition: .4s;
			}
		}
	}
	&__submit{
		&_search{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			text-indent: -9999px;
			border: none;
			background: none;
			z-index: 5;
		}
	}
}

.categoriesBlock{
	&_bundles{
		margin-bottom: 35px;
	}
	&__maintitle{
		font-size: 17px;
		text-transform: uppercase;
		font-weight: 700;
		color: #5c5e62;
		position: relative;
		padding: 22px 15px 22px 69px;
		&_creator{
			&::before{
				@include icon_fonts;
				content: '\e913';
				color: #56575b;
				font-size: 25px;
				position: absolute;
				top: 50%;
				left: 25px;
				transform: translateY(-50%);
			}
		}
		&_bundles{
			&::before{
				@include icon_fonts;
				content: '\e901';
				color: #56575b;
				font-size: 29px;
				position: absolute;
				top: 50%;
				left: 25px;
				transform: translateY(-50%);
			}
		}
	}
	&__item{
		border-top: 1px solid rgba(255,255,255,.15);
		padding: 8px 20px 10px 22px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		transition: .4s;
		&:last-child{
			border-bottom: 1px solid rgba(255,255,255,.15);
		}
		&:hover{
			text-decoration: none;
			background: rgba(255,255,255,.05);
			opacity: 1 !important;
		}
		&_active{
			background: rgba(255,255,255,.05);
			opacity: 1 !important;
			.categoriesBlock{
				&__count{
					opacity: 1;
					padding: 1.5px 11px;
					background: $color_main;
					border-radius: 10px;
					display: inline-block;
				}
			}
		}
	}
	&__body{
		display: flex;
		align-items: center;
		width: 80%;
	}
	&__image{
		flex: 0 0 50px;
	}
	&__title{
		font-size: 17px;
		font-weight: 600;
	}
	&__count{
		font-weight: 700;
		font-size: 17px;
		color: #fff;
		opacity: .5;
		padding: 1.5px 11px;
		margin-right: -11px;
	}
	&_inner{
		.categoriesBlock__item{
			opacity: .6;
		}
	}
	&__show{
		color: #89d100;
		font-size: 14px;
		text-transform: none;
		font-weight: 400;
		position: absolute;
		top: 50%;
		right: 20px;
		transform: translateY(-50%);
		&:hover{
			text-decoration: underline;
			color: $color_hover;
		}
	}
}

.cube{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 25px;
	width: 22px;
	height: 22px;
	&__item{
		text-indent: -9999px;
		width: 8px;
		height: 8px;
		background: rgba(255,255,255,.3);
		position: absolute;
		&:nth-child(1){
			top: 0;
			left: 0;
		}
		&:nth-child(2){
			top: 0;
			right: 0;
		}
		&:nth-child(3){
			bottom: 0;
			left: 0;
		}
		&:nth-child(4){
			bottom: 0;
			right: 0;
		}
	}
}

.hitJackpot{
	padding: 25px 20px 30px;
	&__maintitle{
		font-size: 20px;
		font-weight: 700;
		margin-bottom: 24px;
		letter-spacing: .7px;
	}
	&__content{
		display: flex;
		&:hover{
			text-decoration: none;
		}
	}
	&__image{
		flex: 0 0 65px;
		margin-right: 20px;
		box-shadow: 0 7px 13px rgba(0, 0, 0, 0.43);
	}
	&__img{
		border-radius: 12px;
		display: block;
	}
	&__money{
		font-size: 25px;
		font-weight: 700;
		display: block;
		line-height: 1;
		margin-bottom: 1px;
	}
	&__title{
		font-weight: 600;
		font-size: 17px;
		color: $color_main;
		display: block;
	}

	&__category{
		color: #999999;
	}
}

.news{
	padding: 0 20px 20px;
	&__maintitle{
		font-size: 20px;
		font-weight: 700;
		margin-bottom: 23px;
	}
	&__row{
		display: flex;
		margin-bottom: 9px;
	}
	&__image{
		max-width: 37px;
		flex: 0 0 37px;
		margin-right: 27px;
	}
	&__img{
		display: block;
	}
	&__date{
		color: #999999;
	}
	&__link{
		font-size: 17px;
		font-weight: 600;
		color: $color_main;
		transition: .4s;
		&:hover{
			color: $color_hover;
			text-decoration: none;
		}
	}
}

.games{
	&_bundles{
		padding-top: 10px;
	}
	&__maintitle{
		font-size: 20px;
		font-weight: 700;
		padding-left: 43px;
		margin-bottom: 24px;
		position: relative;
		letter-spacing: 1px;
		&_recommended{
			&::after{
				@include icon_fonts;
				content: '\e900';
				display: block;
				font-size: 22px;
				position: absolute;
				top: 0;
				left: 2px;
				color: #f8c806;
			}
		}
		&_bundles{
			margin-bottom: 30px;
			&::after{
				@include icon_fonts;
				content: '\e901';
				display: block;
				font-size: 25px;
				position: absolute;
				top: 0;
				left: 2px;
				color: $color_main;
			}
		}
	}
	&__content{
		display: flex;
		flex-wrap: wrap;
		margin: 0 -9px;
	}
	&__image{
		margin-bottom: 10px;

	}
	&__link{
		background: #000;
		border-radius: 12px;
		overflow: hidden;
		position: relative;
		display: block;
		display: table;
		&::after{
			content: '';
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			background: #000;
			top: 0;
			left: 0;
			opacity: 0;
			transition: .4s;
		}
		&:hover{
			&::after{
				opacity: .3;
			}
		}
	}
	&__img{
		transition: .4s;
	}
	&__card{
		flex: 0 0 20%;
		padding: 0 9px;
		margin-bottom: 36px;
		position: relative;
	}
	&__title{
		font-size: 17px;
		font-weight: 600;
		color: $color_main;
		transition: .4s;
		&:hover{
			color: $color_hover;
			text-decoration: none;
		}
	}
	&__phone{
		position: absolute;
		top: 10px;
		right: 19px;
		width: 27px;
		height: 28px;
		border-radius: 10px;
		background-color: rgba(108,108,108, .6);
		&::after{
			@include icon_fonts;
			content: '\e906';
			display: block;
			font-size: 22px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			color: #fff;
			font-size: 17px;
		}
	}
	&__label{
		position: absolute;
		top: 10px;
		left: 19px;
		border-radius: 10px;
		font-size: 13px;
		font-weight: 700;
		text-transform: uppercase;
		padding: 6px 11px;
		background-color: #e13954;
		&_new{
			background: $color_main;
		}
	}
	&__rate{
		width: 27px;
		height: 28px;
		border-radius: 10px;
		background-color: #0779d1;
		position: absolute;
		top: 10px;
		right: 19px;
		font-size: 13px;
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
		line-height: 28px;
	}
	&__bet{
		display: flex;
		text-align: center;
		font-size: 12px;
		font-weight: 600;
		border-radius: 12px;
		overflow: hidden;
		margin-top: 11px;
	}
	&__item{
		flex: 0 0 50%;
		max-width: 50%;
		background-color: #2d3033;
		padding: 5px;
	}
	&__betmin{
		border-right: 1px solid rgba(255,255,255,.05);
	}
	&__labeltext{
		color: #aeaeae;
		font-weight: 400;
	}
	&_live{
		.games__card{
			margin-bottom: 46px;
		}
	}
}

.loveBlock{
	padding-top: 12px;
	&__maintitle{
		font-size: 20px;
		font-weight: 700;
		padding-left: 43px;
		margin-bottom: 33px;
		position: relative;
		&::after{
			@include icon_fonts;
			content: '\e902';
			display: block;
			font-size: 23px;
			position: absolute;
			top: 0;
			left: 0;
			color: $color_main;
		}
	}	
	&__nav{
		display: flex;
		margin-bottom: 20px;
	}
	&__item{
		font-size: 16px;
		font-weight: 600;
		padding: 9px 14px;
		border-radius: 12px;
		background: rgba(255,255,255,.1);
		margin-right: 13px;
		transition: .4s;
		cursor: pointer;
		&:hover{
			background: $color_hover;
		}
		&.active{
			background: $color_main;
		}
	}
}

.tab{
	display: none;
	&.active{
		display: block;
	}
	&__header{
		display: flex;
		flex-wrap: wrap;
	}
	&__row{
		display: flex;
		flex-wrap: wrap;	
		margin-bottom: 8px;
		align-items: center;
	}
	&__item{
		width: 30%;
		padding-right: 15px;
		&_header{
			font-size: 17px;
			font-weight: 600;
			text-transform: uppercase;
			margin-bottom: 12px;
		}
		&:first-child{
			width: 30.5%;
		}
		&:nth-child(2){
			width: 24.2%;
		}
		&_love{
			color: #989898;
			font-size: 17px;
			padding-left: 24px;
			position: relative;
			&::after{
				@include icon_fonts;
				content: '\e902';
				display: block;
				font-size: 13px;
				position: absolute;
				top: 47%;
				left: 0;
				transform: translateY(-50%);
			}
		}
	}
	&__btn{
		color: #fff;
		font-size: 13px;
		padding: 2px 10px 3px 31px;
		position: relative;
		border-radius: 10px;
		background: $color_main;
		display: table;
		transition: .4s;
		cursor: pointer;
		&:hover{
			background: $color_hover;
		}
		&::after{
			@include icon_fonts;
			content: '\e902';
			display: block;
			font-size: 13px;
			position: absolute;
			top: 47%;
			left: 7px;
			transform: translateY(-50%);
		}
	}
	&__link{
		color: $color_main;
		font-size: 17px;
		font-weight: 600;
		&:hover{
			text-decoration: none;
			color: $color_hover;
		}
	}
	&__count{
		color: #989898;
		width: 26px;
		padding-right: 5px;
		display: inline-block;
		font-weight: 400;
		position: relative;
	}
}

.sort{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 23px;
	&__title{
		font-size: 20px;
		font-weight: 700;
	}
	&__filter{
		display: flex;
		align-items: center;
	}
	&__label{
		color: #aeaeae;
		font-size: 17px;
		margin-right: 14px;
	}
	.custom-select{
		padding-top: 5px;
	}
}

.custom-select{
	box-shadow: 0 7px 17px rgba(0, 0, 0, 0.43);
	background: transparent url('../images/select_arr.png') right 12px center no-repeat;
	border-radius: 12px;
	border: 1px solid #73af00;
	height: 34px;
	color: #fff;
	width: 124px;
	font-size: 15px;
	cursor: pointer;
	*{
		outline: none !important;
	}
	&__dropdown{
		z-index: 10;
		min-width: 148px;
		border: 1px solid $color_main;
		border-radius: 12px;
		background-color: #151717;
		top: calc(100% + 4px);
		overflow: hidden;
	}
	&__option{
		color: #a8aaa6;
		padding: 8px 14px;
		transition: .4s;
		&:hover{
			background-color: #1b1f1e;
		}
		&--value{
			color: #89d100;
			padding: 0px;
			background-color: transparent !important;
		}
	}
}

.loader{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 58px;
	&__item{
		width: 48px;
		height: 48px;
		border: 4px solid $color_main;
		border-left: 4px solid #6a6a6a;
		border-radius: 100%;
		animation: rotate 0.7s linear infinite;
	}
	&__text{
		color: #838383;
		font-size: 20px;
		font-weight: 700;
		margin-left: 25px;
	}
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}