//= templates/head.html
<div class="wrapper front casino_page">
	<div class="wrapper__content">
		<header class="header">
			<div class="header__content container">
				<div class="menuBtn">
					<div class="menuBtn__item menuBtn__item_1"></div>
					<div class="menuBtn__item menuBtn__item_2"></div>
					<div class="menuBtn__item menuBtn__item_3"></div>
				</div>
				<div class="header__title">Betting</div>
				<div class="header__user">
					<a href="#" class="header__pay"></a>
					<a href="#" class="header__cabinet"></a>
				</div>
			</div> 
		</header>
		<div class="middle clearfix">
			<div class="bettingSlip">
				<div class="container">
					<div class="bettingSlip__header">
						<h2 class="bettingSlip__title">Bet Slip</h2>
						<div class="bettingSlip__close bettingSlip__close__all"></div>
					</div>
					<div class="bettingSlip__body">
						<div class="bettingSlip__btns">
							<a href="#" class="bettingSlip__link bettingSlip__link_active">Single Bets</a>
							<a href="#" class="bettingSlip__link">Combo</a>
						</div>
						<div class="bettingSlip__game">
							<div class="bettingSlip__wrapper">
								<div class="bettingSlip__wrap">
									<div class="bettingSlip__close bettingSlip__close_delete"></div>
								</div>
								<div class="bettingSlip__points">
									<h3 class="bettingSlip__items">Man City @ <span class="bettingSlip__point">-440</span></h3>
									<p class="bettingSlip__item">Elina Svitolina - Caroline Garcia</p>
									<p class="bettingSlip__item">1X2 Full Time</p>
								</div>
							</div>
								<div class="bettingSlip__numerators">
									<div class="bettingSlip__icon-minus"></div>
									<input type="text" class="bettingSlip__numerator" value="10">
									<div class="bettingSlip__icon-plus"></div>
								</div>
						</div>
						<div class="bettingSlip__game">
							<div class="bettingSlip__wrapper">
								<div class="bettingSlip__wrap">
									<div class="bettingSlip__close bettingSlip__close_delete"></div>
								</div>
								<div class="bettingSlip__points">
									<h3 class="bettingSlip__items">Man City @ <span class="bettingSlip__point">-440</span></h3>
									<p class="bettingSlip__item">Elina Svitolina - Caroline Garcia</p>
									<p class="bettingSlip__item">1X2 Full Time</p>
								</div>
							</div>
								<div class="bettingSlip__numerators">
									<div class="bettingSlip__icon-minus"></div>
									<input type="text" class="bettingSlip__numerator" value="0">
									<div class="bettingSlip__icon-plus"></div>
								</div>
						</div>
						<div class="bettingSlip__counter bettingSlip__counter_first">
							<span class="bettingSlip__stake">Stake per bet</span>
								<div class="bettingSlip__numerators">
									<div class="bettingSlip__icon-minus"></div>
									<input type="text" class="bettingSlip__numerator" value="0">
									<div class="bettingSlip__icon-plus"></div>
								</div>
						</div>
						<div class="bettingSlip__counter">
							<span class="bettingSlip__stake">Number of bets</span>
							<span class="bettingSlip__marks">1</span>
						</div>
						<div class="bettingSlip__counter">
							<span class="bettingSlip__stake">Stake</span>
							<span class="bettingSlip__marks">10</span>
						</div>
						<div class="bettingSlip__counter">
							<span class="bettingSlip__stake">Potential Winnings</span>
							<span class="bettingSlip__marks">19</span>
						</div>
						<div class="bettingSlip__footer-btn">
							<a href="#" class="bettingSlip__place">Place bets</a>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	//= templates/footer2.html
</div>
</body>
</html>
