//= templates/head.html
	<div class="wrapper not_front page_landing page_landing_login">
		<div class="wrapper__content">
			<div class="middle middle_step clearfix">
				<div class="deposit">
					<!-- <div class="deposit__close"></div> -->
					<div class="deposit__logo deposit__logo_with">
						<a href="#" class="deposit__link"><img src="../images/easybet_logo.svg" alt="" class="deposit__img"></a>
						<div class="landingSteps">
							<div class="landingSteps__item landingSteps__item_1 landingSteps__item_active"><span>Account</span></div>
							<div class="landingSteps__item landingSteps__item_2"><span>Edit</span></div>
							<div class="landingSteps__item landingSteps__item_3"><span>Bonus</span></div>
							<div class="landingSteps__item landingSteps__item_4"><span>Play</span></div>
						</div>
					</div>
					<div class="landing">
						<div class="landing__offer"></div>
						<div class="landing__content">
							<div class="landing_login landing_step1">
								<form action="#" class="form deposit__form">
									<div class="deposit__item">
										<input type="text" class="deposit__input" placeholder="Username">
									</div>
									<div class="deposit__item">
										<input type="email" class="deposit__input" placeholder="E-mail">
									</div>
									<div class="deposit__item">
										<input type="password" class="deposit__input" placeholder="Password">
									</div>
									<div class="deposit__item">
										<input type="password" class="deposit__input" placeholder="Password again">
									</div>
									<div class="deposit__actions deposit__actions_pass">
										<input type="submit" class="deposit__submit deposit__submit_pass" value="Continue">
									</div>
									<a href="#" class="landing__later">Register later</a>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
			<footer class="footer clearfix">
				<div class="footer_content container">
					<div class="footer__nav">
						<div class="footer_wrap">
							<div class="languageBlock_wrap">
								<div class="languageBlock">
									<div class="languageBlock__selected">
										<div class="languageBlock__body">
											<span class="languageBlock__image languageBlock__image_footer">
												<img class="languageBlock__img" src="../images/ng.svg" alt="">
											</span>
											<span class="languageBlock__text">Nigeria</span>
										</div>
										<i class="languageBlock__icon fa fa-caret-down " aria-hidden="true"></i>
									</div>
									<div class="languageBlock__drop languageBlock__drop_footer">
										<div class="languageBlock__item languageBlock__item_footer">
											<span class="languageBlock__image languageBlock__image_footer">
												<img class="languageBlock__img" src="../images/ng.svg" alt="">
											</span>
											<span class="languageBlock__text">Nigeria</span>
										</div>
										<!-- <div class="languageBlock__item languageBlock__item_footer">
											<span class="languageBlock__image languageBlock__image_footer">
												<img class="languageBlock__img" src="../images/EN.svg" alt="">
											</span>
											<span class="languageBlock__text">English</span>
										</div> -->
									</div>
								</div>
							</div>
							<div class="socials_wrap">
								<div class="socials">
									<a href="#" class="socials__link">Facebook</a>
									<a href="#" class="socials__link">Twitter</a>
									<a href="#" class="socials__link">Instagram</a>
								</div>
							</div>
						</div>
						<div class="footer__menu">
							<a href="#" class="footer__item">18+</a>
							<a href="#" class="footer__item">About us</a>
							<a href="#" class="footer__item">Support</a>
						</div>
					</div>
				</div>
			</footer>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="../js/slick.min.js"></script>
		<script src="../js/jquery.custom-select.min.js"></script>
		<script src="../js/password-score.js"></script>
		<script src="../js/password-score-options.js"></script>
		<script src="../js/check-pass.js"></script>
		<script src="../js/jquery.livequery.min.js"></script>
		<script src="../js/jquery.mCustomScrollbar.concat.min.js"></script>
		<script src="../js/main_mob.js"></script>

	</div>
</body>
</html>
