//= templates/head.html
	<div class="wrapper not_front page_landing page_landing_main">
		<div class="wrapper__content">
			<div class="middle clearfix">
				<div class="deposit">
					<div class="deposit__logo deposit__logo_with">
						<a href="#" class="deposit__link"><img src="../images/easybet_logo.svg" alt="" class="deposit__img"></a>
					</div>
					<div class="landing">
						<div class="landing__content">
							<div class="nav_wrap">
								<div class="landing_menu_btn">
									<div class="nav_btn">
										<div class="nav_item"></div>
										<div class="nav_item"></div>
										<div class="nav_item"></div>
									</div>
									Open Menu
								</div>
								<nav class="landing__nav">
									<div class="landing__item"><a href="" class="landing__link">Sports</a></div>
									<div class="landing__item"><a href="" class="landing__link">Live Betting</a></div>
									<div class="landing__item"><a href="" class="landing__link">Virtual Sports</a></div>
									<!-- <div class="landing__item"><a href="" class="landing__link">Colossus</a></div> -->
									<div class="landing__item"><a href="" class="landing__link">Casino</a></div>
									<div class="landing__item"><a href="" class="landing__link">Live Casino</a></div>
									<div class="landing__item"><a href="" class="landing__link">Live Games</a></div>
									<div class="landing__item"><a href="" class="landing__link">Promotions</a></div>
								</nav>
							</div>
							<div class="landing__center">
								<h1 class="landing__title">
									<p><strong>SPORTS</strong></p>
									<p>AND</p>
									<p><strong>CASINO</strong></p>
								</h1>
								<div class="landing__text">€25 free bet, €100 sports bonus and €100 casino bonus!</div>
								<a href="#" class="landing__btn">Open Free Account</a>
								<div class="landing__description">Already a member? <a href="#">Log in here</a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer class="footer clearfix">
			<div class="footer_content container">
				<div class="footer__nav">
					<div class="footer_wrap">
						<div class="languageBlock_wrap">
							<div class="languageBlock">
								<div class="languageBlock__selected">
									<div class="languageBlock__body">
										<span class="languageBlock__image languageBlock__image_footer">
											<img class="languageBlock__img" src="../images/ng.svg" alt="">
										</span>
										<span class="languageBlock__text">Nigeria</span>
									</div>
									<i class="languageBlock__icon fa fa-caret-down " aria-hidden="true"></i>
								</div>
								<div class="languageBlock__drop languageBlock__drop_footer">
									<div class="languageBlock__item languageBlock__item_footer">
										<span class="languageBlock__image languageBlock__image_footer">
											<img class="languageBlock__img" src="../images/ng.svg" alt="">
										</span>
										<span class="languageBlock__text">Nigeria</span>
									</div>
									<!-- <div class="languageBlock__item languageBlock__item_footer">
										<span class="languageBlock__image languageBlock__image_footer">
											<img class="languageBlock__img" src="../images/EN.svg" alt="">
										</span>
										<span class="languageBlock__text">English</span>
									</div> -->
								</div>
							</div>
						</div>
						<div class="socials_wrap">
							<div class="socials">
								<a href="#" class="socials__link">Facebook</a>
								<a href="#" class="socials__link">Twitter</a>
								<a href="#" class="socials__link">Instagram</a>
							</div>
						</div>
					</div>
					<div class="footer__menu">
						<a href="#" class="footer__item">18+</a>
						<a href="#" class="footer__item">About us</a>
						<a href="#" class="footer__item">Support</a>
					</div>
				</div>
			</div>
		</footer>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="../js/slick.min.js"></script>
	<script src="../js/jquery.custom-select.min.js"></script>
	<script src="../js/password-score.js"></script>
	<script src="../js/password-score-options.js"></script>
	<script src="../js/check-pass.js"></script>
	<script src="../js/jquery.livequery.min.js"></script>
	<script src="../js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="../js/main_mob.js"></script>

	</div>
</body>
</html>
