//= templates/head.html
	<div class="wrapper not_front page_landing page_landing_login">
		<div class="wrapper__content">
			<div class="middle middle_step clearfix">
				<div class="deposit">
					<!-- <div class="deposit__close"></div> -->
					<div class="deposit__logo deposit__logo_with">
						<a href="#" class="deposit__link"><img src="../images/easybet_logo.svg" alt="" class="deposit__img"></a>
						<div class="landingSteps">
								<div class="landingSteps__item landingSteps__item_1 landingSteps__item_done"><span>Account</span></div>
								<div class="landingSteps__item landingSteps__item_2 landingSteps__item_active"><span>Edit</span></div>
								<div class="landingSteps__item landingSteps__item_3"><span>Bonus</span></div>
								<div class="landingSteps__item landingSteps__item_4"><span>Play</span></div>
							</div>
					</div>
					<div class="landing">
						<div class="landing__offer"></div>
						<div class="landing__content">
							
							<div class="landing_login landing_step2">
								<form action="#" class="form deposit__form">
									<h1 class="deposit__title"><a href="#" class="back_step">Back</a>Fill in your details</h1>
									<div class="deposit__item">
										<input type="text" class="deposit__input" placeholder="First Name">
									</div>
									<div class="deposit__item">
										<input type="text" class="deposit__input" placeholder="Surname">
									</div>
									<div class="deposit__row deposit__row_2">
										<div class="deposit__select_item step2__year">
											<select class="deposit__item deposit__item_select">
												<option value="1989" selected>YYYY</option>
												<option value="1989">1989</option>
												<option value="1990">1990</option>
												<option value="1991">1991</option>
												<option value="1992">1992</option>
												<option value="1993">1993</option>
												<option value="1994">1994</option>
												<option value="1995">1995</option>
												<option value="1996">1996</option>
												<option value="1997">1997</option>
												<option value="1998">1998</option>
											</select>
										</div>
										<div class="deposit__select_item step2__month">
											<select class="deposit__item deposit__item_select">
												<option value="1" selected>MM</option>
												<option value="1">1</option>
												<option value="2">2</option>
												<option value="3">3</option>
												<option value="4">4</option>
												<option value="5">5</option>
												<option value="6">6</option>
												<option value="7">7</option>
												<option value="8">8</option>
												<option value="9">9</option>
												<option value="10">10</option>
												<option value="11">11</option>
												<option value="12">12</option>
											</select>
										</div>
										<div class="deposit__select_item step2__day">
											<select class="deposit__item deposit__item_select">
												<option value="1" selected>DD</option>
												<option value="1">1</option>
												<option value="2">2</option>
												<option value="3">3</option>
												<option value="4">4</option>
												<option value="5">5</option>
												<option value="6">6</option>
												<option value="7">7</option>
												<option value="8">8</option>
												<option value="9">9</option>
												<option value="10">10</option>
												<option value="11">11</option>
												<option value="12">12</option>
											</select>
										</div>
									</div>
									<div class="deposit__row deposit__row_3">
										<div class="deposit__radios">
											<div class="deposit__radio_item">
												<input type="radio" class="deposit__radio" id="male" name="male" checked>
												<label for="male" class="deposit_label">Male</label>
											</div>
											<div class="deposit__radio_item">
												<input type="radio" class="deposit__radio" id="famale" name="male">
												<label for="famale" class="deposit_label">Female</label>
											</div>
										</div>
									</div>
									<div class="deposit__row deposit__row_4">
										<input type="text" class="deposit__input deposit__address" placeholder="Address">
									</div>
									<div class="deposit__row deposit__row_5">
										<input type="text" class="deposit__input deposit__postcode" placeholder="Post Code">
										<input type="text" class="deposit__input deposit__city" placeholder="City">
									</div>
									<div class="deposit__row deposit__row_6">
										<div class="deposit__select_item step2__country">
											<select class="deposit__item deposit__item_select">
												<option value="UKRAINE" selected>UKRAINE</option>
												<option value="USA">USA</option>
											</select>
										</div>
										<div class="deposit__select_item step2__currency">
											<select class="deposit__item deposit__item_select">
												<option value="USD" selected>USD</option>
												<option value="UAH">UAH</option>
												<option value="EUR">EUR</option>
											</select>
										</div>
									</div>
									<div class="phone_field">
										<div class="field_prefix">+380</div>
										<input type="text" class="deposit__input deposit__phone" placeholder="Phone number">
									</div>
									<div class="terms_link">I have read and accepted the Terms. <a href="#">Terms and Conditions</a></div>
									<div class="deposit__actions">
										<input type="submit" class="deposit__submit" value="Open Account">
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
			<footer class="footer clearfix">
				<div class="footer_content container">
					<div class="footer__nav">
						<div class="footer_wrap">
							<div class="languageBlock_wrap">
								<div class="languageBlock">
									<div class="languageBlock__selected">
										<div class="languageBlock__body">
											<span class="languageBlock__image languageBlock__image_footer">
												<img class="languageBlock__img" src="../images/ng.svg" alt="">
											</span>
											<span class="languageBlock__text">Nigeria</span>
										</div>
										<i class="languageBlock__icon fa fa-caret-down " aria-hidden="true"></i>
									</div>
									<div class="languageBlock__drop languageBlock__drop_footer">
										<div class="languageBlock__item languageBlock__item_footer">
											<span class="languageBlock__image languageBlock__image_footer">
												<img class="languageBlock__img" src="../images/ng.svg" alt="">
											</span>
											<span class="languageBlock__text">Nigeria</span>
										</div>
										<!-- <div class="languageBlock__item languageBlock__item_footer">
											<span class="languageBlock__image languageBlock__image_footer">
												<img class="languageBlock__img" src="../images/EN.svg" alt="">
											</span>
											<span class="languageBlock__text">English</span>
										</div> -->
									</div>
								</div>
							</div>
							<div class="socials_wrap">
								<div class="socials">
									<a href="#" class="socials__link">Facebook</a>
									<a href="#" class="socials__link">Twitter</a>
									<a href="#" class="socials__link">Instagram</a>
								</div>
							</div>
						</div>
						<div class="footer__menu">
							<a href="#" class="footer__item">18+</a>
							<a href="#" class="footer__item">About us</a>
							<a href="#" class="footer__item">Support</a>
						</div>
					</div>
				</div>
			</footer>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="../js/slick.min.js"></script>
		<script src="../js/jquery.custom-select.min.js"></script>
		<script src="../js/password-score.js"></script>
		<script src="../js/password-score-options.js"></script>
		<script src="../js/check-pass.js"></script>
		<script src="../js/jquery.livequery.min.js"></script>
		<script src="../js/jquery.mCustomScrollbar.concat.min.js"></script>
		<script src="../js/main_mob.js"></script>

	</div>
</body>
</html>
