//= templates/head.html
	<div class="wrapper not_front page_landing page_landing_login">
		<div class="wrapper__content">
			<div class="middle middle_step clearfix">
				<div class="deposit">
					<!-- <div class="deposit__close"></div> -->
					<div class="deposit__logo deposit__logo_with">
						<a href="#" class="deposit__link"><img src="../images/easybet_logo.svg" alt="" class="deposit__img"></a>
						<div class="landingSteps">
							<div class="landingSteps__item landingSteps__item_1 landingSteps__item_done"><span>Account</span></div>
							<div class="landingSteps__item landingSteps__item_2 landingSteps__item_done"><span>Edit</span></div>
							<div class="landingSteps__item landingSteps__item_3 landingSteps__item_done"><span>Bonus</span></div>
							<div class="landingSteps__item landingSteps__item_4 landingSteps__item_active"><span>Play</span></div>
						</div>
					</div>
					<div class="landing">
						<div class="landing__content">
							<div class="landing_step4">
								<div class="deposit__form">
									<h1 class="deposit__title">No deposit was made</h1>
									<div class="deposit__text">You chose to not make a deposit right now so just select where you'd like to go next.</div>
									<div class="step_balance">Your Balance: <span>0</span></div>
									<div class="deposit__subtitle">Where do you want to go?</div>
									<a href="#" class="step_btn">Sports</a>
									<a href="#" class="step_btn">Live Betting</a>
									<a href="#" class="step_btn">Casino</a>
									<a href="#" class="step_btn">Live Casino</a>
									<a href="#" class="account_link">My Account</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
			<footer class="footer clearfix">
				<div class="footer_content container">
					<div class="footer__nav">
						<div class="footer_wrap">
							<div class="languageBlock_wrap">
								<div class="languageBlock">
									<div class="languageBlock__selected">
										<div class="languageBlock__body">
											<span class="languageBlock__image languageBlock__image_footer">
												<img class="languageBlock__img" src="../images/ng.svg" alt="">
											</span>
											<span class="languageBlock__text">Nigeria</span>
										</div>
										<i class="languageBlock__icon fa fa-caret-down " aria-hidden="true"></i>
									</div>
									<div class="languageBlock__drop languageBlock__drop_footer">
										<div class="languageBlock__item languageBlock__item_footer">
											<span class="languageBlock__image languageBlock__image_footer">
												<img class="languageBlock__img" src="../images/ng.svg" alt="">
											</span>
											<span class="languageBlock__text">Nigeria</span>
										</div>
										<!-- <div class="languageBlock__item languageBlock__item_footer">
											<span class="languageBlock__image languageBlock__image_footer">
												<img class="languageBlock__img" src="../images/EN.svg" alt="">
											</span>
											<span class="languageBlock__text">English</span>
										</div> -->
									</div>
								</div>
							</div>
							<div class="socials_wrap">
								<div class="socials">
									<a href="#" class="socials__link">Facebook</a>
									<a href="#" class="socials__link">Twitter</a>
									<a href="#" class="socials__link">Instagram</a>
								</div>
							</div>
						</div>
						<div class="footer__menu">
							<a href="#" class="footer__item">18+</a>
							<a href="#" class="footer__item">About us</a>
							<a href="#" class="footer__item">Support</a>
						</div>
					</div>
				</div>
			</footer>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="../js/slick.min.js"></script>
		<script src="../js/jquery.custom-select.min.js"></script>
		<script src="../js/password-score.js"></script>
		<script src="../js/password-score-options.js"></script>
		<script src="../js/check-pass.js"></script>
		<script src="../js/jquery.livequery.min.js"></script>
		<script src="../js/jquery.mCustomScrollbar.concat.min.js"></script>
		<script src="../js/main_mob.js"></script>

	</div>
</body>
</html>
