//= templates/head.html
	<div class="wrapper casino_page casino_live_page">
		<div class="wrapper__content">
			<header class="header">
				<div class="header__content container">
					<div class="menuBtn">
						<div class="menuBtn__item menuBtn__item_1"></div>
						<div class="menuBtn__item menuBtn__item_2"></div>
						<div class="menuBtn__item menuBtn__item_3"></div>
					</div>
					<div class="header__title">Live Casino</div>
					<div class="header__user">
						<a href="#" class="header__login">Log in</a>
					</div>
				</div>
			</header>
			<div class="middle clearfix">
				<div class="games games_rows"><div class="container">
						<div class="games__row">
							<div class="games__card games__card_default">
								<div class="games__label games__label_hot">Hot</div>
								<div class="games__image">
									<img src="../images/mob_2.png" alt="" class="games__img">
								</div>
								<div class="games__body">
									<div class="games__more">...</div>
									<a href="#" class="games__title">Planet of the Apes</a>
									<div class="games__bet">
										<div class="games__item games__betmin">
											<div class="games__labeltext">Min. bet: </div>
											<div class="games__value">1$</div>
										</div>
										<div class="games__item games__betmax">
											<div class="games__labeltext">Max. bet:</div>
											<div class="games__value">100,000$</div>
										</div>
									</div>
									<div class="games__footer">
										<a href="#" class="games__like games__like_active">526</a>
										<a href="#" class="games__company">Thunderkick</a>
									</div>
								</div>
							</div>
							<div class="games__card games__card_default">
								<div class="games__image">
									<img src="../images/mob_3.png" alt="" class="games__img">
								</div>
								<div class="games__body">
									<div class="games__more">...</div>
									<a href="#" class="games__title">Planet of the Apes</a>
									<div class="games__bet">
										<div class="games__item games__betmin">
											<div class="games__labeltext">Min. bet: </div>
											<div class="games__value">1$</div>
										</div>
										<div class="games__item games__betmax">
											<div class="games__labeltext">Max. bet:</div>
											<div class="games__value">100,000$</div>
										</div>
									</div>
									<div class="games__footer">
										<a href="#" class="games__like games__like_active">526</a>
										<a href="#" class="games__company">Thunderkick</a>
									</div>
								</div>
							</div>
							<div class="games__card games__card_default">
								<div class="games__label games__label_hot">Hot</div>
								<div class="games__image">
									<img src="../images/mob_5.png" alt="" class="games__img">
								</div>
								<div class="games__body">
									<div class="games__more">...</div>
									<a href="#" class="games__title">Planet of the Apes</a>
									<div class="games__bet">
										<div class="games__item games__betmin">
											<div class="games__labeltext">Min. bet: </div>
											<div class="games__value">1$</div>
										</div>
										<div class="games__item games__betmax">
											<div class="games__labeltext">Max. bet:</div>
											<div class="games__value">100,000$</div>
										</div>
									</div>
									<div class="games__footer">
										<a href="#" class="games__like games__like_active">526</a>
										<a href="#" class="games__company">Thunderkick</a>
									</div>
								</div>
							</div>
							<div class="games__card games__card_default">
								<div class="games__image">
									<img src="../images/mob_6.png" alt="" class="games__img">
								</div>
								<div class="games__body">
									<div class="games__more">...</div>
									<a href="#" class="games__title">Planet of the Apes</a>
									<div class="games__bet">
										<div class="games__item games__betmin">
											<div class="games__labeltext">Min. bet: </div>
											<div class="games__value">1$</div>
										</div>
										<div class="games__item games__betmax">
											<div class="games__labeltext">Max. bet:</div>
											<div class="games__value">100,000$</div>
										</div>
									</div>
									<div class="games__footer">
										<a href="#" class="games__like games__like_active">526</a>
										<a href="#" class="games__company">Thunderkick</a>
									</div>
								</div>
							</div>
							<div class="games__card games__card_default">
								<div class="games__label games__label_hot">Hot</div>
								<div class="games__image">
									<img src="../images/mob_3.png" alt="" class="games__img">
								</div>
								<div class="games__body">
									<div class="games__more">...</div>
									<a href="#" class="games__title">Planet of the Apes</a>
									<div class="games__bet">
										<div class="games__item games__betmin">
											<div class="games__labeltext">Min. bet: </div>
											<div class="games__value">1$</div>
										</div>
										<div class="games__item games__betmax">
											<div class="games__labeltext">Max. bet:</div>
											<div class="games__value">100,000$</div>
										</div>
									</div>
									<div class="games__footer">
										<a href="#" class="games__like games__like_active">526</a>
										<a href="#" class="games__company">Thunderkick</a>
									</div>
								</div>
							</div>
							<div class="games__card games__card_default">
								<div class="games__image">
									<img src="../images/mob_2.png" alt="" class="games__img">
								</div>
								<div class="games__body">
									<div class="games__more">...</div>
									<a href="#" class="games__title">Planet of the Apes</a>
									<div class="games__bet">
										<div class="games__item games__betmin">
											<div class="games__labeltext">Min. bet: </div>
											<div class="games__value">1$</div>
										</div>
										<div class="games__item games__betmax">
											<div class="games__labeltext">Max. bet:</div>
											<div class="games__value">100,000$</div>
										</div>
									</div>
									<div class="games__footer">
										<a href="#" class="games__like games__like_active">526</a>
										<a href="#" class="games__company">Thunderkick</a>
									</div>
								</div>
							</div>
							<div class="games__card games__card_default">
								<div class="games__label games__label_hot">Hot</div>
								<div class="games__image">
									<img src="../images/mob_6.png" alt="" class="games__img">
								</div>
								<div class="games__body">
									<div class="games__more">...</div>
									<a href="#" class="games__title">Planet of the Apes</a>
									<div class="games__bet">
										<div class="games__item games__betmin">
											<div class="games__labeltext">Min. bet: </div>
											<div class="games__value">1$</div>
										</div>
										<div class="games__item games__betmax">
											<div class="games__labeltext">Max. bet:</div>
											<div class="games__value">100,000$</div>
										</div>
									</div>
									<div class="games__footer">
										<a href="#" class="games__like games__like_active">526</a>
										<a href="#" class="games__company">Thunderkick</a>
									</div>
								</div>
							</div>
							<div class="games__card games__card_default">
								<div class="games__image">
									<img src="../images/mob_5.png" alt="" class="games__img">
								</div>
								<div class="games__body">
									<div class="games__more">...</div>
									<a href="#" class="games__title">Planet of the Apes</a>
									<div class="games__bet">
										<div class="games__item games__betmin">
											<div class="games__labeltext">Min. bet: </div>
											<div class="games__value">1$</div>
										</div>
										<div class="games__item games__betmax">
											<div class="games__labeltext">Max. bet:</div>
											<div class="games__value">100,000$</div>
										</div>
									</div>
									<div class="games__footer">
										<a href="#" class="games__like games__like_active">526</a>
										<a href="#" class="games__company">Thunderkick</a>
									</div>
								</div>
							</div>
						</div>
					</div></div>
			</div>
		</div>
		//= templates/footer.html
	</div>
</body>
</html>
