//= templates/head.html
	<div class="wrapper not_front base_page">
		<div class="wrapper__content">
			<header class="header">
				<div class="header__content container">
					<div class="back__btn"></div>
				</div>
			</header>
			<div class="middle clearfix">
				<div class="policy base_text container">
					<div class="node">
						<div class="base__header">
							<h1 class="base__maintitle base__maintitle_policy">Privacy Policy</h1>
							<div class="base__text">Your privacy is important, we protect all information you share</div>
						</div>
						<div class="base__content">
							<div class="base__row">
								<div class="base__title">Privacy Policy</div>
								<div class="base__description">Co-Gaming Limited Privacy Policy Last Updated 29/02/2016 Version 1.5</div>
							</div>
							<div class="base__row">
								<div class="base__title">Introduction</div>
								<div class="base__description">Co-Gaming Limited wants visitors to its Website to know that we are just as concerned as you are about the privacy of any personal information that you may choose to provide us. Your privacy is important to you and to us so we will protect the information you share with us. To protect our privacy, Co-Gaming Limited follows different principles in accordance with worldwide ractices for customer privacy and data protection. This privacy policy, together with our <a href="#">general terms and conditions</a> describes how Co-Gaming Limited collects and uses the personal nformation you provide on our Website http://www.comeon.com. It also describes the choices available to you regarding our use of your personal information and how you can access and update this information. If you have questions or complaints regarding our privacy policy or practices, please contact us at support(at) comeon.com.</div>
							</div>
							<div class="base__row">
								<div class="base__title">Collection and Use of Personal Information</div>
								<div class="base__description">We collect the following personal information from you:
								Contact Information such as name, surname, date of birth, residential address, email address, phone number;
								Financial and Billing Information such as credit card number, name and surname of credit card holder, expiry date of credit card, CVC code, billing address, name of bank and bank account number;
								Official documents such as passport or identity document which includes a photograph of yourself.
								As is true of most Websites, we automatically gather information about your computer such as your IP address, browser type, referring/exit pages, and operating system. We use this information to.</div>
							</div>
							<div class="base__row">
								<div class="base__title">Notification of Privacy Policy Changes</div>
								<div class="base__description">We may update this privacy policy to reflect changes to our information practices. If we make any material changes we will notify you by email (sent to the e-mail address specified in your account) or by means of a notice on our Site prior to the change becoming effective. We encourage you to periodically review this page for the latest information on our privacy practices. If you have questions about this Privacy Policy or want to contact us regarding how we handle your data, please send an email to support(at)comeon.com or write to us at: Co-Gaming Limited Forth Mansions, Ground Floor & 1st Floor Ta’ Xbiex Sea Front, Ta’ Xbiex, </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- //= templates/footer.html -->
	</div>
</body>
</html>
