//= templates/head.html
	<div class="wrapper not_front base_page help_page">
		<div class="wrapper__content">
			<header class="header">
				<div class="header__content container">
					<div class="back__btn"></div>
					<div class="header__title">John Doe</div>
				</div>
			</header>
			<div class="middle clearfix">
				<div class="profile container">
					<div class="profile__header row">
						<div class="profile__container">
							<div class="profile__card">
								<div class="profile__label">My balance</div>
								<div class="profile__value">$ 10,000</div>
								<a href="#" class="profile__btn">Withdraw</a>
							</div>
							<div class="profile__card">
								<div class="profile__label">Shop points</div>
								<div class="profile__value">1,950</div>
								<a href="#" class="profile__btn profile__btn_deposit">Deposit</a>
							</div>
						</div>
					</div>
					<div class="profile__nav">
						<a href="#" class="profile__item profile__item_1">Pending Withdrawals</a>
						<a href="#" class="profile__item profile__item_2 profile__item_success">Mobile Number</a>
						<a href="#" class="profile__item profile__item_3 profile__item_error">Email Address</a>
						<a href="#" class="profile__item profile__item_4">Reality Check</a>
						<a href="#" class="profile__item profile__item_5">Upload Documents</a>
					</div>
					<div class="profile__footer">
						<a href="#" class="profile__logout">Log Out</a>
					</div>
				</div>
			</div>
			<div class="popup">
				<div class="popup_profile withdraw_popup">
					<div class="popup__header">
						<div class="popup__close"></div>
						<div class="popup__title">Pending Withdrawals</div>
					</div>
					<div class="base__header base__header_popup">
						<h1 class="base__maintitle base__maintitle_policy">Pending Withdrawals</h1>
						<div class="base__text base__text_profile">If you have any pending withdrawals, you can view or cancel them here.</div>
					</div>
				</div>
			</div>
		</div>
		//= templates/footer.html
	</div>
</body>
</html>
