//= templates/head.html
	<div class="wrapper not_front base_page help_page">
		<div class="wrapper__content">
			<header class="header">
				<div class="header__content container">
					<div class="back__btn"></div>
				</div>
			</header>
			<div class="middle clearfix">
				<div class="profile container">
					<div class="base__header base__header_popup base__header_check">
						<h1 class="base__maintitle base__maintitle_check">Reality Check</h1>
						<div class="base__text base__text_profile base__text_check">If you want reminders for how long you have been playing, you can set them up here.</div>
					</div>
					<form action="#" class="form_verify">
						<div class="form__item form__item_realty">
							<select class="form__select">
								<option value="No limit" selected>No limit</option>
								<option value="15 minutes">15 minutes</option>
								<option value="1 hour">1 hour</option>
							</select>
						</div>
						<input type="submit" class="verify__btn" value="Send Verification Email">
					</form>
				</div>
			</div>
		</div>
		//= templates/footer.html
	</div>
</body>
</html>
