//= templates/head.html
	<div class="wrapper front casino_page">
		<div class="wrapper__content">
			<header class="header">
				<div class="header__content container">
					<div class="menuBtn">
						<div class="menuBtn__item menuBtn__item_1"></div>
						<div class="menuBtn__item menuBtn__item_2"></div>
						<div class="menuBtn__item menuBtn__item_3"></div>
					</div>
					<div class="header__title">Sports</div>
					<div class="header__user">
						<a href="#" class="header__pay"></a>
						<a href="#" class="header__cabinet"></a>
					</div>
				</div>
			</header>
			<div class="middle clearfix">
				<div class="events">
					<div class="events__content events__content_score">
						<div class="events__header events__header_score">
							<a href="#" class="score__back">Back</a>
							<div class="score__links">
								<a href="#" class="score__link score__link_1"></a>
								<a href="#" class="score__link score__link_2 score__link_active"></a>
								<a href="#" class="score__link score__link_3"></a>
							</div>
						</div>
						<div class="liveStats">
							<div class="liveStats__content">
								<div class="liveStats__clubs">
									<div class="liveStats__club">
										<img class="liveStats__image1" src="../images/clubnew_1.png" alt=""> Tanta
									</div>
									<div class="liveStats__club">
										Misr Lel <img class="liveStats__image2" src="../images/clubnew_2.png" alt="">
									</div>
								</div>
								<div class="liveStats__tabs">
									<div class="liveStats__item"><a href="#" class="liveStats__link liveStats__link_active">All</a></div>
									<div class="liveStats__item"><a href="#" class="liveStats__link">1</a></div>
									<div class="liveStats__item"><a href="#" class="liveStats__link">2</a></div>
								</div>
								<div class="liveStats__statistic">
									<div class="liveStats__row">
										<div class="liveStats__header">
											<div class="liveStats__val">1</div>
											<div class="liveStats__val">Goal attempts</div>
											<div class="liveStats__val">2</div>
										</div>
										<div class="liveStats__main">
											<div class="liveStats__bar liveStats__bar_equal">
												<div class="liveStats__part"></div>
												<div class="liveStats__part"></div>
											</div>
										</div>
									</div>
									<div class="liveStats__row">
										<div class="liveStats__header">
											<div class="liveStats__val">4</div>
											<div class="liveStats__val">Shots on target</div>
											<div class="liveStats__val">5</div>
										</div>
										<div class="liveStats__main">
											<div class="liveStats__bar liveStats__bar_right">
												<div class="liveStats__part"></div>
												<div class="liveStats__part"></div>
											</div>
										</div>
									</div>
									<div class="liveStats__row">
										<div class="liveStats__header">
											<div class="liveStats__val">1</div>
											<div class="liveStats__val">Goal attempts</div>
											<div class="liveStats__val">2</div>
										</div>
										<div class="liveStats__main">
											<div class="liveStats__bar liveStats__bar_equal">
												<div class="liveStats__part"></div>
												<div class="liveStats__part"></div>
											</div>
										</div>
									</div>
									<div class="liveStats__row">
										<div class="liveStats__header">
											<div class="liveStats__val">5</div>
											<div class="liveStats__val">Shots on target</div>
											<div class="liveStats__val">4</div>
										</div>
										<div class="liveStats__main">
											<div class="liveStats__bar liveStats__bar_left">
												<div class="liveStats__part"></div>
												<div class="liveStats__part"></div>
											</div>
										</div>
									</div>
									<div class="liveStats__row">
										<div class="liveStats__header">
											<div class="liveStats__val">1</div>
											<div class="liveStats__val">Goal attempts</div>
											<div class="liveStats__val">2</div>
										</div>
										<div class="liveStats__main">
											<div class="liveStats__bar liveStats__bar_equal">
												<div class="liveStats__part"></div>
												<div class="liveStats__part"></div>
											</div>
										</div>
									</div>
									<div class="liveStats__row">
										<div class="liveStats__header">
											<div class="liveStats__val">4</div>
											<div class="liveStats__val">Shots on target</div>
											<div class="liveStats__val">5</div>
										</div>
										<div class="liveStats__main">
											<div class="liveStats__bar liveStats__bar_right">
												<div class="liveStats__part"></div>
												<div class="liveStats__part"></div>
											</div>
										</div>
									</div>
									<div class="liveStats__row">
										<div class="liveStats__header">
											<div class="liveStats__val">1</div>
											<div class="liveStats__val">Goal attempts</div>
											<div class="liveStats__val">2</div>
										</div>
										<div class="liveStats__main">
											<div class="liveStats__bar liveStats__bar_equal">
												<div class="liveStats__part"></div>
												<div class="liveStats__part"></div>
											</div>
										</div>
									</div>
									<div class="liveStats__row">
										<div class="liveStats__header">
											<div class="liveStats__val">5</div>
											<div class="liveStats__val">Shots on target</div>
											<div class="liveStats__val">4</div>
										</div>
										<div class="liveStats__main">
											<div class="liveStats__bar liveStats__bar_left">
												<div class="liveStats__part"></div>
												<div class="liveStats__part"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="events__tabs">
							<a href="#" class="events__link events__link_active">All Markets (20)</a>
							<a href="#" class="events__link">Main (17)</a>
							<a href="#" class="events__link">Goals (16)</a>
							<a href="#" class="events__link">All Markets (20)</a>
							<a href="#" class="events__link">Main (17)</a>
							<a href="#" class="events__link">Goals (16)</a>
						</div>
						<div class="events__wrap">
							<div class="events__row">
								<div class="events__title">1X1 Full Time</div>
								<div class="events__body">
									<div class="events__tr">
										<div class="events__col">
											<div class="events__item">
												<div class="events__label">Greece</div>
												<div class="events__value">-19 +136</div>
											</div>
										</div>
										<div class="events__col">
											<div class="events__item">
												<div class="events__label">Croatia</div>
												<div class="events__value">-19 +136</div>
											</div>
										</div>
									</div>
									<div class="events__tr">
										<div class="events__col">
											<div class="events__item">
												<div class="events__label">Greece</div>
												<div class="events__value">-19 +136</div>
											</div>
										</div>
										<div class="events__col">
											<div class="events__item">
												<div class="events__label">Croatia</div>
												<div class="events__value">-19 +136</div>
											</div>
										</div>
									</div>
									<div class="events__tr">
										<div class="events__col">
											<div class="events__item">
												<div class="events__label">Greece</div>
												<div class="events__value">-19 +136</div>
											</div>
										</div>
										<div class="events__col">
											<div class="events__item">
												<div class="events__label">Croatia</div>
												<div class="events__value">-19 +136</div>
											</div>
										</div>
									</div>
									<div class="events__tr">
										<div class="events__col">
											<div class="events__item">
												<div class="events__label">Greece</div>
												<div class="events__value">-19 +136</div>
											</div>
										</div>
										<div class="events__col">
											<div class="events__item">
												<div class="events__label">Croatia</div>
												<div class="events__value">-19 +136</div>
											</div>
										</div>
									</div>
									<div class="events__tr">
										<div class="events__col">
											<div class="events__item">
												<div class="events__label">Greece</div>
												<div class="events__value">-19 +136</div>
											</div>
										</div>
										<div class="events__col">
											<div class="events__item">
												<div class="events__label">Croatia</div>
												<div class="events__value">-19 +136</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="events__row">
								<div class="events__title">Friendly International</div>
								<div class="events__body">
									<div class="events__tr">
										<div class="events__col">
											<div class="events__item">
												<div class="events__label">Greece</div>
												<div class="events__value">-19 +136</div>
											</div>
										</div>
										<div class="events__col">
											<div class="events__item">
												<div class="events__label">Croatia</div>
												<div class="events__value">-19 +136</div>
											</div>
										</div>
									</div>
									<div class="events__tr">
										<div class="events__col">
											<div class="events__item">
												<div class="events__label">Greece</div>
												<div class="events__value">-19 +136</div>
											</div>
										</div>
										<div class="events__col">
											<div class="events__item">
												<div class="events__label">Croatia</div>
												<div class="events__value">-19 +136</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="events__row">
								<div class="events__title">1X1 Full Time</div>
								<div class="events__body">
									<div class="events__tr">
										<div class="events__col">
											<div class="events__item">
												<div class="events__label">Greece</div>
												<div class="events__value">-19 +136</div>
											</div>
										</div>
										<div class="events__col">
											<div class="events__item">
												<div class="events__label">Croatia</div>
												<div class="events__value">-19 +136</div>
											</div>
										</div>
									</div>
									<div class="events__tr">
										<div class="events__col">
											<div class="events__item">
												<div class="events__label">Greece</div>
												<div class="events__value">-19 +136</div>
											</div>
										</div>
										<div class="events__col">
											<div class="events__item">
												<div class="events__label">Croatia</div>
												<div class="events__value">-19 +136</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="events__row">
								<div class="events__title">1X1 Full Time</div>
								<div class="events__body">
									<div class="events__tr">
										<div class="events__col">
											<div class="events__item">
												<div class="events__label">Greece</div>
												<div class="events__value">-19 +136</div>
											</div>
										</div>
										<div class="events__col">
											<div class="events__item">
												<div class="events__label">Croatia</div>
												<div class="events__value">-19 +136</div>
											</div>
										</div>
									</div>
									<div class="events__tr">
										<div class="events__col">
											<div class="events__item">
												<div class="events__label">Greece</div>
												<div class="events__value">-19 +136</div>
											</div>
										</div>
										<div class="events__col">
											<div class="events__item">
												<div class="events__label">Croatia</div>
												<div class="events__value">-19 +136</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="events__row">
								<div class="events__title">France - Legue 1</div>
								<div class="events__body">
									<div class="events__tr">
										<div class="events__col">
											<div class="events__item">
												<div class="events__label">Greece</div>
												<div class="events__value">-19 +136</div>
											</div>
										</div>
										<div class="events__col">
											<div class="events__item">
												<div class="events__label">Croatia</div>
												<div class="events__value">-19 +136</div>
											</div>
										</div>
									</div>
									<div class="events__tr">
										<div class="events__col">
											<div class="events__item">
												<div class="events__label">Greece</div>
												<div class="events__value">-19 +136</div>
											</div>
										</div>
										<div class="events__col">
											<div class="events__item">
												<div class="events__label">Croatia</div>
												<div class="events__value">-19 +136</div>
											</div>
										</div>
									</div>
									<div class="events__tr">
										<div class="events__col">
											<div class="events__item">
												<div class="events__label">Greece</div>
												<div class="events__value">-19 +136</div>
											</div>
										</div>
										<div class="events__col">
											<div class="events__item">
												<div class="events__label">Croatia</div>
												<div class="events__value">-19 +136</div>
											</div>
										</div>
									</div>
									<div class="events__tr">
										<div class="events__col">
											<div class="events__item">
												<div class="events__label">Greece</div>
												<div class="events__value">-19 +136</div>
											</div>
										</div>
										<div class="events__col">
											<div class="events__item">
												<div class="events__label">Croatia</div>
												<div class="events__value">-19 +136</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="events__row">
								<div class="events__title">1X1 Full Time</div>
								<div class="events__body">
									<div class="events__tr">
										<div class="events__col">
											<div class="events__item">
												<div class="events__label">Greece</div>
												<div class="events__value">-19 +136</div>
											</div>
										</div>
										<div class="events__col">
											<div class="events__item">
												<div class="events__label">Croatia</div>
												<div class="events__value">-19 +136</div>
											</div>
										</div>
									</div>
									<div class="events__tr">
										<div class="events__col">
											<div class="events__item">
												<div class="events__label">Greece</div>
												<div class="events__value">-19 +136</div>
											</div>
										</div>
										<div class="events__col">
											<div class="events__item">
												<div class="events__label">Croatia</div>
												<div class="events__value">-19 +136</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="events__row">
								<div class="events__title">1X1 Full Time</div>
								<div class="events__body">
									<div class="events__tr">
										<div class="events__col">
											<div class="events__item">
												<div class="events__label">Greece</div>
												<div class="events__value">-19 +136</div>
											</div>
										</div>
										<div class="events__col">
											<div class="events__item">
												<div class="events__label">Croatia</div>
												<div class="events__value">-19 +136</div>
											</div>
										</div>
									</div>
									<div class="events__tr">
										<div class="events__col">
											<div class="events__item">
												<div class="events__label">Greece</div>
												<div class="events__value">-19 +136</div>
											</div>
										</div>
										<div class="events__col">
											<div class="events__item">
												<div class="events__label">Croatia</div>
												<div class="events__value">-19 +136</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="events__row">
								<div class="events__title">1X1 Full Time</div>
								<div class="events__body">
									<div class="events__tr">
										<div class="events__col">
											<div class="events__item">
												<div class="events__label">Greece</div>
												<div class="events__value">-19 +136</div>
											</div>
										</div>
										<div class="events__col">
											<div class="events__item">
												<div class="events__label">Croatia</div>
												<div class="events__value">-19 +136</div>
											</div>
										</div>
									</div>
									<div class="events__tr">
										<div class="events__col">
											<div class="events__item">
												<div class="events__label">Greece</div>
												<div class="events__value">-19 +136</div>
											</div>
										</div>
										<div class="events__col">
											<div class="events__item">
												<div class="events__label">Croatia</div>
												<div class="events__value">-19 +136</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>         
			</div>
		</div>
		//= templates/footer2.html
	</div>
</body>
</html>
