//= templates/head.html
	<div class="wrapper not_front base_page">
		<div class="wrapper__content">
			<header class="header">
				<div class="header__content container">
					<div class="back__btn"></div>
				</div>
			</header>
			<div class="middle clearfix">
				<div class="terms base_text container">
					<div class="node">
						<div class="base__header">
							<h1 class="base__maintitle base__maintitle_terms">Terms and Conditions</h1>
							<div class="base__text">By using any part of the service, you agree to the following terms and conditions.</div>
						</div>
						<div class="base__content">
							<div class="base__row">
								<div class="base__title base__title_terms">Terms and Conditions</div>
								<div class="base__title base__title_terms">Version 10-2017 Last update 02/11/2017</div>
								<div class="base__description">Please read these terms & conditions carefully before using the site and/or any services provided by Co-Gaming Ltd. By using the site and/or any services provided by Co-Gaming Ltd, you agree to be bound by: a) these Terms & Conditions; b) the Privacy Policy (visit the desktop site) and c) any terms and conditions and or rules with regards to sports, casino, promotions, bonuses and special offers which may apply from time to time. If you do not wish to be bound to these terms & conditions you may not access or use the site or any of the services provided.</div>
							</div>
							<div class="base__row">
								<div class="base__title">1. GENERAL</div>
								<div class="base__description"><p>1.1 The contractual relationship is between you as a player (hereinafter “you” or the “player”) and Co-Gaming Ltd (ComeOn). ComeOn is incorporated in Malta having its registered office at Ground Floor and Level 1, Forth Mansions, Ta’ Xbiex Seafront, Ta’ Xbiex, XBX 1027, Malta (Company registration number C 47444).</p>
								<p>The Net-Ent Casino that is provided by Co-Gaming Ltd is licensed and regulated by a Maltese license. The laws of Malta shall apply. The license is issued by the Malta Gaming Authority (MGA), which is a regulatory body. The license was issued on the 13th October 2011, under license number MGA/CL1/619/2009.</p>
								<p>The Microgaming Casino that is provided by Co-Gaming Ltd is licensed and regulated by a Maltese license. The laws of Malta shall apply. The license is issued by the Malta Gaming Authority (MGA), which is a regulatory body. The license was issued on the 8th November 2011, under license number MGA/CL1/773/2011.</p>
								<p>The Play n Go Casino that is provided by Co-Gaming Ltd is licensed and regulated by a Maltese license. The laws of Malta shall apply. The license is issued by the Malta Gaming Authority (MGA), which is a regulatory body. The license was issued on the 19th May 2014, under license number MGA/CL1/964/2014.</p></div>
							</div>
							<div class="base__row">
								<div class="base__title base__title_terms">2. USE OF SITE AND SERVICES</div>
								<div class="base__title base__title_terms">Player's account</div>
								<div class="base__description">1.1 The contractual relationship is between you as a player (hereinafter “you” or the “player”) and Co-Gaming Ltd (ComeOn). ComeOn is incorporated in Malta having its registered office at Ground Floor and Level 1, Forth Mansions, Ta’ Xbiex Seafront, Ta’ Xbiex, XBX 1027, Malta (Company registration number C 47444).</div>
							</div>
							<div class="base__row">
								<div class="base__title">Deposits & withdrawals</div>
								<div class="base__description">1.1 The contractual relationship is between you as a player (hereinafter “you” or the “player”) and Co-Gaming Ltd (ComeOn). ComeOn is incorporated in Malta having its registered office at Ground Floor and Level 1, Forth Mansions, Ta’ Xbiex Seafront, Ta’ Xbiex, XBX 1027, Malta (Company registration number C 47444).</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- //= templates/footer.html -->
	</div>
</body>
</html>
