//= templates/head.html
	<div class="wrapper not_front base_page help_page">
		<div class="wrapper__content">
			<header class="header">
				<div class="header__content container">
					<div class="back__btn"></div>
				</div>
			</header>
			<div class="middle clearfix">
				<div class="profile container">
					<div class="base__header base__header_popup base__header_verify">
						<h1 class="base__maintitle base__maintitle_mobile1">Verify or Update Email</h1>
						<div class="base__text base__text_profile">Please make sure that the email address written below is correct before triggering a verification email</div>
					</div>
					<form action="#" class="form_verify">
						<div class="form__item form__item_phone">
							<input type="text" class="form__text form__text_phone form__text_verify form__text_verify-email" placeholder="Email" value="johndoe@gmail.com">
						</div>
					</form>
					<input type="submit" class="verify__btn" value="Send Verification Email">
				</div>
			</div>
		</div>
		//= templates/footer.html
	</div>
</body>
</html>
